<%= render :partial => 'partials/titlebar', locals: {title: 'Propozice'} %>

<% 
  data = []
  data << {key: 'Datum konání', value: '<b>sobota 2.12.2023</b>'}
  data << {key: 'Start závodu', value: '12:00, hromadný'}
  data << {key: 'Trať závodu', value: '<b>Beží se od Hotelu Ráztoka po Knížecí cestě do prostoru horní stanice lanové dráhy. Délka trati je 5700&nbsp;m, převýšení je 400&nbsp;m.</b>'}
  data << {key: 'Prezence', value: 'Probíhá v den závodu před Hotelem Ráztoka a to od 9:00 do 11:00.'}
  data << {key: 'Startovné', value: 'Při přihlášení a zaplacení předem <b>250 Kč</b> (platba musí přijít na účet do <b>29.11.2023</b> včetně), po tomto termínu a&nbsp;v&nbsp;den závodu <b>300 Kč</b>.'}
  data << {key: 'Přihlášky', value: "Přihlašujte se prostřednictvím <a href=#{new_entrant_path}>webového formuláře</a>. Po odeslání formuláře obdržíte email s platebními údaji. (Máte-li zájem o hromadnou přihlášku, kontaktujte nás prosím emailem.)"}

  data_small = []
  data_small << {key: 'Datum konání', value: '<b>sobota 2.12.2023</b>'}
  data_small << {key: 'Start závodu', value: '10:00, hromadný'}
  data_small << {key: 'Trať závodu', value: 'Beží se od Hotelu Ráztoka ke spodní stanici lanové dráhy. Délka trati je 600m.'}
  data_small << {key: 'Prezence', value: 'Probíhá v den závodu v bufetu Hotelu Ráztoka a to od 8:30 do 9:30.'}
  data_small << {key: 'Startovné', value: 'Dětský závod je bez startovného.'}
  data_small << {key: 'Přihlášky', value: 'Přihlašuje se na místě v den závodu při prezentaci. V případě, že se chystáte přijet s větší skupinou dětí, dejte nám, prosím, vědět na náš email.'}
%>

<!-- Content -->
<div id="content">
  <div class="container">

    <!-- Hlavni zavod -->
    <div class="row">
      <div class="col-md-12">

        <%#= render 'partials/covid' %>

        <h2>Hlavní závod</h2>

        <div class="row">
          <div class="col-md-12">

            <% data.each do |d| %>
              <div class="bs-callout bs-callout-danger">
                <h4><%= d[:key] %></h4>
                <p><%= raw d[:value] %></p>
              </div>
            <% end %>

            <h3>Kategorie</h3>

            <div class="col-md-8 col-md-offset-2">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="col-md-1" colspan="2">Kategorie</th>
                    <th class="col-md-3">Věk</th>
                    <th class="col-md-3">Ročník narození</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class='even'>
                    <td class="center">Muži</td>
                    <td class="center">J</td>
                    <td class="center">17 let a méně</td>
                    <td class="center">2006 a mladší</td>
                  </tr>  
                  <tr class='odd'>
                    <td class="center">Muži</td>
                    <td class="center">A</td>
                    <td class="center">18 - 39 let</td>
                    <td class="center">1984 - 2005</td>
                  </tr>  
                  <tr class='even'>
                    <td class="center">Muži</td>
                    <td class="center">B</td>
                    <td class="center">40 - 49 let</td>
                    <td class="center">1974 - 1983</td>
                  </tr>  
                  <tr class='odd'>
                    <td class="center">Muži</td>
                    <td class="center">C</td>
                    <td class="center">50 - 59 let</td>
                    <td class="center">1964 - 1973</td>
                  </tr>  
                  <tr class='even'>
                    <td class="center">Muži</td>
                    <td class="center">D</td>
                    <td class="center">60 let a více</td>
                    <td class="center">1963 a starší</td>
                  </tr>  
                  <tr class='odd'>
                    <td class="center">Ženy</td>
                    <td class="center">ZJ</td>
                    <td class="center">17 let a méně</td>
                    <td class="center">2006 a mladší</td>
                  </tr>  
                  <tr class='even'>
                    <td class="center">Ženy</td>
                    <td class="center">ZA</td>
                    <td class="center">18 - 39 let</td>
                    <td class="center">1984 - 2005</td>
                  </tr>  
                  <tr class='odd'>
                    <td class="center">Ženy</td>
                    <td class="center">ZB</td>
                    <td class="center">40 let a více</td>
                    <td class="center">1983 a starší</td>
                  </tr>  
                </tbody>
              </table>
            </div>

            <h3>Doplňující informace</h3>
            <ul class="list-a">
              <li><b>Limit v hlavním závodě je 300 startujících</b></li>
              <li>Každý <b>předem přihlášený</b> závodník obdrží při prezentaci tradiční tričko (při přihlášení na místě pouze do vydání zásob)</li>
              <li><b>Startovní číslo musí být umístěno viditelně na prsou</b></li>
              <li>Pro závodníky bude zajištěn vývoz oblečení na Pustevny</li>
              <li>V cíli bude pro závodníky zajištěn čaj</li>
              <li>Vyhlášení závodu bude probíhat na Pustevnách v prostoru cíle přibližně ve 14:00</li>
              <li>Parkování aut je možné na veřejných parkovištích v Ráztoce</li>
              <li><b>Každý závodník startuje na vlastní nebezpečí</b></li>
              <li>Závod se koná za každého počasí</li>
            </ul>   

          </div>
        </div>

      </div>
    </div>
      <!-- HLavni zavod End -->

    <!-- Maly zavod -->
    <div class="row">
      <div class="col-md-12">
        <h2>Závod dětí</h2>

        <div class="row">
          <div class="col-md-12">

            <% data_small.each do |d| %>
              <div class="bs-callout bs-callout-danger">
                <h4><%= d[:key] %></h4>
                <p><%= raw d[:value] %></p>
              </div>
            <% end %>

            <h3>Kategorie</h3>

            <div class="col-md-8 col-md-offset-2">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="col-md-1" colspan="2">Kategorie</th>
                    <th class="col-md-3">Věk</th>
                    <th class="col-md-3">Ročník narození</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class='even'>
                    <td class="center">Děti</td>
                    <td class="center">M</td>
                    <td class="center">1 - 5 let</td>
                    <td class="center">2018 - 2022</td>
                  </tr>  
                  <tr class='odd'>
                    <td class="center">Chlapci</td>
                    <td class="center">O</td>
                    <td class="center">6 - 7 let</td>
                    <td class="center">2016 - 2017</td>
                  </tr>  
                  <tr class='even'>
                    <td class="center">Chlapci</td>
                    <td class="center">P</td>
                    <td class="center">8 - 10 let</td>
                    <td class="center">2013 - 2015</td>
                  </tr>  
                  <tr class='odd'>
                    <td class="center">Chlapci</td>
                    <td class="center">R</td>
                    <td class="center">11 - 13 let</td>
                    <td class="center">2010 - 2012</td>
                  </tr>  
                  <tr class='even'>
                    <td class="center">Dívky</td>
                    <td class="center">S</td>
                    <td class="center">6 - 7 let</td>
                    <td class="center">2016 - 2017</td>
                  </tr>  
                  <tr class='odd'>
                    <td class="center">Dívky</td>
                    <td class="center">T</td>
                    <td class="center">8 - 10 let</td>
                    <td class="center">2013 - 2015</td>
                  </tr>  
                  <tr class='even'>
                    <td class="center">Dívky</td>
                    <td class="center">U</td>
                    <td class="center">11 - 13 let</td>
                    <td class="center">2010 - 2012</td>
                  </tr>  
                </tbody>
              </table>
            </div>

            <h3>Doplňující informace</h3>
            <ul class="list-a">
              <li>Vyhlášení závodu bude probíhat v před Hotelem Ráztoka ihned po závodě (po přesunutí závodníků zpět do Ráztoky)</li>
              <li><b>Každý závodník startuje na vlastní nebezpečí</b></li>
              <li>Závod se koná za každého počasí</li>
              <li>Děti můžou běžet v doprovodu rodičů</li>
            </ul>   


          </div>

        </div>
      </div>

    </div>
    <!-- Maly zavod End -->

    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->
