<%= render :partial => 'partials/titlebar', locals: {title: 'Výsledky'} %>

<%

  results = [
      [1,"","",1,"","","","","",225,"Holiš Martin","Běžecký areál Pustevny",1974,"30:30","00:00"],
      [2,"",1,"","","","","","",247,"Kantor Miroslav","TOBI sport",1990,"31:26","00:56"],
      [3,1,"","","","","","","",176,"Grebik Radim","Titan Trilife",2001,"32:03","01:33"],
      [4,"",2,"","","","","","",186,"Jakubec Tomáš","",1990,"32:25","01:55"],
      [5,"",3,"","","","","","",174,"Dobiáš Ondřej","AK EZ Kopřivnice",1997,"32:36","02:06"],
      [6,"",4,"","","","","","",57,"Fousek Jan","Mk Seitl Ostrava",1991,"32:57","02:27"],
      [7,"",5,"","","","","","",203,"Dorňák Petr","",1992,"33:24","02:54"],
      [8,"","",2,"","","","","",82,"Škapa Marek","MK Seitl Ostrava",1971,"33:32","03:02"],
      [9,"",6,"","","","","","",155,"Poláček Michal","Valašské Meziříčí",1989,"33:46","03:16"],
      [10,2,"","","","","","","",161,"Špaček  David","TJ Rožnov p. R. ",2001,"33:52","03:22"],
      [11,"",7,"","","","","","",10,"Radomský Marek","",1989,"34:09","03:39"],
      [12,"",8,"","","","","","",240,"gawlas dominik","KW Bielsko",1982,"34:15","03:45"],
      [13,"",9,"","","","","","",77,"Kocián Aleš","AO SVČ Rožnov p. R.",1982,"34:45","04:15"],
      [14,"",10,"","","","","","",224,"Němec Jakub","Caramba! Team",1984,"35:10","04:40"],
      [15,"","",3,"","","","","",157,"Barabáš Jan","TTC Olomouc",1976,"35:34","05:04"],
      [16,"",11,"","","","","","",251,"Reček Lukáš","Telebridge team Ostrava",1978,"35:38","05:08"],
      [17,"",12,"","","","","","",119,"Kabeláč Jakub ","Valašské Meziříčí",1989,"35:39","05:09"],
      [18,"",13,"","","","","","",60,"Pop Marek","TJ Mořkov",1992,"35:50","05:20"],
      [19,"",14,"","","","","","",197,"Kramoliš Jiří","AKEZ Kopřivnice",1991,"35:56","05:26"],
      [20,"",15,"","","","","","",27,"Lušovský Eda","",1981,"35:59","05:29"],
      [21,"",16,"","","","","","",144,"Nováček Tomáš","HO START Ostrava",1994,"36:03","05:33"],
      [22,"",17,"","","","","","",125,"Ožana Lukáš","AO Slavia Havířov",1997,"36:04","05:34"],
      [23,"","",4,"","","","","",201,"Jalůvka Jakub","",1975,"36:04","05:34"],
      [24,"","",5,"","","","","",252,"Němeček Martin","Valašsk Bystřice",1973,"36:06","05:36"],
      [25,"","",6,"","","","","",169,"Kaláb Dalibor","",1972,"36:07","05:37"],
      [26,"","","",1,"","","","",213,"Mynář Jura","MTB Ondřejník",1965,"36:19","05:49"],
      [27,"",18,"","","","","","",126,"Záleský Stanislav","AO Slavia Havířov",1987,"36:28","05:58"],
      [28,"",19,"","","","","","",273,"Gregorescu Lubor","TJ  Rožnov p.R.",1981,"36:30","06:00"],
      [29,"",20,"","","","","","",124,"Polášek Jan","AO Slavia Havířov",1980,"36:31","06:01"],
      [30,"",21,"","","","","","",6,"Střalka Tomáš","TJ Trojanovice Bystré",1990,"36:35","06:05"],
      [31,"","","","","","",1,"",120,"Šilhová Kristýna","Valašské Meziříčí",1993,"36:37","06:07"],
      [32,"","","",2,"","","","",154,"Olejník Jaroslav","SK Rozvíjej se poupátko",1967,"36:38","06:08"],
      [33,"","",7,"","","","","",235,"Hvolka Petr","Jump sport ",1975,"36:58","06:28"],
      [34,"",22,"","","","","","",153,"Barabáš David","Tatran Litovel",1986,"37:03","06:33"],
      [35,"",23,"","","","","","",116,"Křístek Petr","HO VSK VŠB-TU Ostrava",1987,"37:21","06:51"],
      [36,"","",8,"","","","","",207,"Kalina Petr","FBC Sokol Frenštát",1976,"37:23","06:53"],
      [37,"","","",3,"","","","",16,"Zátopek Jiří","AK EZ Kopřivnice",1960,"37:29","06:59"],
      [38,"",24,"","","","","","",114,"Pfneisl Lukáš","",1981,"37:38","07:08"],
      [39,"","","","","","",2,"",152,"Bluchová Kateřina","SSK Vítkovice/ Mushing team Ostrava",1983,"37:39","07:09"],
      [40,3,"","","","","","","",85,"Škrobák Petr","",2001,"37:41","07:11"],
      [41,"",25,"","","","","","",184,"Vlček Michal","Los Amateros MTB Bílovec",1993,"37:42","07:12"],
      [42,"",26,"","","","","","",84,"Wolf Tomáš","",1996,"37:46","07:16"],
      [43,"",27,"","","","","","",40,"Kubíček Martin","TJ Mokrá",1987,"37:46","07:16"],
      [44,"",28,"","","","","","",276,"Kocián Daniel","hup na kolo CZ",1987,"37:47","07:17"],
      [45,"",29,"","","","","","",122,"Felčír David","Cardio & Power Training",1988,"37:53","07:23"],
      [46,"",30,"","","","","","",141,"Mareš Petr","HO START Ostrava",1979,"37:55","07:25"],
      [47,"",31,"","","","","","",41,"Beneš Jakub","HK Laši v kaši",1988,"37:58","07:28"],
      [48,"",32,"","","","","","",78,"Vidlička Petr","",1990,"38:00","07:30"],
      [49,"",33,"","","","","","",167,"Michálek Pavel","",1988,"38:01","07:31"],
      [50,"","","",4,"","","","",80,"Mück Arnošt","Hranice",1959,"38:03","07:33"],
      [51,"",34,"","","","","","",115,"Sýkora Pavel ","vícebojař z Kotouče",1981,"38:07","07:37"],
      [52,"",35,"","","","","","",140,"Klimánek Lukáš","HO START Ostrava",1979,"38:08","07:38"],
      [53,"",36,"","","","","","",166,"Michálek Petr","",1991,"38:22","07:52"],
      [54,"",37,"","","","","","",31,"Pokluda Jiří","JER",1979,"38:27","07:57"],
      [55,"","",9,"","","","","",102,"Petřek Libor","TJ Gumárny Zubří",1971,"38:30","08:00"],
      [56,"",38,"","","","","","",137,"Blahuta Tomáš","příznivec HO START Ostrava ",1992,"38:46","08:16"],
      [57,"",39,"","","","","","",187,"Mališ Martin","",1983,"38:49","08:19"],
      [58,"","","","","","",3,"",221,"Baginská Markéta","BeYourOwnCoach",1997,"38:52","08:22"],
      [59,4,"","","","","","","",128,"Ježek Petr","AO Slavia Havířov",2001,"38:52","08:22"],
      [60,"","",10,"","","","","",44,"Kubečka Tomáš","",1972,"38:53","08:23"],
      [61,"","","","","","",4,"",75,"Kovařčíková  Helena ","",1978,"38:54","08:24"],
      [62,"","",11,"","","","","",258,"Kamrád René","Energy team Bolatice",1977,"38:55","08:25"],
      [63,"","",12,"","","","","",210,"Chýlek Patrik","",1973,"38:57","08:27"],
      [64,"","","",5,"","","","",239,"pšenica julius","",1967,"39:00","08:30"],
      [65,"",40,"","","","","","",135,"Marák Jakub","SDH Mniší",1994,"39:07","08:37"],
      [66,"","",13,"","","","","",97,"Dobeš Vlastimil","Valašské Meziříčí",1970,"39:07","08:37"],
      [67,5,"","","","","","","",206,"Rybařík Marek","Titan Trilife",2001,"39:10","08:40"],
      [68,"","","","","","","",1,262,"Krausová Darina","AK EZ Kopřivanice",1974,"39:15","08:45"],
      [69,"",41,"","","","","","",275,"Kotek Martin","Rybí",1990,"39:20","08:50"],
      [70,"","","",6,"","","","",26,"Vinklárek Jiří","TJ Rožnov pod Radhoštěm",1961,"39:25","08:55"],
      [71,"","","","","","","",2,37,"Fialová Hana","HO TJ Baník Karviná",1972,"39:26","08:56"],
      [72,"","","",7,"","","","",200,"Punge Petr","SK Přerov",1967,"39:29","08:59"],
      [73,"","",14,"","","","","",268,"Veselý Antonín","",1976,"39:31","09:01"],
      [74,"","","",8,"","","","",149,"Vávra Petr","HO START Ostrava",1962,"39:32","09:02"],
      [75,"","",15,"","","","","",36,"Fiala David","HO TJ Baník Karviná",1970,"39:35","09:05"],
      [76,"","",16,"","","","","",267,"Pechlát Ctibor","Malý a VELKÝ",1976,"39:47","09:17"],
      [77,"","",17,"","","","","",145,"Ondruš Jan","HO START Ostrava",1975,"40:15","09:45"],
      [78,"",42,"","","","","","",227,"Sváček Martin","",1981,"40:20","09:50"],
      [79,"",43,"","","","","","",209,"Běčák Jan","",1990,"40:21","09:51"],
      [80,6,"","","","","","","",237,"Sokol Marek","Atletika Poruba",2002,"40:23","09:53"],
      [81,"","",18,"","","","","",191,"Raška Zbyněk","SK ZaFaR Frenštát p.R.",1975,"40:28","09:58"],
      [82,"",44,"","","","","","",269,"Blahoveac Petr","Malý a VELKÝ",1981,"40:30","10:00"],
      [83,"",45,"","","","","","",162,"Pustka Martin","",1999,"40:34","10:04"],
      [84,"",46,"","","","","","",146,"Sotolář Petr","HO START Ostrava",1982,"40:34","10:04"],
      [85,"","",19,"","","","","",86,"Škrobák Petr","AO SVČ Rožnov p.R.",1972,"40:35","10:05"],
      [86,"",47,"","","","","","",112,"Pavliska Jakub","BBFM",1987,"40:38","10:08"],
      [87,7,"","","","","","","",241,"Pagáč Ondřej","Titan Zlín",2001,"40:43","10:13"],
      [88,"",48,"","","","","","",277,"Žurek Pavel","",1988,"40:46","10:16"],
      [89,"","","",9,"","","","",212,"Lipina Tomáš ","MK Seitl Ostrava",1966,"40:52","10:22"],
      [90,"",49,"","","","","","",67,"Březina Martin","SDH METYLOVICE",1988,"41:01","10:31"],
      [91,"",50,"","","","","","",173,"Jakubov Marek ","",1995,"41:05","10:35"],
      [92,"","","","",1,"","","",103,"Přívětivý Miroslav","DD Všechovice",1953,"41:08","10:38"],
      [93,"","",20,"","","","","",15,"Janyška František ","RH Rybníčky",1969,"41:10","10:40"],
      [94,"",51,"","","","","","",56,"Maloň Vladimír ","Gumárny Zubří",1980,"41:15","10:45"],
      [95,"",52,"","","","","","",127,"Polášek Vít","AO Slavia Havířov",1994,"41:16","10:46"],
      [96,"","",21,"","","","","",163,"Pustka Petr","",1973,"41:19","10:49"],
      [97,"",53,"","","","","","",242,"Wojnar Martin","Chotěbuz ",1981,"41:28","10:58"],
      [98,"","","",10,"","","","",168,"Burget Miloslav","1.MtB Opatovice",1961,"41:32","11:02"],
      [99,"","","","",2,"","","",25,"Najdek Bohumír","Racing Olešná",1955,"41:33","11:03"],
      [100,"",54,"","","","","","",5,"Muras Lukáš","FBC Sokol Frenštát pod Radhoštěm ",1996,"41:44","11:14"],
      [101,"",55,"","","","","","",62,"Pivoňka Josef ","",1987,"41:49","11:19"],
      [102,"",56,"","","","","","",182,"Skřivan Filip","příznivec HO START Ostrava",1985,"41:50","11:20"],
      [103,"","",22,"","","","","",33,"Bílek Pavel","",1970,"41:51","11:21"],
      [104,"","","",11,"","","","",13,"Šelepa Rudolf","RH Rybníčky",1964,"41:54","11:24"],
      [105,"",57,"","","","","","",195,"Jirka Jakub","Abadzikra",1979,"42:12","11:42"],
      [106,"","","","","","",5,"",245,"Krramolišová Jitka","",1985,"42:15","11:45"],
      [107,"","",23,"","","","","",98,"Halamíček Marek","Frenštát ",1975,"42:19","11:49"],
      [108,"",58,"","","","","","",222,"Batrla Tomáš","",1999,"42:20","11:50"],
      [109,"",59,"","","","","","",270,"Čechmánek David","Kalici jednotka",1987,"42:21","11:51"],
      [110,"",60,"","","","","","",202,"Rejnuš Vojtěch","cykloklub-CZK",1991,"42:25","11:55"],
      [111,"",61,"","","","","","",18,"Štývar Jiří","",1989,"42:28","11:58"],
      [112,"","","","","","","",3,236,"Herotová Simona","",1975,"42:30","12:00"],
      [113,"","",24,"","","","","",250,"Procházka Libor","",1977,"42:32","12:02"],
      [114,8,"","","","","","","",74,"Vavřík Tomáš","SKOB Ostrava",2000,"42:36","12:06"],
      [115,"",62,"","","","","","",129,"Šimíček Petr","SDH Mniší",1979,"42:37","12:07"],
      [116,"",63,"","","","","","",132,"Žabenský Stanislav","SDH Mniší",1991,"42:38","12:08"],
      [117,"","",25,"","","","","",150,"Kratochvíl Michal","HO START Ostrava",1971,"42:40","12:10"],
      [118,"",64,"","","","","","",148,"Vávra Adam","HO START Ostrava",1984,"42:40","12:10"],
      [119,"",65,"","","","","","",131,"Špaček Pavel","SDH Mniší",1982,"42:41","12:11"],
      [120,9,"","","","","","","",136,"Mrkva Tomáš","SDH Mniší",2001,"42:42","12:12"],
      [121,"",66,"","","","","","",76,"Kovařčík Daniel ","",1979,"42:55","12:25"],
      [122,"",67,"","","","","","",233,"Smrčka Marek","",1995,"42:55","12:25"],
      [123,"","",26,"","","","","",192,"Němec Petr","",1977,"42:57","12:27"],
      [124,"","",27,"","","","","",17,"Jeřábek Kamil","VK Perun Ostrava",1976,"43:02","12:32"],
      [125,"","",28,"","","","","",70,"Bajgar David","STS Chvojkovice-Brod",1976,"43:03","12:33"],
      [126,"",68,"","","","","","",1,"Novotný Martin","",1988,"43:13","12:43"],
      [127,10,"","","","","","","",259,"Raška Jan","",2001,"43:14","12:44"],
      [128,"","","","","","","",4,32,"Gregořicová Jitka","Azimut",1977,"43:24","12:54"],
      [129,"","","",12,"","","","",59,"Pernica Pavel","Gumárny Zubří",1965,"43:36","13:06"],
      [130,11,"","","","","","","",175,"Pluhař David","TITAN sport club",2003,"43:40","13:10"],
      [131,"",69,"","","","","","",208,"Langer Aleš","",1981,"43:42","13:12"],
      [132,"","",29,"","","","","",159,"Macíček Pavel","",1972,"43:43","13:13"],
      [133,"",70,"","","","","","",88,"Hrubčo Jozef","AO SVČ Rožnov p.R",1982,"43:43","13:13"],
      [134,"",71,"","","","","","",113,"Siročák Petr","Tři křižky CF",1978,"43:46","13:16"],
      [135,"","",30,"","","","","",255,"Marcinčák Branislav","",1976,"43:47","13:17"],
      [136,"",72,"","","","","","",50,"Sikora Jan ","Hůrka",1982,"43:49","13:19"],
      [137,"","",31,"","","","","",183,"Kaluža Radim","příznivec HO START Ostrava",1976,"43:52","13:22"],
      [138,"","",32,"","","","","",30,"Kubánek Pavel","Los Amateros MTB Bílovec",1968,"43:54","13:24"],
      [139,"","",33,"","","","","",158,"Duraj Miroslav","",1975,"44:20","13:50"],
      [140,"","","",13,"","","","",96,"Zika Tomaš","bežecka skupina česky tešin",1967,"44:21","13:51"],
      [141,"","",34,"","","","","",171,"Pisklák Radoslav ","cardio power training",1977,"44:25","13:55"],
      [142,"",73,"","","","","","",134,"Marák Ondřej","SDH Mniší",1991,"44:26","13:56"],
      [143,12,"","","","","","","",199,"Punge Samuel ","SK Přerov",2003,"44:30","14:00"],
      [144,"",74,"","","","","","",142,"Mildorf Lukáš","HO START Ostrava",1979,"44:36","14:06"],
      [145,"",75,"","","","","","",216,"Melčák Martin","",1996,"44:45","14:15"],
      [146,"","","",14,"","","","",55,"Beseda Jaroslav","zasebe",1961,"44:46","14:16"],
      [147,"",76,"","","","","","",280,"Zela Radek","Čert",1979,"44:47","14:17"],
      [148,"","","","","","",6,"",110,"Bílková Zuzana","SDH Metylovice",1987,"44:48","14:18"],
      [149,"","",35,"","","","","",105,"Krejča Roman","",1972,"44:51","14:21"],
      [150,"","",36,"","","","","",8,"Svěchota Milan","SKOB Ostrava",1972,"44:53","14:23"],
      [151,"","","",15,"","","","",79,"Tomečka Libor","Hranice",1962,"45:04","14:34"],
      [152,"","","","","","",7,"",263,"Kubičková Veronika","Štefko running team",1991,"45:09","14:39"],
      [153,"","",37,"","","","","",43,"Král Roman","",1969,"45:15","14:45"],
      [154,"","","","",3,"","","",104,"Chytil Vladimír","DD Všechovice",1950,"45:19","14:49"],
      [155,"","",38,"","","","","",107,"Slíva Pavel","Pomalé šípy Kopřivnice",1971,"45:21","14:51"],
      [156,"",77,"","","","","","",73,"Švacha Marek","HK Opava",1997,"45:26","14:56"],
      [157,"","",39,"","","","","",66,"Štefanský Pavel","",1968,"45:35","15:05"],
      [158,"",78,"","","","","","",54,"Nováček Martin","",1992,"45:36","15:06"],
      [159,"","",40,"","","","","",117,"Šimeček Radim","Midar Příbor",1969,"45:37","15:07"],
      [160,"",79,"","","","","","",47,"Pop Ondřej","",1994,"45:37","15:07"],
      [161,"","","",16,"","","","",108,"Olejník Dalibor","olejfoto",1965,"45:40","15:10"],
      [162,"",80,"","","","","","",278,"Korčák Lukáš","",1986,"45:42","15:12"],
      [163,"","","",17,"","","","",52,"Březina Ladislav","MK Seitl Ostrava,",1961,"45:47","15:17"],
      [164,"","","","","","","",5,274,"Buršová Taťána","Abadžigra",1975,"45:49","15:19"],
      [165,"","","","","","","",6,65,"Janošcová Martina","KaTaMaRUN",1974,"45:51","15:21"],
      [166,"",81,"","","","","","",51,"Indrák Zdeněk","Straník",1989,"45:52","15:22"],
      [167,"",82,"","","","","","",130,"Hrabovský Tomáš","SDH Mniší",1983,"45:56","15:26"],
      [168,"","",41,"","","","","",246,"Káňa Tom","",1976,"46:02","15:32"],
      [169,"","","","","","",8,"",170,"Šnapková Petra","Tři Křížky ",1985,"46:16","15:46"],
      [170,"","","",18,"","","","",223,"Vavřík Jaroslav","",1960,"46:17","15:47"],
      [171,"","","","","","",9,"",178,"Bukovská Radka","",1982,"46:20","15:50"],
      [172,"","",42,"","","","","",2,"Filip Jan","VK Perun Ostrava",1976,"46:24","15:54"],
      [173,"",83,"","","","","","",38,"Florian Pavel","TJ Mokra",1980,"46:25","15:55"],
      [174,"","","","","","","",7,172,"Škrdová Danuše","mk seitl ostrava",1965,"46:26","15:56"],
      [175,"",84,"","","","","","",90,"Wolf Radomír","",1988,"46:27","15:57"],
      [176,"","","",19,"","","","",205,"Šuba Ladislav","HO Kailas Nový Jičín",1961,"46:32","16:02"],
      [177,"","",43,"","","","","",189,"Randus Josef","Zubří",1972,"46:37","16:07"],
      [178,"",85,"","","","","","",58,"Izvorský Jan","SDH METYLOVICE",1981,"46:40","16:10"],
      [179,"",86,"","","","","","",61,"Svoboda Petr","",1989,"47:09","16:39"],
      [180,"","",44,"","","","","",254,"Bezstarosti Milan","Kopřivnice",1972,"47:17","16:47"],
      [181,"",87,"","","","","","",243,"Novák Michal","",1997,"47:24","16:54"],
      [182,"","","","","","","",8,28,"Hanzlová Svatava","PJR Frenštát p.R.",1966,"47:25","16:55"],
      [183,"","","","","","",10,"",261,"Široká Radka","",1987,"47:33","17:03"],
      [184,"","","",20,"","","","",35,"Radomský Libor","Ostrava - Poruba",1966,"47:34","17:04"],
      [185,"","","","","",1,"","",156,"Srovnalová Lada","AO SVČ Rožnov pod Radhoštěm",2003,"47:39","17:09"],
      [186,13,"","","","","","","",198,"Punge Oliver","SK Přerov",2003,"47:43","17:13"],
      [187,"","","","","","",11,"",45,"Knězková Jana","Ostrava",1987,"47:52","17:22"],
      [188,"","",45,"","","","","",34,"Valko Petr","ValkoPartners",1972,"47:55","17:25"],
      [189,"",88,"","","","","","",228,"Valchař Lukáš","",1979,"48:10","17:40"],
      [190,"","",46,"","","","","",196,"Tisoň Marcel","MT Fitness",1974,"48:51","18:21"],
      [191,"",89,"","","","","","",147,"Šustek Pavel","HO START Ostrava",1979,"48:55","18:25"],
      [192,"",90,"","","","","","",121,"Látal Martin","",1984,"48:56","18:26"],
      [193,"",91,"","","","","","",272,"Hajdušek Petr","Za sebe",1983,"49:02","18:32"],
      [194,"","","","","","",12,"",231,"Orlíková Jana","TEAM lightbike",1990,"49:32","19:02"],
      [195,"","",47,"","","","","",266,"Grosman Aleš","Aleš",1973,"49:32","19:02"],
      [196,"",92,"","","","","","",89,"Skýpala Jakub","FBC Sokol Frenštát pod Radhoštěm",1997,"49:38","19:08"],
      [197,"","","","","","",13,"",165,"Fujáková Kateřina","OB Havířov",1985,"50:11","19:41"],
      [198,"","","","","","",14,"",118,"Žáčková Eva","",1989,"50:14","19:44"],
      [199,"","","","","","",15,"",91,"Vičanová Hana","",1985,"50:30","20:00"],
      [200,"","","","","","","",9,164,"Perůtková Šárka ","",1975,"50:37","20:07"],
      [201,"","",48,"","","","","",64,"Kunz Martin","",1973,"50:37","20:07"],
      [202,"",93,"","","","","","",253,"Dvorský Jan","Nový Jičín",1981,"50:41","20:11"],
      [203,"",94,"","","","","","",257,"Tarana Jan Adam","Mattoni free ran F-M",1999,"50:55","20:25"],
      [204,"","","","","","","",10,63,"Kociánová Naďa","",1966,"50:57","20:27"],
      [205,"","","","",4,"","","",39,"Bučánek Jiří","",1956,"50:57","20:27"],
      [206,14,"","","","","","","",260,"Raška Matouš","",2005,"51:02","20:32"],
      [207,"","",49,"","","","","",100,"Dvořák František ","Division Rosenau",1976,"51:10","20:40"],
      [208,"","",50,"","","","","",160,"Stecker Marek","HO START OSTRAVA",1974,"51:11","20:41"],
      [209,"",95,"","","","","","",248,"Sedlák Marek","Kokosy na sněhu",1984,"51:12","20:42"],
      [210,"",96,"","","","","","",249,"Pupík Vladan","Obecní policie",1983,"51:13","20:43"],
      [211,"",97,"","","","","","",271,"Sanetra Lukáš","HO Start Ostrava",1983,"51:18","20:48"],
      [212,"","","","","","","",11,232,"Matuštíková Jana","Team LightBIKE",1968,"51:27","20:57"],
      [213,"","","","","","","",12,106,"Máchová Monika","Pomalé šípy",1972,"51:29","20:59"],
      [214,"",98,"","","","","","",12,"Koťátko Aleš","",1983,"51:52","21:22"],
      [215,"","","",21,"","","","",143,"Mimra Luděk","HO START Ostrava",1958,"51:55","21:25"],
      [216,"",99,"","","","","","",72,"Kolek Radim","",1983,"51:56","21:26"],
      [217,"","","","",5,"","","",49,"Bardoň Jan","MK Seitl",1952,"52:06","21:36"],
      [218,"","",51,"","","","","",53,"Vyhlídal Patrik","",1972,"52:33","22:03"],
      [219,"",100,"","","","","","",93,"Brabec Tomáš","Adventní Běhání",1982,"52:36","22:06"],
      [220,"","",52,"","","","","",99,"Svák Martin","",1975,"52:39","22:09"],
      [221,"","","","","","",16,"",68,"Tomková Iva ","",1990,"52:45","22:15"],
      [222,"","","","",6,"","","",109,"Giecek Jaromir","HO Start Ostrava",1956,"52:49","22:19"],
      [223,"","","","","","",17,"",264,"Kohoutová Klára","Štefko running team",1994,"52:56","22:26"],
      [224,"","","","",7,"","","",111,"Trombik Emil","Český Těšín",1946,"53:14","22:44"],
      [225,"","","","","","",18,"",69,"Palagyiova Martina","",1981,"53:24","22:54"],
      [226,"","","","","",2,"","",83,"Michálková Tereza","",2000,"53:25","22:55"],
      [227,"","",53,"","","","","",180,"Zuzaňák Vilém","Biatlon Ostrava",1968,"53:34","23:04"],
      [228,"","","","","","","",13,7,"Pavlová Dagmar (Čertica)","Klub přátel Velkého Javorníku !",1958,"53:35","23:05"],
      [229,"","","","","","","",14,11,"Vričanova Sylva","OB Havířov ",1967,"53:38","23:08"],
      [230,"","","","","","",19,"",194,"Jirková Petra","Abadzikra",1984,"54:07","23:37"],
      [231,"","","","","","",20,"",256,"Čaganová Monika","",1998,"54:22","23:52"],
      [232,"","","","","","",21,"",71,"Wolfová Pavla","",1993,"54:25","23:55"],
      [233,"",101,"","","","","","",48,"Želazko Ondřej","",1988,"55:23","24:53"],
      [234,"","","","","","",22,"",4,"Pavlíková Barbora (Bája)","Klub přátel Velkého Javorníku !",1981,"55:47","25:17"],
      [235,"","","","","","","",15,81,"Slobodova Irena","",1961,"55:52","25:22"],
      [236,"",102,"","","","","","",188,"Rajdus Vojtěch","",1987,"56:00","25:30"],
      [237,"","","","",8,"","","",204,"Kamenec Ivan","",1943,"56:15","25:45"],
      [238,"","","","","","","",16,185,"Jastrzembská Jarmila","OB TJ TŽ Třinec",1964,"56:45","26:15"],
      [239,"","","","","","","",17,42,"Bílková Simona","",1971,"57:10","26:40"],
      [240,"","","","","","","",18,14,"Janyšková Jolana","RH Rybníčky",1970,"57:20","26:50"],
      [241,"","","","","","",23,"",151,"Bambuchová Markéta","příznivec HO START Ostrava ",1992,"57:46","27:16"],
      [242,"","","","","","",24,"",265,"Krejčová Jitka","Štefko running team",1989,"57:50","27:20"],
      [243,"","","","","","",25,"",101,"Richterová Nela","",1994,"59:48","29:18"],
      [244,"","","","","","",26,"",95,"Sváková Martina","",1979,"1:00:08","29:38"],
      [245,"","","","","","",27,"",19,"Belešová Jana","",1991,"1:00:17","29:47"],
      [246,"","",54,"","","","","",190,"Vacula Petr","Lhotecká žihadla",1969,"1:02:48","32:18"],
      [247,"",103,"","","","","","",20,"Sokolovský Ľubomír","",1990,"1:03:47","33:17"],
      [248,"","","",22,"","","","",138,"Ďásek Petr","HO START Ostrava",1963,"1:04:44","34:14"],
      [249,"","","","","","",28,"",92,"Fejková Kateřina","",1997,"1:09:24","38:54"],
      [250,"",104,"","","","","","",3,"Pavlík Petr (Ďábel)","Klub přátel Velkého Javorníku !",1981,"1:10:42","40:12"],
      [251,"",105,"","","","","","",279,"Frank Tomáš","Abadžiga",1982,"1:23:21","52:51"]
    ]
%>

<!-- Content -->
<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">


        <h2>Výsledky 48. ročníku</h2>

        <div class="space20"></div>

        <div class="col-md-12 right">
          výsledky ke stažení <a class="more" href="/hlavni_zavod.pdf" target="_blank">hlavni_zavod.pdf</a>
<% if false %>
           a <a class="more" href="/detsky_zavod.pdf" target="_blank">detsky_zavod.pdf</a>
<% end %>
        </div>

        <div class="space10"></div>

        <table class="table table-bordered">
          <thead>
            <tr class="result">
              <th class="v-middle" rowspan="2">#</th>
              <th colspan="5">Muži</th>
              <th colspan="3">Ženy</th>
              <th class="v-middle" rowspan="2">St.<br>číslo</th>
              <th class="v-middle" rowspan="2">Jméno</th>
              <th class="v-middle" rowspan="2">Oddíl</th>
              <th class="v-middle" rowspan="2">Ročník</th>
              <th class="v-middle" rowspan="2">Čas</th>
              <th class="v-middle" rowspan="2">Ztráta</th>
            </tr>
            <tr class="result">
              <th class="w-5">J</th>
              <th class="w-5">A</th>
              <th class="w-5">B</th>
              <th class="w-5">C</th>
              <th class="w-5">D</th>
              <th class="w-5">ZJ</th>
              <th class="w-5">ZA</th>
              <th class="w-5">ZB</th>
            </tr>
          </thead>

          <tbody>

            <% results.each_with_index do |r, index| %>
              <tr class="<%= index%2 == 0 ? 'even' : 'odd' %>">
                  <td class="center"><%= index + 1 %></td>
                  <td class="center w-5"><%= r[1] %></td>
                  <td class="center w-5"><%= r[2] %></td>
                  <td class="center w-5"><%= r[3] %></td>
                  <td class="center w-5"><%= r[4] %></td>
                  <td class="center w-5"><%= r[5] %></td>
                  <td class="center w-5"><%= r[6] %></td>
                  <td class="center w-5"><%= r[7] %></td>
                  <td class="center w-5"><%= r[8] %></td>
                  <td class="center"><%= r[9] %></td>
                  <td><%= r[10] %></td>
                  <td><%= r[11] %></td>
                  <td class="center"><%= r[12] %></td>
                  <td class="center"><%= r[13] %></td>
                  <td class="center"><%= r[14] %></td>
              </tr> 
            <% end %>

          </tbody>
        </table>

      </div>
    </div>
    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->

