<%= render :partial => 'partials/titlebar', locals: {title: 'Výsledky'} %>

<%
  results = [
["1", "", "1", "", "", "", "", "", "", "46", "Fousek Jan", "Mk Seitl Ostrava", "1991", "32:12", "00:00"],
["2", "", "2", "", "", "", "", "", "", "86", "Hradil Pavel", "TITAN TRILIFE", "1998", "32:36", "00:24"],
["3", "", "3", "", "", "", "", "", "", "83", "Szymanik Adam", "AKBK", "1996", "32:56", "00:44"],
["4", "", "4", "", "", "", "", "", "", "33", "Škuca Zbyněk", "Akez Kopřivnice ", "1987", "34:03", "01:51"],
["5", "", "", "1", "", "", "", "", "", "25", "Tretera Marek", "Innomotics run/AC Sportguides R.p.R.", "1980", "34:40", "02:28"],
["6", "", "5", "", "", "", "", "", "", "1", "Křenek Martin", "Innomotics run", "1991", "34:48", "02:36"],
["7", "", "6", "", "", "", "", "", "", "115", "Pupík Pavel ", "Lokomotiva Trojanovice", "1995", "34:57", "02:45"],
["8", "1", "", "", "", "", "", "", "", "148", "Hudeček Jakub", "Seimex Nový Jičín", "2007", "35:01", "02:49"],
["9", "", "7", "", "", "", "", "", "", "12", "Kozlík Lukáš", "TJ Sokol na Mělníce", "1989", "35:19", "03:07"],
["10", "", "8", "", "", "", "", "", "", "2", "Radomský Marek", "", "1989", "36:25", "04:13"],
["11", "", "", "2", "", "", "", "", "", "153", "Grigorescu Lubor", "Středeční monumenty", "1981", "37:00", "04:48"],
["12", "2", "", "", "", "", "", "", "", "91", "Káňa Filip", "", "2006", "37:05", "04:53"],
["13", "", "9", "", "", "", "", "", "", "109", "Škoda Kristián", "CK Frenštát p. R.", "1990", "37:40", "05:28"],
["14", "", "", "3", "", "", "", "", "", "53", "Sochor Milan", "AKEZ Kopřivnice", "1978", "37:45", "05:33"],
["15", "", "10", "", "", "", "", "", "", "71", "Mynarčík Jan ", "HS Pustevny", "1993", "38:00", "05:48"],
["16", "", "", "", "", "1", "", "", "", "84", "Szymanik Kazimír", "", "1958", "38:02", "05:50"],
["17", "", "", "4", "", "", "", "", "", "144", "Choleva Petr", "Lítací Jelen", "1974", "38:09", "05:57"],
["18", "", "", "5", "", "", "", "", "", "108", "Videcky Karel", "Max Cursor", "1981", "38:15", "06:03"],
["19", "", "", "6", "", "", "", "", "", "39", "Raška Radek", "AKEZ Kopřivnice", "1976", "38:33", "06:21"],
["20", "", "", "7", "", "", "", "", "", "27", "Bajgar David", "STS Chvojkovice-Brod", "1976", "39:17", "07:05"],
["21", "", "11", "", "", "", "", "", "", "160", "Girard Petr", "", "1987", "39:35", "07:23"],
["22", "", "", "8", "", "", "", "", "", "147", "Hrdina Libor", "", "1979", "40:35", "08:23"],
["23", "", "", "9", "", "", "", "", "", "157", "Jašek Radovan", "Partia Frenštát", "1980", "40:37", "08:25"],
["24", "", "", "", "1", "", "", "", "", "7", "Hanke David", "AKEZ Kopřivnice", "1971", "40:52", "08:40"],
["25", "", "12", "", "", "", "", "", "", "23", "Šponar  Martin", "", "1988", "40:57", "08:45"],
["26", "", "", "10", "", "", "", "", "", "92", "Melčák Tomáš", "Individuální členství", "1975", "41:00", "08:48"],
["27", "", "", "", "2", "", "", "", "", "60", "Chýlek Patrik", "Tichá sauna ", "1973", "41:09", "08:57"],
["28", "", "13", "", "", "", "", "", "", "139", "Burdilák Radek", "Vranov Sunday Runners", "1985", "41:11", "08:59"],
["29", "", "", "11", "", "", "", "", "", "4", "Goláň  Vojta ", "AC Sportguides Rožnov p.R.", "1983", "41:18", "09:06"],
["30", "", "", "", "3", "", "", "", "", "119", "Baláž Roman", "Baláž EXTREME-TEAM Frenštát p.R.", "1965", "41:30", "09:18"],
["31", "", "14", "", "", "", "", "", "", "38", "Murárik Radim", "MK Seitl ", "1992", "41:41", "09:29"],
["32", "", "15", "", "", "", "", "", "", "103", "Marák Jakub", "SDH Mniší", "1994", "41:43", "09:31"],
["33", "", "", "", "", "2", "", "", "", "94", "Mück Arnošt", "Hranice", "1959", "41:46", "09:34"],
["34", "", "", "", "4", "", "", "", "", "107", "Maliňák Tomáš", "James", "1971", "42:08", "09:56"],
["35", "3", "", "", "", "", "", "", "", "44", "Molek David", "", "2006", "42:26", "10:14"],
["36", "", "", "", "", "", "", "1", "", "114", "Juríčková Marta", "CK Frenštát p. R.", "1994", "42:37", "10:25"],
["37", "", "", "", "5", "", "", "", "", "26", "Pavlík Miroslav", "NOUNTAINTIME team", "1964", "42:41", "10:29"],
["38", "", "", "12", "", "", "", "", "", "20", "Kaňovský  Ondřej", "Modrá Ústřice ", "1983", "42:59", "10:47"],
["39", "", "", "", "", "", "", "", "1", "57", "Petrová Soňa", "AKEZ Kopřivnice", "1977", "43:12", "11:00"],
["40", "", "", "13", "", "", "", "", "", "151", "Procházka Libor", "", "1977", "43:19", "11:07"],
["41", "", "16", "", "", "", "", "", "", "116", "Novák Honza ", "Lokomotiva Trojanovice", "1999", "43:25", "11:13"],
["42", "", "", "14", "", "", "", "", "", "112", "Jasenský Oldřich", "AK Kroměříž", "1982", "43:28", "11:16"],
["43", "", "", "15", "", "", "", "", "", "85", "Maloň Vladimír", "Lokomotiva Trojanovice", "1980", "43:34", "11:22"],
["44", "", "17", "", "", "", "", "", "", "100", "Harabiš David", "SDH Mniší", "2001", "43:37", "11:25"],
["45", "", "18", "", "", "", "", "", "", "17", "Novotný Martin", "", "1988", "43:38", "11:26"],
["46", "", "", "", "6", "", "", "", "", "88", "Janyška František", "", "1969", "43:42", "11:30"],
["47", "", "19", "", "", "", "", "", "", "97", "Žabenský Stanislav", "SDH Mniší", "1991", "43:46", "11:34"],
["48", "", "", "", "", "", "", "", "2", "126", "Imrichová  Dagmar ", "", "1977", "43:49", "11:37"],
["49", "", "", "16", "", "", "", "", "", "98", "Jalůvka Robert", "SDH Mniší", "1976", "43:52", "11:40"],
["50", "", "", "", "", "", "", "", "3", "128", "Máchová Markéta", "SKOB Frýdek-Místek", "1977", "44:00", "11:48"],
["51", "", "", "17", "", "", "", "", "", "52", "Jeřábek Martin", "Mošnov", "1974", "44:02", "11:50"],
["52", "", "20", "", "", "", "", "", "", "50", "Sobek David", "Innomotics run/AKEZ Kopřivnice", "1986", "44:16", "12:04"],
["53", "", "", "18", "", "", "", "", "", "131", "Moravčík Petr", "James", "1981", "44:19", "12:07"],
["54", "", "", "19", "", "", "", "", "", "90", "Rozbroj Petr", "", "1981", "44:19", "12:07"],
["55", "", "", "20", "", "", "", "", "", "40", "Pokluda Jiří", "Beskydské Bratrstvo Chmelové Šišky", "1979", "44:21", "12:09"],
["56", "", "", "", "", "3", "", "", "", "54", "Martynek Vladislav", "SKI Mosty", "1959", "44:22", "12:10"],
["57", "", "21", "", "", "", "", "", "", "143", "Stražovec Tomáš", "SK Zafar Frenštát", "1988", "44:28", "12:16"],
["58", "", "", "", "7", "", "", "", "", "68", "Kubečka Tomáš", "", "1972", "44:29", "12:17"],
["59", "", "", "", "", "4", "", "", "", "75", "Slowioczek Roman", "Mk.Seitl Ostrava", "1959", "44:29", "12:17"],
["60", "", "22", "", "", "", "", "", "", "3", "Kocián Tomáš", "", "1987", "44:31", "12:19"],
["61", "", "23", "", "", "", "", "", "", "36", "Makový Roman", "", "1984", "44:42", "12:30"],
["62", "4", "", "", "", "", "", "", "", "142", "Bajnar Alex", "Biathlon Rožnov", "2011", "44:44", "12:32"],
["63", "", "", "", "", "", "", "", "4", "14", "Mazáčová Martina", "AKEZ Kopřivnice", "1977", "44:49", "12:37"],
["64", "", "", "21", "", "", "", "", "", "136", "Pupík Vladan", "Lokomotiva Trojanovice", "1983", "44:54", "12:42"],
["65", "", "", "", "", "", "", "2", "", "13", "Němčíková Jana", "", "2000", "44:56", "12:44"],
["66", "", "", "", "8", "", "", "", "", "15", "Lipina Tomáš", "Mk Seitl Ostrava", "1966", "44:58", "12:46"],
["67", "", "", "", "9", "", "", "", "", "30", "Kocurek Igor", "", "1971", "45:02", "12:50"],
["68", "", "", "22", "", "", "", "", "", "127", "Balint Viktor", "The Minions", "1978", "45:05", "12:53"],
["69", "", "", "", "", "", "", "", "5", "49", "Fialová  Hana", "", "1972", "45:11", "12:59"],
["70", "", "", "", "10", "", "", "", "", "87", "Šelepa Rudolf", "", "1964", "45:36", "13:24"],
["71", "", "24", "", "", "", "", "", "", "102", "Černošek Tomáš", "SDH Mniší", "1994", "45:57", "13:45"],
["72", "", "25", "", "", "", "", "", "", "150", "Čtvrtečka Roman", "Enjoy your limit", "1984", "46:11", "13:59"],
["73", "", "", "23", "", "", "", "", "", "95", "Šimíček Petr", "SDH Mniší", "1979", "46:16", "14:04"],
["74", "", "", "24", "", "", "", "", "", "45", "Machnik Vojtěch", "", "1983", "46:31", "14:19"],
["75", "", "", "", "", "", "", "3", "", "156", "Šenková Terezie", "Kopřivnice", "1986", "46:33", "14:21"],
["76", "", "", "", "11", "", "", "", "", "5", "Bílek Pavel", "", "1970", "47:03", "14:51"],
["77", "", "", "", "12", "", "", "", "", "56", "Slíva Pavel", "Pomalé šípy Kopřivnice", "1971", "47:20", "15:08"],
["78", "", "", "", "", "", "", "", "6", "152", "Polášková Kateřina", "AKEZ Kopřivnice", "1977", "47:30", "15:18"],
["79", "", "", "25", "", "", "", "", "", "159", "Zela Radek", "", "1978", "47:44", "15:32"],
["80", "", "26", "", "", "", "", "", "", "81", "Tůma Jakub", "", "1985", "47:49", "15:37"],
["81", "", "", "", "13", "", "", "", "", "48", "Fiala David", "", "1970", "48:10", "15:58"],
["82", "", "", "26", "", "", "", "", "", "35", "Kratochvíl Jan", "", "1975", "48:34", "16:22"],
["83", "", "", "", "14", "", "", "", "", "32", "Salawa Jiří", "Hlučín", "1967", "48:42", "16:30"],
["84", "5", "", "", "", "", "", "", "", "58", "Juračák David", "TJ Trojanovice Bystré", "2008", "48:55", "16:43"],
["85", "", "", "", "15", "", "", "", "", "22", "Ott Radovan", "", "1973", "49:01", "16:49"],
["86", "6", "", "", "", "", "", "", "", "146", "Kollega Robin", "Lítací Jelen", "2012", "49:08", "16:56"],
["87", "", "", "27", "", "", "", "", "", "149", "Nosek Michal", "MK Seitl Ostrava", "1979", "49:18", "17:06"],
["88", "", "27", "", "", "", "", "", "", "125", "Pop Ondřej", "", "1994", "49:54", "17:42"],
["89", "", "", "", "16", "", "", "", "", "55", "Orság Josef", "Pomalé šípy Kopřivnice", "1964", "50:04", "17:52"],
["90", "", "", "", "", "", "1", "", "", "141", "Juračáková Judita", "TJ Bystré", "2010", "50:10", "17:58"],
["91", "", "28", "", "", "", "", "", "", "106", "Kahánek Václav", "Stopaři PRO team", "1992", "50:16", "18:04"],
["92", "", "", "28", "", "", "", "", "", "31", "Jeřábek Kamil", "Ostrava", "1976", "51:01", "18:49"],
["93", "", "29", "", "", "", "", "", "", "21", "Nykl Radomír", "", "1985", "51:40", "19:28"],
["94", "", "", "", "", "", "", "", "7", "42", "Gregořicová Jitka", "Azimut", "1977", "51:49", "19:37"],
["95", "", "", "", "", "", "", "", "8", "18", "Benáčková Marta", "", "1982", "51:57", "19:45"],
["96", "", "30", "", "", "", "", "", "", "154", "Boža Václav", "Lowelpro Running Team", "1996", "52:02", "19:50"],
["97", "", "", "", "17", "", "", "", "", "78", "Bezstarosti Milan", "Kopřivnice", "1972", "52:10", "19:58"],
["98", "", "", "", "", "5", "", "", "", "67", "Groš Štefan", "SK ZaFaR  Frenštát p.R", "1961", "52:31", "20:19"],
["99", "", "31", "", "", "", "", "", "", "104", "Kahánek Tomáš", "SDH Mniší", "2005", "52:35", "20:23"],
["100", "", "32", "", "", "", "", "", "", "8", "Hromada Jiří", "True Gym", "1986", "52:53", "20:41"],
["101", "", "", "", "", "", "", "4", "", "74", "KLEINOVÁ JAROSLAVA", "", "1985", "52:53", "20:41"],
["102", "", "33", "", "", "", "", "", "", "105", "Želazko Ondřej", "", "1988", "53:05", "20:53"],
["103", "7", "", "", "", "", "", "", "", "70", "Káňa Štěpán", "", "2008", "53:18", "21:06"],
["104", "", "", "", "", "", "", "", "9", "155", "Horutová Simona ", "", "1976", "54:03", "21:51"],
["105", "", "34", "", "", "", "", "", "", "93", "Sedlák Marek", "Lokomotiva Trojanovice", "1986", "54:10", "21:58"],
["106", "", "35", "", "", "", "", "", "", "111", "Sýkora Lukáš", "", "1990", "54:15", "22:03"],
["107", "", "", "", "", "", "", "", "10", "138", "Lacigová  Simona ", "", "1962", "54:28", "22:16"],
["108", "", "", "", "18", "", "", "", "", "89", "Stošek René", "Hlučín ", "1972", "54:29", "22:17"],
["109", "", "36", "", "", "", "", "", "", "140", "Mitáček Jiří", "Zlín", "1991", "54:53", "22:41"],
["110", "", "37", "", "", "", "", "", "", "96", "Kahánek Josef", "SDH Mniší", "1990", "54:56", "22:44"],
["111", "", "", "", "", "6", "", "", "", "110", "Sýkora Josef", "", "1963", "55:47", "23:35"],
["112", "", "", "", "", "", "", "", "11", "6", "Palagyiová Martina ", "", "1981", "56:37", "24:25"],
["113", "", "", "29", "", "", "", "", "", "77", "Filip Jan", "VK Perun Ostrava", "1976", "56:38", "24:26"],
["114", "", "", "", "", "", "", "5", "", "158", "Kijanicová Marika", "Adventní běhání Frenštát", "1992", "57:24", "25:12"],
["115", "", "", "", "", "7", "", "", "", "41", "Kvita Josef", "Akez kopřivnice", "1951", "57:36", "25:24"],
["116", "", "", "", "", "8", "", "", "", "43", "Trombik Emil", "TJ Slavoj Český Těšín", "1946", "58:52", "26:40"],
["117", "", "", "", "", "", "", "6", "", "82", "Tůmová Nikola", "", "1990", "1:00:04", "27:52"],
["118", "", "", "", "", "", "", "", "12", "51", "Škrdová Danuše", "MK Seitl Ostrava", "1965", "1:00:56", "28:44"],
["119", "", "", "", "", "9", "", "", "", "16", "Bučánek Jiří", "", "1956", "1:00:57", "28:45"],
["120", "", "", "", "", "10", "", "", "", "66", "Mimra Luděk", "HO START Ostrava", "1958", "1:00:57", "28:45"],
["121", "8", "", "", "", "", "", "", "", "145", "Choleva Gabriel", "Lítací Jelen", "2013", "1:04:20", "32:08"],
["122", "", "", "", "", "11", "", "", "", "62", "Ďásek Petr", "HO START Ostrava", "1963", "1:10:21", "38:09"],
["123", "", "", "", "", "", "", "7", "", "11", "Němčíková Adéla", "", "2004", "1:11:05", "38:53"],
  ]
%>

<!-- Content -->
<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <div class="space20"></div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#actual" aria-controls="actual" role="tab" data-toggle="tab">Aktuální ročník</a></li>
          <li role="presentation"><a href="#older" aria-controls="older" role="tab" data-toggle="tab">Starší ročníky</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <!-- aktualni rocnik -->
          <div role="tabpanel" class="tab-pane active" id="actual">
            <h2>Výsledky 53. ročníku</h2>

            <div class="space20"></div>

            <div class="col-md-12 right">
              výsledky ke stažení <a class="more" href="/hlavni_zavod.pdf" target="_blank">hlavni_zavod.pdf</a> a <a class="more" href="/detsky_zavod.pdf" target="_blank">detsky_zavod.pdf</a>
            </div>

            <div class="space10"></div>

            <table class="table table-bordered">
              <thead>
                <tr class="result">
                  <th class="v-middle" rowspan="2">#</th>
                  <th colspan="5">Muži</th>
                  <th colspan="3">Ženy</th>
                  <th class="v-middle" rowspan="2">St.<br>číslo</th>
                  <th class="v-middle" rowspan="2">Jméno</th>
                  <th class="v-middle" rowspan="2">Oddíl</th>
                  <th class="v-middle" rowspan="2">Ročník</th>
                  <th class="v-middle" rowspan="2">Čas</th>
                  <th class="v-middle" rowspan="2">Ztráta</th>
                </tr>
                <tr class="result">
                  <th class="w-5">J</th>
                  <th class="w-5">A</th>
                  <th class="w-5">B</th>
                  <th class="w-5">C</th>
                  <th class="w-5">D</th>
                  <th class="w-5">ZJ</th>
                  <th class="w-5">ZA</th>
                  <th class="w-5">ZB</th>
                </tr>
              </thead>

              <tbody>

                <% results.each_with_index do |r, index| %>
                  <tr class="<%= index%2 == 0 ? 'even' : 'odd' %>">
                      <td class="center"><%= index + 1 %></td>
                      <td class="center w-5"><%= r[1] %></td>
                      <td class="center w-5"><%= r[2] %></td>
                      <td class="center w-5"><%= r[3] %></td>
                      <td class="center w-5"><%= r[4] %></td>
                      <td class="center w-5"><%= r[5] %></td>
                      <td class="center w-5"><%= r[6] %></td>
                      <td class="center w-5"><%= r[7] %></td>
                      <td class="center w-5"><%= r[8] %></td>
                      <td class="center"><%= r[9] %></td>
                      <td><%= r[10] %></td>
                      <td><%= r[11] %></td>
                      <td class="center"><%= r[12] %></td>
                      <td class="center"><%= r[13] %></td>
                      <td class="center"><%= r[14] %></td>
                  </tr> 
                <% end %>

              </tbody>
            </table>

          </div>

          <!-- starsi rocniky -->
          <div role="tabpanel" class="tab-pane" id="older">

            <div class="row">

              <div class="col-md-4">
                <h3>52. ročník - 2022</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2022.pdf" target="_blank">hlavni_zavod_2022.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2022.pdf" target="_blank">detsky_zavod_2022.pdf</a>
                </ul>   
              </div>

              <div class="col-md-4">
                <h3>50. ročník - 2019</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2019.pdf" target="_blank">hlavni_zavod_2019.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2019.pdf" target="_blank">detsky_zavod_2019.pdf</a>
                </ul>   
              </div>

              <div class="col-md-4">
                <h3>49. ročník - 2018</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2018.pdf" target="_blank">hlavni_zavod_2018.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2018.pdf" target="_blank">detsky_zavod_2018.pdf</a>
                </ul>   
              </div>

            </div>


            <div class="row">

              <div class="col-md-4">
                <h3>48. ročník - 2017</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2017.pdf" target="_blank">hlavni_zavod_2017.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2017.pdf" target="_blank">detsky_zavod_2017.pdf</a>
                </ul>   
              </div>

              <div class="col-md-4">
                <h3>47. ročník - 2016</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2016.pdf" target="_blank">hlavni_zavod_2016.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2016.pdf" target="_blank">detsky_zavod_2016.pdf</a>
                </ul>   
              </div>

              <div class="col-md-4">
                <h3>46. ročník - 2015</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2015.pdf" target="_blank">hlavni_zavod_2015.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2015.pdf" target="_blank">detsky_zavod_2015.pdf</a>
                </ul>   
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->

