<%= render :partial => 'partials/titlebar', locals: {title: 'Výsledky'} %>

<%
  results = [
    ["1", "", "1", "", "", "", "", "", "", "80", "Kunčický Jan", "Perňa systém", "1999", "26:36", "00:00"],
    ["2", "", "2", "", "", "", "", "", "", "121", "Cimbálník Pavel", "AC Sportguides Rožnov p. Radhoštem", "1985", "26:50", "00:14"],
    ["3", "", "", "1", "", "", "", "", "", "38", "Holiš Martin", "Běžecký areál Pustevny ", "1974", "27:38", "01:02"],
    ["4", "", "3", "", "", "", "", "", "", "54", "Kokošek Oldřich", "Sachasport", "1988", "27:52", "01:16"],
    ["5", "", "", "2", "", "", "", "", "", "151", "Pelc Norbert", "Monumenty", "1979", "28:39", "02:03"],
    ["6", "", "4", "", "", "", "", "", "", "84", "Tabach Richard", "BK Kozlovice ", "1997", "29:00", "02:24"],
    ["7", "", "", "", "1", "", "", "", "", "32", "Škapa Marek", "MK Seitl Ostrava ", "1971", "29:07", "02:31"],
    ["8", "", "5", "", "", "", "", "", "", "69", "Škoda Kristián", "CK Frenštát p. R.", "1990", "29:27", "02:51"],
    ["9", "", "", "3", "", "", "", "", "", "5", "Tretera Marek", "AC Sportuides Rožnov p.R./Siemens run", "1980", "29:45", "03:09"],
    ["10", "", "6", "", "", "", "", "", "", "68", "Křenek Martin", "Siemens run", "1991", "29:55", "03:19"],
    ["11", "", "", "4", "", "", "", "", "", "65", "Mikala David", "AKEZ Kopřivnice", "1982", "29:58", "03:22"],
    ["12", "", "7", "", "", "", "", "", "", "162", "Girard Petr", "SK Skialpin Pustevny", "1987", "30:00", "03:24"],
    ["13", "", "8", "", "", "", "", "", "", "62", "Čáň Daniel", "VivatSport Valašské Meziříčí ", "1993", "30:11", "03:35"],
    ["14", "", "9", "", "", "", "", "", "", "20", "Fousek Jan", "Mk Seitl Ostrava", "1991", "30:15", "03:39"],
    ["15", "", "10", "", "", "", "", "", "", "99", "Mynarčík Jan", "HS Pustevny", "1993", "30:22", "03:46"],
    ["16", "", "11", "", "", "", "", "", "", "23", "Pop Marek", "AKEZ Kopřivnice", "1992", "30:42", "04:06"],
    ["17", "", "", "", "2", "", "", "", "", "9", "Hanke David", "AKEZ Kopřivnice", "1971", "30:50", "04:14"],
    ["18", "", "12", "", "", "", "", "", "", "102", "Výduch Luděk", "Tři křížky ", "1988", "31:08", "04:32"],
    ["19", "", "", "5", "", "", "", "", "", "147", "Šták Daniel", "Baník Ostrava", "1976", "31:12", "04:36"],
    ["20", "", "", "", "", "", "", "1", "", "109", "Hanko Veroniko ", "Veřovice ", "1990", "31:16", "04:40"],
    ["21", "", "", "6", "", "", "", "", "", "49", "Raška Radek", "AKEZ Kopřivnice", "1976", "31:20", "04:44"],
    ["22", "", "", "7", "", "", "", "", "", "153", "Chocholář Jiří", "Monumenty", "1981", "31:23", "04:47"],
    ["23", "", "", "8", "", "", "", "", "", "111", "Barabáš Jan", "TTC Olomouc", "1976", "31:32", "04:56"],
    ["24", "", "13", "", "", "", "", "", "", "108", "Kolář Jakub", "", "1986", "31:41", "05:05"],
    ["25", "", "", "9", "", "", "", "", "", "152", "Kocurek Jaroslav", "Monumenty", "1981", "31:58", "05:22"],
    ["26", "", "", "", "", "", "", "2", "", "160", "Weissová Zuzana", "TJ Gumárny ZUbří", "1987", "32:02", "05:26"],
    ["27", "1", "", "", "", "", "", "", "", "114", "Hudeček Jakub", "Valum pro Frenštát p.R", "2007", "32:12", "05:36"],
    ["28", "", "", "", "", "", "1", "", "", "64", "Slívová Anna", "AKEZ Kopřivnice", "2005", "32:20", "05:44"],
    ["29", "", "14", "", "", "", "", "", "", "44", "Křístek Petr", "HO VŠB-TU Ostrava, Družba krú", "1987", "32:32", "05:56"],
    ["30", "", "", "", "3", "", "", "", "", "161", "Petráš Rostislav", "Štrambersko", "1965", "32:40", "06:04"],
    ["31", "", "15", "", "", "", "", "", "", "122", "Dubčák Pavel", "", "1986", "32:46", "06:10"],
    ["32", "", "16", "", "", "", "", "", "", "29", "Haltof Aleš ", "CK Frenštát ", "1983", "32:51", "06:15"],
    ["33", "", "", "10", "", "", "", "", "", "116", "Jašek Radovan", "Partyja", "1980", "32:54", "06:18"],
    ["34", "", "", "11", "", "", "", "", "", "115", "Mazánek Vladimír", "HO START OSTRAVA", "1979", "32:55", "06:19"],
    ["35", "", "", "12", "", "", "", "", "", "154", "Grygoresku Lubor", "Monumenty", "1981", "33:02", "06:26"],
    ["36", "", "", "13", "", "", "", "", "", "58", "Hrdina Libor", "", "1979", "33:12", "06:36"],
    ["37", "", "", "", "4", "", "", "", "", "137", "Baláž Roman", "Baláž EXTREME-TEAM Frenštát p.R.", "1965", "33:13", "06:37"],
    ["38", "", "17", "", "", "", "", "", "", "159", "Šlahař Josef", "", "1987", "33:20", "06:44"],
    ["39", "", "18", "", "", "", "", "", "", "85", "Bernard Adam", "Pro Dřeň na Dřeň", "1984", "33:31", "06:55"],
    ["40", "", "", "14", "", "", "", "", "", "95", "Klimánek Lukáš", "HO START Ostrava", "1979", "33:35", "06:59"],
    ["41", "", "19", "", "", "", "", "", "", "112", "Burdilák Radek", "Vranov Sunday runners", "1985", "33:36", "07:00"],
    ["42", "", "", "", "", "", "", "3", "", "156", "Tomanová Adéla", "BěhKomplex", "1998", "33:40", "07:04"],
    ["43", "", "", "15", "", "", "", "", "", "157", "Toman Jiří", "BěhKomplex", "1977", "33:41", "07:05"],
    ["44", "", "", "16", "", "", "", "", "", "148", "Němeček Martin", "TJ Gumárny Zubří", "1973", "33:45", "07:09"],
    ["45", "", "20", "", "", "", "", "", "", "2", "Kramoliš Jiří", "", "1991", "33:47", "07:11"],
    ["46", "", "", "", "", "", "", "", "1", "3", "Mazáčová Martina", "AKEZ Kopřivnice", "1977", "33:55", "07:19"],
    ["47", "", "21", "", "", "", "", "", "", "104", "Murárik Radim", "", "1992", "34:12", "07:36"],
    ["48", "", "", "", "5", "", "", "", "", "81", "Pavlík Miroslav", "MOUNTAINTIME Kross tri team", "1964", "34:18", "07:42"],
    ["49", "", "", "17", "", "", "", "", "", "50", "Bajgar David", "", "1976", "34:32", "07:56"],
    ["50", "2", "", "", "", "", "", "", "", "41", "Býma Josef", "BPA Ostrava", "2006", "34:37", "08:01"],
    ["51", "", "", "", "6", "", "", "", "", "47", "Maliňák Tomáš", "James", "1971", "34:48", "08:12"],
    ["52", "", "", "18", "", "", "", "", "", "66", "Pokluda Jiří", "Beskydské Bratrstvo Chmelové Šišky", "1979", "34:55", "08:19"],
    ["53", "", "22", "", "", "", "", "", "", "75", "Marak Jakub", "SDH Mniší", "1994", "34:55", "08:19"],
    ["54", "", "23", "", "", "", "", "", "", "70", "Harabiš David", "SDH Mniší", "2001", "34:57", "08:21"],
    ["55", "", "", "19", "", "", "", "", "", "119", "Jasenský Oldřich", "AK Kroměříž", "1982", "34:59", "08:23"],
    ["56", "", "", "", "", "", "", "4", "", "105", "Valova Daniela", "", "1986", "35:18", "08:42"],
    ["57", "", "", "", "", "", "", "", "2", "39", "Krausová Darina", "AKEZ Kopřivnice", "1974", "35:30", "08:54"],
    ["58", "", "", "", "7", "", "", "", "", "134", "Mynář Jura", "BO!", "1965", "35:37", "09:01"],
    ["59", "", "", "", "8", "", "", "", "", "11", "Lipina Tomáš", "MK Seitl Ostrava", "1966", "35:45", "09:09"],
    ["60", "", "24", "", "", "", "", "", "", "40", "Žůrek Pavel", "", "1988", "35:49", "09:13"],
    ["61", "", "", "20", "", "", "", "", "", "98", "Šustek Pavel", "HO START Ostrava", "1979", "35:52", "09:16"],
    ["62", "", "", "21", "", "", "", "", "", "146", "Kaluža Radim", "příznivec HO Start Ostrava", "1976", "35:56", "09:20"],
    ["63", "", "", "", "", "", "", "", "3", "117", "Fialová Hana", "", "1972", "36:01", "09:25"],
    ["64", "", "", "22", "", "", "", "", "", "57", "Moravčík Petr", "James SK", "1981", "36:02", "09:26"],
    ["65", "", "", "23", "", "", "", "", "", "97", "Mareš Petr", "HO START Ostrava", "1979", "36:17", "09:41"],
    ["66", "", "25", "", "", "", "", "", "", "13", "Novotný Martin", "", "1988", "36:21", "09:45"],
    ["67", "", "", "", "9", "", "", "", "", "141", "Čechák Michal", "", "1969", "36:26", "09:50"],
    ["68", "", "", "24", "", "", "", "", "", "103", "Petr Michal", "Petrovci", "1977", "36:41", "10:05"],
    ["69", "", "", "", "", "", "", "5", "", "155", "Hapalová Iva", "AC Sportguides Rožnov p.R.", "1985", "36:44", "10:08"],
    ["70", "", "26", "", "", "", "", "", "", "18", "Kaňovský Ondřej", "Modrá ústřice", "1983", "36:54", "10:18"],
    ["71", "", "", "", "10", "", "", "", "", "67", "Pšenica Julius", "SK Zafar Frenštát pod Radhoštěm ", "1967", "36:57", "10:21"],
    ["72", "", "", "", "11", "", "", "", "", "93", "Kubečka Tomáš", "", "1972", "37:09", "10:33"],
    ["73", "", "", "25", "", "", "", "", "", "94", "Siročák Petr", "HO START Ostrava", "1978", "37:30", "10:54"],
    ["74", "", "", "", "12", "", "", "", "", "110", "Mikunda Miloš", "Rožnov pod Radhoštěm", "1964", "37:31", "10:55"],
    ["75", "", "27", "", "", "", "", "", "", "25", "Grill Jiří", "Pomalé šípy Kopřivnice", "1985", "37:36", "11:00"],
    ["76", "", "28", "", "", "", "", "", "", "76", "Černošek Tomáš", "SDH Mniší", "1994", "37:41", "11:05"],
    ["77", "", "", "26", "", "", "", "", "", "101", "Jaluvka Robert", "SDH Mnisi", "1976", "37:59", "11:23"],
    ["78", "", "", "", "13", "", "", "", "", "51", "Kocurek Igor", "", "1971", "38:03", "11:27"],
    ["79", "", "29", "", "", "", "", "", "", "61", "Makový Roman", "", "1984", "38:09", "11:33"],
    ["80", "", "", "", "14", "", "", "", "", "118", "Fiala David", "", "1970", "38:15", "11:39"],
    ["81", "", "", "27", "", "", "", "", "", "144", "Procházka Libor", "", "1977", "38:20", "11:44"],
    ["82", "", "30", "", "", "", "", "", "", "72", "Zabenský Stanislav", "SDH Mniší", "1991", "38:26", "11:50"],
    ["83", "", "", "", "15", "", "", "", "", "60", "Rodina Ivan", "RungoporubA", "1968", "38:50", "12:14"],
    ["84", "", "", "28", "", "", "", "", "", "74", "Holub Svatopluk", "SDH Mniší", "1977", "38:52", "12:16"],
    ["85", "", "31", "", "", "", "", "", "", "7", "Kocián Tomáš", "", "1987", "38:59", "12:23"],
    ["86", "", "", "", "", "", "2", "", "", "138", "Balážová Anna ", "Baláž EXTREME-TEAM Frenštát p.R.", "2009", "39:03", "12:27"],
    ["87", "", "", "29", "", "", "", "", "", "100", "Kratochvíl Jan", "", "1975", "39:09", "12:33"],
    ["88", "", "32", "", "", "", "", "", "", "15", "Pop Ondřej ", "Mokrá tretra", "1994", "39:12", "12:36"],
    ["89", "3", "", "", "", "", "", "", "", "33", "Molek David ", "", "2006", "39:17", "12:41"],
    ["90", "4", "", "", "", "", "", "", "", "143", "Juračák David", "TJ Bystré", "2008", "39:24", "12:48"],
    ["91", "", "", "30", "", "", "", "", "", "77", "Šimíček Petr", "SDH Mniší", "1979", "39:24", "12:48"],
    ["92", "", "", "31", "", "", "", "", "", "164", "Dobšík Lubomír", "BeskydSki", "1978", "39:48", "13:12"],
    ["93", "", "33", "", "", "", "", "", "", "55", "Hupšil Radim", "VHS Brno", "1984", "39:51", "13:15"],
    ["94", "", "34", "", "", "", "", "", "", "14", "Radomský Marek", "", "1989", "39:58", "13:22"],
    ["95", "", "35", "", "", "", "", "", "", "120", "Čtvrtečka Roman", "", "1984", "40:27", "13:51"],
    ["96", "", "", "", "", "1", "", "", "", "163", "Vávra Petr", "HO Start Ostrava", "1962", "40:31", "13:55"],
    ["97", "", "", "32", "", "", "", "", "", "136", "Frank Tomáš", "", "1981", "40:31", "13:55"],
    ["98", "", "", "33", "", "", "", "", "", "48", "Pupik Jan", "Lokomotiva Trojanovice", "1982", "40:59", "14:23"],
    ["99", "", "", "", "16", "", "", "", "", "63", "Slíva Pavel", "Pomalé šípy Kopřivnice", "1971", "41:30", "14:54"],
    ["100", "", "36", "", "", "", "", "", "", "87", "Morcinek Milan", "", "1983", "41:46", "15:10"],
    ["101", "", "", "34", "", "", "", "", "", "92", "Dvorský Jan", "Nový Jičín", "1981", "42:08", "15:32"],
    ["102", "", "", "", "", "", "", "", "4", "10", "Škrdová Danuše", "MK Seitl Ostrava", "1965", "42:12", "15:36"],
    ["103", "", "", "", "", "2", "", "", "", "82", "Groš štefan", "S.K. ZaFaR Frenštát p.R", "1961", "42:25", "15:49"],
    ["104", "", "", "", "", "", "", "", "5", "142", "Štáková Kateřina", "", "1981", "43:05", "16:29"],
    ["105", "", "", "35", "", "", "", "", "", "78", "Holub Štěpán", "SDH Mniší", "1981", "43:07", "16:31"],
    ["106", "", "37", "", "", "", "", "", "", "45", "Pupík Vladan", "Lokomotiva Trojanovice", "1983", "43:08", "16:32"],
    ["107", "", "38", "", "", "", "", "", "", "46", "Sedlák Marek", "Lokomotiva Trojanovice", "1986", "43:18", "16:42"],
    ["108", "", "", "", "17", "", "", "", "", "16", "Orság Josef", "Pomalé šípy", "1964", "43:26", "16:50"],
    ["109", "", "", "", "18", "", "", "", "", "86", "Hájovský Tomáš", "Hlučín", "1964", "43:26", "16:50"],
    ["110", "", "39", "", "", "", "", "", "", "6", "Slavík Jiří", "", "1987", "43:42", "17:06"],
    ["111", "", "40", "", "", "", "", "", "", "31", "Hromada Jiří", "TrueGym", "1986", "44:08", "17:32"],
    ["112", "", "", "36", "", "", "", "", "", "34", "Jeřábek Kamil", "Ostrava", "1976", "44:21", "17:45"],
    ["113", "", "", "", "", "", "", "", "6", "83", "Gregořicová Jitka", "Azimut", "1977", "44:43", "18:07"],
    ["114", "", "", "37", "", "", "", "", "", "124", "Nosek Michal", "SK Oceláci Ostrava", "1979", "45:08", "18:32"],
    ["115", "", "", "", "", "", "", "6", "", "52", "Němčíková Jana", "", "2000", "45:11", "18:35"],
    ["116", "", "", "38", "", "", "", "", "", "149", "Herman Adam", "HO Start Ostrava", "1976", "45:13", "18:37"],
    ["117", "", "", "39", "", "", "", "", "", "42", "Filip Jan", "VK Perun Ostrava", "1976", "45:30", "18:54"],
    ["118", "", "", "", "", "3", "", "", "", "21", "Kvita Josef", "Akez kopřivnice", "1951", "45:47", "19:11"],
    ["119", "", "", "", "", "", "", "", "7", "35", "Máchová Monika", "", "1972", "45:47", "19:11"],
    ["120", "", "", "", "19", "", "", "", "", "4", "Král Roman", "", "1969", "46:01", "19:25"],
    ["121", "", "", "", "", "", "", "7", "", "145", "Havránková Kateřina", "AK Šnek", "1986", "46:06", "19:30"],
    ["122", "", "", "", "", "", "", "", "8", "59", "Rečková Lucie", "Luidža", "1977", "46:16", "19:40"],
    ["123", "", "", "", "", "", "", "", "9", "36", "Palagyiová Martina ", "", "1981", "47:20", "20:44"],
    ["124", "", "", "", "", "", "", "", "10", "91", "Muroňová Alexandra", "", "1974", "47:43", "21:07"],
    ["125", "", "", "40", "", "", "", "", "", "165", "Odstrčilík Zdeněk", "", "1981", "48:03", "21:27"],
    ["126", "", "", "", "", "4", "", "", "", "106", "Mimra Luděk", "HO Start Porubaa", "1958", "49:02", "22:26"],
    ["127", "", "41", "", "", "", "", "", "", "8", "Želazko Ondřej", "", "1988", "49:04", "22:28"],
    ["128", "", "", "", "", "", "", "8", "", "22", "Fridrichová Helena", "", "1987", "49:55", "23:19"],
    ["129", "", "42", "", "", "", "", "", "", "107", "Sanytra Lukáš", "HO Start Poruba", "1983", "50:25", "23:49"],
    ["130", "", "", "", "", "5", "", "", "", "17", "Bučánek Jiří", "", "1956", "50:36", "24:00"],
    ["131", "", "", "", "", "6", "", "", "", "140", "Rinka Erich", "Prajzsky BK Kravaře", "1954", "50:39", "24:03"],
    ["132", "", "", "", "", "7", "", "", "", "12", "Giecek Jaromir", "HO START Ostrava", "1956", "52:12", "25:36"],
    ["133", "", "", "", "", "8", "", "", "", "43", "Trombik Emil", "TJ Slavoj Český Těšín", "1946", "52:54", "26:18"],
    ["134", "", "", "", "", "", "", "9", "", "158", "Poolochová Markéta", "", "1990", "53:17", "26:41"],
    ["135", "", "", "", "20", "", "", "", "", "150", "Mikulenka Tomáš", "", "1970", "53:33", "26:57"],
    ["136", "", "43", "", "", "", "", "", "", "28", "Kohoutek Jakub", "", "1992", "57:19", "30:43"],
    ["137", "", "", "", "", "", "", "", "11", "96", "Fukalová Radka", "HO START Ostrava", "1970", "57:36", "31:00"],
    ["138", "", "", "", "", "", "", "10", "", "27", "Orságová Vendula", "SDH Poličná", "2004", "57:46", "31:10"],
    ["139", "", "", "", "", "", "", "11", "", "53", "Němčíková Adéla", "", "2004", "58:31", "31:55"],
    ["140", "", "", "", "", "", "3", "", "", "26", "Orságová Rozálie ", "SDH Poličná", "2006", "61:53", "35:17"]
  ]
%>

<!-- Content -->
<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <div class="space20"></div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#actual" aria-controls="actual" role="tab" data-toggle="tab">Aktuální ročník</a></li>
          <li role="presentation"><a href="#older" aria-controls="older" role="tab" data-toggle="tab">Starší ročníky</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <!-- aktualni rocnik -->
          <div role="tabpanel" class="tab-pane active" id="actual">
            <h2>Výsledky 52. ročníku</h2>

            <div class="space20"></div>

            <div class="col-md-12 right">
              výsledky ke stažení <a class="more" href="/hlavni_zavod.pdf" target="_blank">hlavni_zavod.pdf</a> a <a class="more" href="/detsky_zavod.pdf" target="_blank">detsky_zavod.pdf</a>
            </div>

            <div class="space10"></div>

            <table class="table table-bordered">
              <thead>
                <tr class="result">
                  <th class="v-middle" rowspan="2">#</th>
                  <th colspan="5">Muži</th>
                  <th colspan="3">Ženy</th>
                  <th class="v-middle" rowspan="2">St.<br>číslo</th>
                  <th class="v-middle" rowspan="2">Jméno</th>
                  <th class="v-middle" rowspan="2">Oddíl</th>
                  <th class="v-middle" rowspan="2">Ročník</th>
                  <th class="v-middle" rowspan="2">Čas</th>
                  <th class="v-middle" rowspan="2">Ztráta</th>
                </tr>
                <tr class="result">
                  <th class="w-5">J</th>
                  <th class="w-5">A</th>
                  <th class="w-5">B</th>
                  <th class="w-5">C</th>
                  <th class="w-5">D</th>
                  <th class="w-5">ZJ</th>
                  <th class="w-5">ZA</th>
                  <th class="w-5">ZB</th>
                </tr>
              </thead>

              <tbody>

                <% results.each_with_index do |r, index| %>
                  <tr class="<%= index%2 == 0 ? 'even' : 'odd' %>">
                      <td class="center"><%= index + 1 %></td>
                      <td class="center w-5"><%= r[1] %></td>
                      <td class="center w-5"><%= r[2] %></td>
                      <td class="center w-5"><%= r[3] %></td>
                      <td class="center w-5"><%= r[4] %></td>
                      <td class="center w-5"><%= r[5] %></td>
                      <td class="center w-5"><%= r[6] %></td>
                      <td class="center w-5"><%= r[7] %></td>
                      <td class="center w-5"><%= r[8] %></td>
                      <td class="center"><%= r[9] %></td>
                      <td><%= r[10] %></td>
                      <td><%= r[11] %></td>
                      <td class="center"><%= r[12] %></td>
                      <td class="center"><%= r[13] %></td>
                      <td class="center"><%= r[14] %></td>
                  </tr> 
                <% end %>

              </tbody>
            </table>

          </div>

          <!-- starsi rocniky -->
          <div role="tabpanel" class="tab-pane" id="older">

            <div class="row">

              <div class="col-md-4">
                <h3>50. ročník - 2019</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2019.pdf" target="_blank">hlavni_zavod_2019.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2019.pdf" target="_blank">detsky_zavod_2019.pdf</a>
                </ul>   
              </div>

              <div class="col-md-4">
                <h3>49. ročník - 2018</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2018.pdf" target="_blank">hlavni_zavod_2018.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2018.pdf" target="_blank">detsky_zavod_2018.pdf</a>
                </ul>   
              </div>

              <div class="col-md-4">
                <h3>48. ročník - 2017</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2017.pdf" target="_blank">hlavni_zavod_2017.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2017.pdf" target="_blank">detsky_zavod_2017.pdf</a>
                </ul>   
              </div>

            </div>



            <div class="row">

              <div class="col-md-4">
                <h3>47. ročník - 2016</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2016.pdf" target="_blank">hlavni_zavod_2016.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2016.pdf" target="_blank">detsky_zavod_2016.pdf</a>
                </ul>   
              </div>

              <div class="col-md-4">
                <h3>46. ročník - 2015</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2015.pdf" target="_blank">hlavni_zavod_2015.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2015.pdf" target="_blank">detsky_zavod_2015.pdf</a>
                </ul>   
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->

