<%= render :partial => 'partials/titlebar', locals: {title: 'Výsledky'} %>

<%

  results = [
      [1,"1","","","","","","","",269,"Grebik Radim","Titan Trilife",2001,"25:05","00:00"],
      [2,"","1","","","","","","",153,"Václavík Filip","TITAN TRILIFE",1995,"26:07","01:02"],
      [3,"","2","","","","","","",221,"Hradil Pavel","TITAN TRILIFE",1998,"26:30","01:25"],
      [4,"","3","","","","","","",150,"Jakubec Tomáš","",1990,"26:40","01:35"],
      [5,"","","1","","","","","",160,"Holiš Martin","",1974,"26:50","01:45"],
      [6,"","4","","","","","","",68,"Fousek Jan","Mk Seitl Ostrava",1991,"26:54","01:49"],
      [7,"","","2","","","","","",64,"Ryška Vít","VSK Univerzita Brno",1975,"27:08","02:03"],
      [8,"","5","","","","","","",195,"Kunčický Jan","AK ŠNEK",1999,"27:18","02:13"],
      [9,"","6","","","","","","",8,"Radomský Marek","",1989,"27:38","02:33"],
      [10,"","7","","","","","","",193,"Hečko Martin","Valachbajk team",1987,"27:48","02:43"],
      [11,"","","3","","","","","",63,"Hanke David","AKEZ Kopřivnice",1971,"28:03","02:58"],
      [12,"","8","","","","","","",187,"Valošek Jan","AFC Veřovice",1987,"28:09","03:04"],
      [13,"","","4","","","","","",60,"Škapa Marek","MK Seitl Ostrava",1971,"28:11","03:06"],
      [14,"","9","","","","","","",40,"Batrla Tomáš","",1999,"28:15","03:10"],
      [15,"","10","","","","","","",128,"Záleský Stanislav","AO Slavia Havířov",1987,"28:18","03:13"],
      [16,"","","5","","","","","",208,"Zembovski Edvard","",1972,"28:24","03:19"],
      [17,"","11","","","","","","",258,"Gawlas Dominik","KW horolezci Bilesko",1982,"28:28","03:23"],
      [18,"","12","","","","","","",185,"LUŠOVSKÝ  Eda ","",1981,"28:42","03:37"],
      [19,"","13","","","","","","",24,"Dorňák Petr","",1992,"28:46","03:41"],
      [20,"","14","","","","","","",477,"Bača Lukáš","SK Adamus Kofola",1987,"28:49","03:44"],
      [21,"2","","","","","","","",230,"Zecha Vojtěch","Atletický klub Havířov",2001,"28:52","03:47"],
      [22,"","","6","","","","","",158,"Barabáš Jan","TTC Olomouc",1976,"29:07","04:02"],
      [23,"","15","","","","","","",243,"Čáň Daniel","Vivat sport Valašské Meziříčí",1993,"29:18","04:13"],
      [24,"","","","1","","","","",198,"Baláž Roman","Baláž EXTREME-TEAM Frenštát p.R.",1965,"29:23","04:18"],
      [25,"","16","","","","","","",245,"Brož Matěj","Ondegokennel",1989,"29:31","04:26"],
      [26,"","17","","","","","","",136,"Blaha Ondřej","Hutisko-Solanec",1986,"29:35","04:30"],
      [27,"3","","","","","","","",133,"Škrobák Petr","AC Sportguides Rožnov p. R.",2001,"29:36","04:31"],
      [28,"","18","","","","","","",86,"Kramoliš Jiří","AKEZ Koprivnice",1991,"29:50","04:45"],
      [29,"","19","","","","","","",246,"Havránek Matěj","",1983,"29:57","04:52"],
      [30,"","20","","","","","","",201,"Pospíšil Petr","",1991,"30:04","04:59"],
      [31,"","","7","","","","","",200,"Krejčí Michal","Valachbajk Team",1975,"30:05","05:00"],
      [32,"","","8","","","","","",276,"Reček Lukáš","ATC Ostrava",1978,"30:09","05:04"],
      [33,"","21","","","","","","",288,"Garnol Radim","Max Elite Sport ",1987,"30:19","05:14"],
      [34,"4","","","","","","","",170,"Sokol Marek","",2002,"30:24","05:19"],
      [35,"","","9","","","","","",518,"Pryszcz Patrik","HO Třinec",1978,"30:25","05:20"],
      [36,"","22","","","","","","",266,"Střalka Radek","TJ Trojanovice Bystré",1995,"30:27","05:22"],
      [37,"","23","","","","","","",87,"Girard Petr","SK Skialpin Pustevny",1987,"30:31","05:26"],
      [38,"","24","","","","","","",81,"Brož Ondřej ","Ondego kennel",1984,"30:31","05:26"],
      [39,"","25","","","","","","",228,"Chocholáč Jirka","Šampióni",1981,"30:33","05:28"],
      [40,"","","","2","","","","",98,"Olejník Jaroslav","",1967,"30:50","05:45"],
      [41,"","26","","","","","","",238,"Filgas Ondřej","HO Vítkovice",1981,"30:57","05:52"],
      [42,"","27","","","","","","",294,"Hrdina Libor","",1979,"31:00","05:55"],
      [43,"","28","","","","","","",137,"Dubčák Pavel","",1986,"31:03","05:58"],
      [44,"","","10","","","","","",148,"Olajoš Dušan","KPNP Rybí",1975,"31:08","06:03"],
      [45,"","","11","","","","","",82,"Prouza Robert","Trojanovice",1977,"31:13","06:08"],
      [46,"","29","","","","","","",210,"Minařík Tomáš","Valachbajk team - Kašavský kros",1981,"31:23","06:18"],
      [47,"","30","","","","","","",117,"Zámostný Jan","HO START Ostrava",1992,"31:25","06:20"],
      [48,"","31","","","","","","",91,"Wolf Tomáš","",1996,"31:27","06:22"],
      [49,"","32","","","","","","",175,"Jirka Michal","KOB START Blansko",1984,"31:29","06:24"],
      [50,"","","12","","","","","",30,"Petřek Libor","TJ Gumárny Zubří",1971,"31:33","06:28"],
      [51,"","33","","","","","","",178,"Bílý Martin","K-RUSH TEAM",1994,"31:35","06:30"],
      [52,"","","13","","","","","",151,"Raška Radek","AKEZ Kopřivnice",1976,"31:38","06:33"],
      [53,"","","14","","","","","",241,"Němeček Martin","Valašská Bystřice",1973,"31:48","06:43"],
      [54,"","34","","","","","","",227,"Grigorescu Lubor ","Šampióni",1981,"31:48","06:43"],
      [55,"5","","","","","","","",169,"Feranec Adaml","SSK Vítkovice",2002,"31:49","06:44"],
      [56,"","35","","","","","","",223,"Derka Radim","",1991,"31:52","06:47"],
      [57,"","36","","","","","","",19,"Pokluda Jiří","PJR",1979,"32:01","06:56"],
      [58,"","37","","","","","","",23,"Křístek Petr","HO VŠB TU Ostrava",1987,"32:03","06:58"],
      [59,"","38","","","","","","",235,"Kundrát Pavel","TOBI Sport Frenštát p. R.",1982,"32:06","07:01"],
      [60,"","39","","","","","","",190,"Březina Martin","BK Kubánkov",1988,"32:14","07:09"],
      [61,"","","15","","","","","",103,"Hlaváč Bronislav","ENERGY TEAM Bolatice",1977,"32:20","07:15"],
      [62,"","40","","","","","","",526,"Smékal Václav","SK Černé plíce",1989,"32:23","07:18"],
      [63,"","41","","","","","","",529,"Řezáč Martinn","MUshing team Ostrava",1982,"32:24","07:19"],
      [64,"","","","3","","","","",177,"Pavlík Miroslav","Mountaintime Felt Aropec",1964,"32:26","07:21"],
      [65,"","","","","","1","","",207,"Miklišova Lucie","Titan trilife",2002,"32:29","07:24"],
      [66,"","","","4","","","","",132,"Vinklárek Jiří","TJ Rožnov pod Radhoštěm",1961,"32:31","07:26"],
      [67,"","42","","","","","","",534,"Volný Petr","TJ Gumárny Zubří",1979,"32:41","07:36"],
      [68,"","43","","","","","","",233,"Bařinka Lukáš","",1990,"32:42","07:37"],
      [69,"","44","","","","","","",44,"Tabach Richard","",1997,"32:50","07:45"],
      [70,"","","","","","","1","",214,"Němčíková Jana","BIATLON OSTRAVA z.s.",2000,"32:51","07:46"],
      [71,"","","16","","","","","",196,"Melčák Tomáš ","",1975,"32:52","07:47"],
      [72,"","45","","","","","","",111,"Mareš Petr","HO START Ostrava",1979,"32:55","07:50"],
      [73,"","","","5","","","","",237,"Muck Arnošt","Hranice",1959,"32:58","07:53"],
      [74,"","","","","","","","1",244,"Quittova Lenka","",1974,"33:02","07:57"],
      [75,"","","17","","","","","",138,"Kubečka Tomáš","",1972,"33:04","07:59"],
      [76,"","46","","","","","","",127,"Polášek Jan","AO Slavia Havířov",1980,"33:05","08:00"],
      [77,"","","18","","","","","",96,"Gilar Lukáš","",1976,"33:09","08:04"],
      [78,"","47","","","","","","",73,"Pustka Martin","",1999,"33:13","08:08"],
      [79,"","","","","","","2","",143,"Otevřelová Kristýna","Montura Czech Team",1987,"33:27","08:22"],
      [80,"","","","","","","","2",166,"Kovařčíková  Hela ","Poličná ",1978,"33:38","08:33"],
      [81,"","","19","","","","","",20,"Chýlek Patrik","",1973,"33:50","08:45"],
      [82,"","","20","","","","","",55,"Šubert Pavel","Neběžecký kroužek",1974,"33:52","08:47"],
      [83,"","","21","","","","","",216,"Raška Zbyněk","SK ZaFaR Frenštát p.R.",1975,"33:58","08:53"],
      [84,"","","","6","","","","",129,"Punge Petr","SK Prerov",1967,"34:00","08:55"],
      [85,"","48","","","","","","",78,"Vlček Jiří","",1992,"34:08","09:03"],
      [86,"","49","","","","","","",108,"Blahuta Tomáš","příznivec HO START Ostrava ",1992,"34:10","09:05"],
      [87,"","50","","","","","","",114,"Šustek Pavel","HO START Ostrava",1979,"34:11","09:06"],
      [88,"","51","","","","","","",515,"Fojtů Ondřej","Ostrava",1983,"34:12","09:07"],
      [89,"","52","","","","","","",234,"Karpeta Jan","Abadzikra",1983,"34:15","09:10"],
      [90,"","53","","","","","","",172,"Michálek Petr","",1991,"34:18","09:13"],
      [91,"","","22","","","","","",224,"Veselý Antonín","Český horolezecký svaz",1976,"34:18","09:13"],
      [92,"","54","","","","","","",206,"Zbranek Václav","Valachbajk team",1981,"34:37","09:32"],
      [93,"","","","7","","","","",39,"Vavřík Jaroslav","",1960,"34:39","09:34"],
      [94,"","","23","","","","","",88,"Plhoň Jakub","KČT Bystřice pod Hostýnem",1978,"34:39","09:34"],
      [95,"","","","8","","","","",1,"Lipina Tomáš","Mk Seitl Ostrava",1966,"34:40","09:35"],
      [96,"","55","","","","","","",2,"Kováček Stanislav","Rungo.cz Ostrava",1983,"34:40","09:35"],
      [97,"","56","","","","","","",232,"Hrachovec Honza","Bizon City Group",1979,"34:42","09:37"],
      [98,"","","","","","","3","",423,"Píchová Karolína","",1990,"34:43","09:38"],
      [99,"","","24","","","","","",290,"Kubala Miroslav","",1969,"34:45","09:40"],
      [100,"","","","","","","4","",286,"Olejníčková Jana","AK ŠNEK",1988,"34:49","09:44"],
      [101,"","57","","","","","","",297,"Wojnar Martin","Salomon team Suunto",1981,"34:52","09:47"],
      [102,"","","","","","","","3",180,"Fialová Hana","",1972,"35:11","10:06"],
      [103,"","","25","","","","","",179,"Fiala David","",1970,"35:17","10:12"],
      [104,"","58","","","","","","",56,"Hýl  Michal ","",1991,"35:18","10:13"],
      [105,"","","","9","","","","",71,"Mrklovský Petr","AK E.Zátopka Kopřivnice",1966,"35:20","10:15"],
      [106,"","59","","","","","","",289,"Žůrek Pavel","",1988,"35:23","10:18"],
      [107,"","","26","","","","","",134,"Škrobák Petr","AC Sportguides Rožnov p. R.",1972,"35:25","10:20"],
      [108,"","","27","","","","","",77,"Pustka Petr","",1973,"35:28","10:23"],
      [109,"","60","","","","","","",9,"Šimon Jozef","",1988,"35:29","10:24"],
      [110,"","","28","","","","","",197,"Rek Filip","TOBI Sport Frenštát p.R.",1978,"35:31","10:26"],
      [111,"","61","","","","","","",264,"Kawulok Martin","",1984,"35:37","10:32"],
      [112,"","","29","","","","","",202,"Kaluža Radim","",1976,"35:40","10:35"],
      [113,"","","","10","","","","",236,"Tabach Tomáš","Kozlovice",1966,"35:42","10:37"],
      [114,"","","30","","","","","",52,"Maliňák Tomáš","Rožnov",1971,"35:43","10:38"],
      [115,"","","","11","","","","",247,"SALAWA Jiří","Hlučín",1967,"35:45","10:40"],
      [116,"","62","","","","","","",519,"Nečas Aleš","Ani za nic",1982,"35:48","10:43"],
      [117,"","","31","","","","","",225,"Eis Miloslav","Rekrea Ostravice",1976,"35:48","10:43"],
      [118,"","63","","","","","","",184,"Šimíček Petr","SDH Mniší",1979,"35:49","10:44"],
      [119,"","","32","","","","","",141,"Šimeček Radim","Midar Příbor",1969,"35:51","10:46"],
      [120,"","","","12","","","","",203,"Pšenica Julius","",1967,"35:53","10:48"],
      [121,"6","","","","","","","",517,"Heralt Jiří","",2002,"35:55","10:50"],
      [122,"","","33","","","","","",22,"Bajgar David","STS Chvojkovice-Brod",1976,"35:58","10:53"],
      [123,"","","","","","","5","",279,"Giergielová  Markéta ","SKIBIKECENTRUM.CZ team",1979,"36:03","10:58"],
      [124,"","","","","1","","","",145,"Walek Bronislav ","Hrádek ve Slezsku",1957,"36:04","10:59"],
      [125,"","","","13","","","","",115,"Vávra Petr","HO START Ostrava",1962,"36:05","11:00"],
      [126,"","64","","","","","","",33,"Novotný Martin","",1988,"36:17","11:12"],
      [127,"","65","","","","","","",123,"Zuzaňák Ondřej","příznivec HO START Ostrava ",1991,"36:20","11:15"],
      [128,"","","","","","","","4",156,"Máchová Markéta","Hukvaldy",1977,"36:22","11:17"],
      [129,"","66","","","","","","",3,"Bordovský Tomáš ","Frenštát",1987,"36:27","11:22"],
      [130,"","67","","","","","","",293,"Hanzl Jiří","Klimkovice",1988,"36:30","11:25"],
      [131,"","","","","2","","","",176,"Přívětivý Miroslav ","Přibor",1953,"36:35","11:30"],
      [132,"","68","","","","","","",66,"Hájek  Jiří ","",1992,"36:37","11:32"],
      [133,"","69","","","","","","",144,"Maloň Vladimír ","Gumárny Zubří",1980,"36:39","11:34"],
      [134,"","70","","","","","","",182,"Černošek Tomáš","SDH Mniší",1994,"36:42","11:37"],
      [135,"","71","","","","","","",226,"Merta Miroslav","Abadzikra",1984,"36:46","11:41"],
      [136,"","","","","","","","5",189,"Rybářová Ludmila","L.A.Ryby",1972,"36:52","11:47"],
      [137,"","","34","","","","","",283,"Kocián Jan","V3T",1977,"36:55","11:50"],
      [138,"","","35","","","","","",90,"Kocurek Igor","",1971,"37:01","11:56"],
      [139,"","72","","","","","","",101,"Hupšil Radim","VHS Brno",1984,"37:05","12:00"],
      [140,"","73","","","","","","",142,"Kyselý Lukáš","",1986,"37:09","12:04"],
      [141,"","","36","","","","","",163,"Stošek René","",1972,"37:11","12:06"],
      [142,"","","37","","","","","",36,"Siročák Petr","HO Start",1978,"37:12","12:07"],
      [143,"","74","","","","","","",183,"Špaček Pavel","SDH Mniší",1983,"37:17","12:12"],
      [144,"","","","","","","","6",155,"Burešová Petra","Mamky v pohybu",1978,"37:21","12:16"],
      [145,"","","38","","","","","",240,"Vodárek  Tomáš ","",1976,"37:23","12:18"],
      [146,"","75","","","","","","",121,"Macháček Jan","příznivec HO START Ostrava ",1993,"37:25","12:20"],
      [147,"","76","","","","","","",165,"Moravcik Petr","",1981,"37:29","12:24"],
      [148,"","","","","","","6","",65,"Blinková Monika","",1992,"37:32","12:27"],
      [149,"","77","","","","","","",251,"Burýšek Lukáš","FU Kopřivnice",1988,"37:34","12:29"],
      [150,"","","","","","","","7",38,"Gregořicová Jitka","Azimut",1977,"37:38","12:33"],
      [151,"","","","14","","","","",186,"Burget Miloslav","1.MtB Opatovice",1961,"37:41","12:36"],
      [152,"","","39","","","","","",99,"Kolouch David","",1976,"37:43","12:38"],
      [153,"","78","","","","","","",167,"Kovařčík  Daniel ","Poličná ",1979,"37:46","12:41"],
      [154,"","79","","","","","","",140,"Kovář Pavel","Zlín",1982,"37:51","12:46"],
      [155,"","","","15","","","","",205,"Mikunda Miloš","Rožnov pod Radhoštěm",1964,"37:54","12:49"],
      [156,"","80","","","","","","",239,"Čtvrtečka Roman","James",1984,"37:56","12:51"],
      [157,"","81","","","","","","",242,"Hruška Petr","Vojkovice.EU",1980,"38:02","12:57"],
      [158,"","82","","","","","","",72,"Štývar Jurášek","",1989,"38:03","12:58"],
      [159,"","","","","","","7","",211,"Popová Martina ","",1982,"38:07","13:02"],
      [160,"","83","","","","","","",174,"Siuda Radim","",1989,"38:08","13:03"],
      [161,"","","40","","","","","",15,"Jeřábek Kamil","VK Perun Ostrava",1976,"38:09","13:04"],
      [162,"","84","","","","","","",113,"Sotolář Petr","HO START Ostrava",1982,"38:10","13:05"],
      [163,"","85","","","","","","",270,"Beránek Petr","",1982,"38:11","13:06"],
      [164,"","86","","","","","","",249,"Langer Zdeněk","Valachbajk team",1983,"38:12","13:07"],
      [165,"","","","16","","","","",27,"Pernica Pavel","TJ Gumarny Zubří",1965,"38:16","13:11"],
      [166,"","87","","","","","","",62,"Lýsek Igor","SoMo",1980,"38:31","13:26"],
      [167,"","","","17","","","","",135,"Groš Štefan","S.K.Valašského Království",1961,"38:38","13:33"],
      [168,"","88","","","","","","",217,"Wagner Petr","MT Klimkovice",1983,"38:41","13:36"],
      [169,"","89","","","","","","",218,"Šušla Martin","",1992,"38:44","13:39"],
      [170,"","","","18","","","","",80,"Olejník Dalibor","Ostrava - Poruba",1965,"38:46","13:41"],
      [171,"","","","","","","8","",95,"Motyková Lucie","",1984,"38:58","13:53"],
      [172,"","","","","","","9","",222,"Štáková Kateřina","",1981,"38:58","13:53"],
      [173,"","","","19","","","","",149,"Šelepa Rudolf","",1964,"39:04","13:59"],
      [174,"","90","","","","","","",126,"Skřivan Filip","HO START Ostrava",1985,"39:08","14:03"],
      [175,"","","","20","","","","",102,"Němec Zdeněk","",1963,"39:10","14:05"],
      [176,"","91","","","","","","",94,"Orkáč Radomír","",1983,"39:11","14:06"],
      [177,"","","41","","","","","",284,"Šavrda Tomáš","Bizon City Group",1976,"39:12","14:07"],
      [178,"","92","","","","","","",110,"Klimánek Lukáš","HO START Ostrava",1979,"39:15","14:10"],
      [179,"","","","","3","","","",296,"Jakobi Zdeněk","OB Havířov",1957,"39:16","14:11"],
      [180,"","93","","","","","","",49,"Fousek Adam","Jelimánci",1995,"39:17","14:12"],
      [181,"","","","","","","","8",75,"Polášková Kateřina","Pomalé šípy Kopřivnice",1977,"39:18","14:13"],
      [182,"","","42","","","","","",46,"Káňa Tom","",1976,"39:19","14:14"],
      [183,"7","","","","","","","",131,"Punge Samuel ","SK Přerov",2004,"39:21","14:16"],
      [184,"","","","","","","10","",252,"Šnapková Petra","HO VŠB-TUO",1985,"39:24","14:19"],
      [185,"","","43","","","","","",70,"Slíva Pavel","Pomalé šípy Kopřivnice",1971,"39:25","14:20"],
      [186,"","","","","4","","","",43,"Bučánek Jiří","",1956,"39:26","14:21"],
      [187,"","","44","","","","","",538,"Štulrajter Radek","",1974,"39:31","14:26"],
      [188,"","","45","","","","","",83,"Randus Josef","AC Sportguides team Rožnov p.R.",1972,"39:32","14:27"],
      [189,"","","46","","","","","",188,"Rybář Andrej","L.A.Ryby",1972,"39:53","14:48"],
      [190,"","94","","","","","","",171,"Šablatura Zdeněk","SDH Mniší",1983,"40:00","14:55"],
      [191,"","95","","","","","","",295,"Florian Pavel","HO MOLE",1980,"40:04","14:59"],
      [192,"","","","","","","11","",544,"Kvitová Kateřina","Kateřina",1991,"40:07","15:02"],
      [193,"","","47","","","","","",278,"Bezstarosti Milan","",1972,"40:08","15:03"],
      [194,"","","48","","","","","",54,"Filip Jan","VK Perun Ostrava",1976,"40:09","15:04"],
      [195,"","96","","","","","","",280,"Koliba Jan","",1993,"40:11","15:06"],
      [196,"","","49","","","","","",173,"Částka Marek","Midar Příbor",1974,"40:11","15:06"],
      [197,"","","","","","","12","",58,"Jelonková Lucie","",1998,"40:12","15:07"],
      [198,"","","","","","","13","",192,"Brázdová Veronika","Sykora running",1990,"40:23","15:18"],
      [199,"","","","","","","14","",7,"Benáčková Marta","",1982,"40:24","15:19"],
      [200,"","","50","","","","","",164,"Hanusek Petr","",1976,"40:27","15:22"],
      [201,"","","51","","","","","",32,"Svěchota Milan","SKOB Ostrava",1972,"40:43","15:38"],
      [202,"","","","","","","","9",204,"Škrdová Danuše","mk seitl",1965,"40:52","15:47"],
      [203,"","","","21","","","","",154,"Březina Ladislav","MK Seitl Ostrava",1961,"40:54","15:49"],
      [204,"8","","","","","","","",282,"Raška Marek","",2003,"40:57","15:52"],
      [205,"9","","","","","","","",285,"Raška Matouš","",2005,"40:57","15:52"],
      [206,"","","","","","","15","",18,"Hudečková Hana","Klub přátel Velkého Javorníku !",1984,"41:07","16:02"],
      [207,"","","52","","","","","",61,"Král Roman","",1969,"41:09","16:04"],
      [208,"","97","","","","","","",29,"Dvorský Jan","",1981,"41:27","16:22"],
      [209,"","98","","","","","","",212,"Třaskoš Milan","Trhoši",1979,"41:32","16:27"],
      [210,"","","","","","","","10",26,"Máchová Monika","Pomalé Šípy",1972,"41:37","16:32"],
      [211,"","","","","","2","","",199,"Balážová Anna","Baláž EXTREME-TEAM Frenštát p.R.",2004,"41:46","16:41"],
      [212,"","","","","","","16","",104,"Jírová Kateřina","",1981,"41:47","16:42"],
      [213,"","99","","","","","","",231,"Frank Tomáš","Alpenverain",1981,"42:06","17:01"],
      [214,"","100","","","","","","",79,"Slavík Jiří","",1987,"42:12","17:07"],
      [215,"","","","","","","","11",139,"Hanzlová Svatava","",1966,"42:13","17:08"],
      [216,"","","","","","","","12",57,"Herotová Simona","",1975,"42:15","17:10"],
      [217,"","","53","","","","","",10,"Weingart Karel","",1976,"42:30","17:25"],
      [218,"","","","22","","","","",28,"Svoboda Martin","SKOB Frýdek Místek",1967,"43:01","17:56"],
      [219,"","","","","5","","","",84,"Trombik Emil","Český Těšín",1946,"43:05","18:00"],
      [220,"","","","","","","17","",69,"Juřicová Lucie","Šneci v běhu",1994,"43:06","18:01"],
      [221,"","","","","","","","13",42,"Perůtková Šárka","",1975,"43:29","18:24"],
      [222,"","","54","","","","","",161,"Kolář Petr","",1973,"43:43","18:38"],
      [223,"","","55","","","","","",209,"Kunz Martin","",1973,"44:02","18:57"],
      [224,"","","","23","","","","",248,"Hájovský Tomáš","Hlučín",1964,"44:03","18:58"],
      [225,"","","56","","","","","",125,"Šrámek Jiří","HO START Ostrava",1971,"44:04","18:59"],
      [226,"","","57","","","","","",271,"Mikulenka Tomáš","",1970,"44:06","19:01"],
      [227,"","","58","","","","","",168,"Bukovický David","",1976,"44:15","19:10"],
      [228,"","","","","","3","","",215,"Němčíková Adéla","BIATLON OSTRAVA z.s.",2004,"44:22","19:17"],
      [229,"","","","","","","18","",229,"Hapalová Iva ","Šampióni",1985,"44:28","19:23"],
      [230,"","","","","","","19","",11,"Honzíková Lucie","",1982,"44:33","19:28"],
      [231,"","101","","","","","","",514,"Sedlák Marek","LOkomotiva Trojanovice",1984,"44:34","19:29"],
      [232,"","102","","","","","","",511,"Pupík Vladan","LOkomotiva Trojanovice",1983,"44:34","19:29"],
      [233,"","103","","","","","","",6,"Švrček Radek","Montgomerius team",1981,"44:44","19:39"],
      [234,"","","","","","","20","",5,"Švrčková Markéta","Montgomerius team",1989,"44:44","19:39"],
      [235,"","104","","","","","","",93,"Kašpárek Radim","",1988,"44:46","19:41"],
      [236,"","105","","","","","","",493,"Štefek Dominik","pustevny s.r.o.",1998,"44:54","19:49"],
      [237,"","106","","","","","","",181,"Hrabovský Tomáš","SDH Mniší",1983,"44:55","19:50"],
      [238,"","","","","","4","","",21,"Chýlková Patricie","",2001,"45:02","19:57"],
      [239,"","","","","","","","14",106,"Kurková Martina","Běhat nás baví Opava",1963,"45:04","19:59"],
      [240,"","","","","","","21","",120,"Urbaníková Eva","HO START Ostrava",1980,"45:15","20:10"],
      [241,"","","","","6","","","",277,"Kunčický Jan","AK Šnek",1958,"45:21","20:16"],
      [242,"","","","","","","22","",194,"Morcinková Tereza","Alpsport Ježek na kopci  Milujeme hory.eu",1993,"45:25","20:20"],
      [243,"","","","","","","23","",48,"Hekelová Eva","",1987,"45:50","20:45"],
      [244,"","","","","","","","15",213,"Czerná Lucie","Ostrava (Sakura Dojo)",1971,"45:55","20:50"],
      [245,"","107","","","","","","",31,"Hajdušek Petr","TATRA 603",1983,"46:18","21:13"],
      [246,"","","","","","","24","",116,"Bambuchová Markéta","příznivec HO START Ostrava ",1992,"46:37","21:32"],
      [247,"","","","24","","","","",122,"Blahuta Břetislav","příznivec HO START Ostrava ",1961,"46:38","21:33"],
      [248,"","","","","","","25","",16,"Pavlíková Barbora (Bája)","Klub přátel Velkého Javorníku !",1981,"46:42","21:37"],
      [249,"","","","","","","","16",37,"Vričanová Sylva","SKOB Havířov",1967,"46:53","21:48"],
      [250,"","","59","","","","","",124,"Stecker Marek","HO START Ostrava",1974,"46:56","21:51"],
      [251,"","108","","","","","","",298,"Pícha Jan","SK Skialpin",1985,"47:26","22:21"],
      [252,"","","","25","","","","",219,"Orság Josef","Pomalé šípy",1964,"48:37","23:32"],
      [253,"","","","","","","26","",47,"Kelnerová Kamila","Team Jeseník ",1982,"48:37","23:32"],
      [254,"","109","","","","","","",152,"Želazko Ondřej","",1988,"48:48","23:43"],
      [255,"","","","","","","27","",53,"Pfneislova Katerina","Tata and pink woman",1984,"49:11","24:06"],
      [256,"","","","","","","28","",35,"Stránská Lucia ","Pomalé šípy",1984,"49:12","24:07"],
      [257,"","","60","","","","","",520,"Perůtka Miroslav","Studénka",1975,"49:34","24:29"],
      [258,"","","","","","","29","",191,"Kašparová Zuzana","",1994,"50:10","25:05"],
      [259,"","","","","","","","17",50,"Janyšková Jolana","",1970,"50:22","25:17"],
      [260,"","110","","","","","","",162,"Jirka Jakub","Abadzikra",1979,"50:50","25:45"],
      [261,"","","","26","","","","",109,"Ďásek Petr","HO START Ostrava",1963,"52:56","27:51"],
      [262,"","","","","","","30","",147,"Korčeková  Ivana","",1982,"53:22","28:17"],
      [263,"","111","","","","","","",530,"Monsport Karel","Za sebe",1994,"54:18","29:13"],
      [264,"","","","","","","","18",260,"Adamcová Radka","",1977,"59:37","34:32"],
      [265,"","112","","","","","","",220,"Řepka Michal","BAUR TEAM",1984,"59:37","34:32"],
    ]
%>

<!-- Content -->
<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">


        <h2>Výsledky 49. ročníku</h2>

        <div class="space20"></div>

        <div class="col-md-12 right">
          výsledky ke stažení <a class="more" href="/hlavni_zavod.pdf" target="_blank">hlavni_zavod.pdf</a> a <a class="more" href="/detsky_zavod.pdf" target="_blank">detsky_zavod.pdf</a>
        </div>

        <div class="space10"></div>

        <table class="table table-bordered">
          <thead>
            <tr class="result">
              <th class="v-middle" rowspan="2">#</th>
              <th colspan="5">Muži</th>
              <th colspan="3">Ženy</th>
              <th class="v-middle" rowspan="2">St.<br>číslo</th>
              <th class="v-middle" rowspan="2">Jméno</th>
              <th class="v-middle" rowspan="2">Oddíl</th>
              <th class="v-middle" rowspan="2">Ročník</th>
              <th class="v-middle" rowspan="2">Čas</th>
              <th class="v-middle" rowspan="2">Ztráta</th>
            </tr>
            <tr class="result">
              <th class="w-5">J</th>
              <th class="w-5">A</th>
              <th class="w-5">B</th>
              <th class="w-5">C</th>
              <th class="w-5">D</th>
              <th class="w-5">ZJ</th>
              <th class="w-5">ZA</th>
              <th class="w-5">ZB</th>
            </tr>
          </thead>

          <tbody>

            <% results.each_with_index do |r, index| %>
              <tr class="<%= index%2 == 0 ? 'even' : 'odd' %>">
                  <td class="center"><%= index + 1 %></td>
                  <td class="center w-5"><%= r[1] %></td>
                  <td class="center w-5"><%= r[2] %></td>
                  <td class="center w-5"><%= r[3] %></td>
                  <td class="center w-5"><%= r[4] %></td>
                  <td class="center w-5"><%= r[5] %></td>
                  <td class="center w-5"><%= r[6] %></td>
                  <td class="center w-5"><%= r[7] %></td>
                  <td class="center w-5"><%= r[8] %></td>
                  <td class="center"><%= r[9] %></td>
                  <td><%= r[10] %></td>
                  <td><%= r[11] %></td>
                  <td class="center"><%= r[12] %></td>
                  <td class="center"><%= r[13] %></td>
                  <td class="center"><%= r[14] %></td>
              </tr> 
            <% end %>

          </tbody>
        </table>

      </div>
    </div>
    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->

