<%= render :partial => 'partials/titlebar', locals: {title: 'Výsledky'} %>

<%

  results = [
    [1,1,"","","","","","","",115,"Olejníček Lukáš","AK Šnek",1988,"24:41","00:00"],
    [2,2,"","","","","","","",101,"Wurst Milan","HOREDOLE",1982,"25:51","01:10"],
    [3,3,"","","","","","","",118,"Ambros Jakub","AKE Zátopka Kopřivnice",1987,"26:05","01:24"],
    [4,4,"","","","","","","",144,"Dobiáš Ondřej","Kopřivnice",1997,"27:27","02:46"],
    [5,5,"","","","","","","",108,"Maniš Martin","TOBI Sport Frenštát.p.R.",1982,"27:42","03:01"],
    [6,6,"","","","","","","",195,"Škuca Zbyněk ","Vinotéka U Karla",1987,"28:12","03:31"],
    [7,7,"","","","","","","",19,"Radomský Marek","",1989,"28:36","03:55"],
    [8,8,"","","","","","","",204,"Marek LUkáš","SK Černé plíce",1993,"28:47","04:06"],
    [9,9,"","","","","","","",46,"Oháňka Josef","Ruming team Řepiště",1995,"28:51","04:10"],
    [10,10,"","","","","","","",198,"Žáček Martin"," MTB Ondřejník",1990,"28:55","04:14"],
    [11,11,"","","","","","","",213,"Štěpán David","LK Veřovice",1985,"29:02","04:21"],
    [12,12,"","","","","","","",158,"Ožana Lukáš","AO Slavia Havířov",1997,"29:05","04:24"],
    [13,13,"","","","","","","",143,"Kalita Tomáš","Mike Bike",1988,"29:17","04:36"],
    [14,"","",1,"","","","","",29,"Pavlík Miroslav","SK Oceláci Ostrava",1964,"29:27","04:46"],
    [15,14,"","","","","","","",160,"Polášek Jan","AO Slavia Havířov",1980,"29:43","05:02"],
    [16,"",1,"","","","","","",181,"Ondřejka Miroslav","Tobi sport team",1971,"29:53","05:12"],
    [17,"","",2,"","","","","",236,"Mynář Jiří","MTB Ondřejník",1965,"30:00","05:19"],
    [18,15,"","","","","","","",231,"Holub Milan","MIchelin",1982,"30:12","05:31"],
    [19,"",2,"","","","","","",10,"Jalůvka Jakub","",1975,"30:23","05:42"],
    [20,"","",3,"","","","","",120,"Harabiš Zbyněk","Titan TRILIFE",1965,"30:31","05:50"],
    [21,16,"","","","","","","",172,"Zámečník Jan","AK Emila Zátopka Kopřivnice",1980,"30:38","05:57"],
    [22,"",3,"","","","","","",82,"Němeček Martin","The Cooling Birds",1973,"30:39","05:58"],
    [23,17,"","","","","","","",109,"Konvička Adam","",1977,"30:41","06:00"],
    [24,"","","","","","","",1,114,"Kunčická Jana","AK Šnek",1988,"30:44","06:03"],
    [25,18,"","","","","","","",211,"Filgas Ondřej","Ostrava",1981,"30:52","06:11"],
    [26,"","",4,"","","","","",52,"Zátopek jiří","AK EZ Kopřivnice",1960,"30:57","06:16"],
    [27,19,"","","","","","","",148,"Černoch Ondřej","",1989,"30:59","06:18"],
    [28,20,"","","","","","","",57,"Klimánek Lukáš","HO Start Ostrava",1979,"31:00","06:19"],
    [29,21,"","","","","","","",99,"Tureček Tomáš ","EUROLAMP s.r.o.",1979,"31:05","06:24"],
    [30,22,"","","","","","","",174,"Křístek Petr","HO VSK VŠB-TU OSTRAVA",1987,"31:14","06:33"],
    [31,23,"","","","","","","",225,"Kempa Jan","Julbo way",1979,"31:16","06:35"],
    [32,24,"","","","","","","",191,"Brož Ondra","MTO ",1984,"31:18","06:37"],
    [33,25,"","","","","","","",103,"Raška Radek","AK Emila Zátopka Kopřivnice",1976,"31:19","06:38"],
    [34,26,"","","","","","","",230,"Grigorescu Lubor","lubor",1981,"31:21","06:40"],
    [35,27,"","","","","","","",183,"Kalina Petr","Beskydski",1976,"31:24","06:43"],
    [36,"","",5,"","","","","",223,"Ševčík Pavel","Zombie Opava",1961,"31:28","06:47"],
    [37,28,"","","","","","","",152,"Koliba Martin","SDH Metylovice",1983,"31:29","06:48"],
    [38,29,"","","","","","","",32,"Lebeda Jiří","Brušperk",1984,"31:36","06:55"],
    [39,30,"","","","","","","",39,"Wolf Tomáš","",1996,"31:38","06:57"],
    [40,"",4,"","","","","","",180,"Chýlek Patrik","Tichá",1973,"31:39","06:58"],
    [41,"","","","","","","",2,224,"Hudečková Tamara","Fialové kobry",1984,"31:40","06:59"],
    [42,"","","","",1,"","","",113,"Kunčický Jan","AK Šnek",1999,"31:40","06:59"],
    [43,31,"","","","","","","",61,"Mareš Petr","HO Start Ostrava",1979,"31:42","07:01"],
    [44,32,"","","","","","","",135,"Marák Jakub","SDH Mniší",1994,"31:50","07:09"],
    [45,33,"","","","","","","",201,"Havránek Matěj","AK Šnek",1983,"31:52","07:11"],
    [46,"","","","","","","",3,217,"Bluchová Kateřina","SSK Vítkovice/ Mushing team Ostrava",1983,"31:56","07:15"],
    [47,34,"","","","","","","",69,"Zámostný Jan","příznivec HO Start Ostrava",1982,"31:58","07:17"],
    [48,"",5,"","","","","","",226,"Hlavica Karel","Karel",1973,"32:00","07:19"],
    [49,"","",6,"","","","","",128,"Múck Arnošt","Hranice",1959,"32:12","07:31"],
    [50,"",6,"","","","","","",222,"Marek Martin","Duke corporation",1970,"32:13","07:32"],
    [51,35,"","","","","","","",177,"Kováček Stanislav","Rungo.cz Ostrava",1983,"32:15","07:34"],
    [52,"","","","","","","",4,199,"Čaganová Petra","Tobik",1993,"32:17","07:36"],
    [53,36,"","","","","","","",145,"Kania Jakub","AK Šnek",1987,"32:20","07:39"],
    [54,37,"","","","","","","",206,"Smékal Václav","Smékal",1989,"32:21","07:40"],
    [55,38,"","","","","","","",140,"Sýkora Lukáš","AK Olomouc",1990,"32:22","07:41"],
    [56,"","",7,"","","","","",76,"Vinklárek Jiří ","TJ Rožnov pod Radh",1961,"32:24","07:43"],
    [57,39,"","","","","","","",71,"Zuzaňák Ondřej","Biatlon klub Poruba",1991,"32:34","07:53"],
    [58,"",7,"","","","","","",34,"Šubert Pavel","Horalove",1974,"32:45","08:04"],
    [59,40,"","","","","","","",176,"Veselý Antonín","Autocont CZ",1976,"32:54","08:13"],
    [60,"",8,"","","","","","",22,"Lipina Tomáš","MK Seitl Ostrava",1966,"32:59","08:18"],
    [61,41,"","","","","","","",300,"XXX","",1980,"33:00","08:19"],
    [62,42,"","","","","","","",95,"Sionkala Michal","",1983,"33:02","08:21"],
    [63,43,"","","","","","","",98,"Merta Miroslav","lepus.cz",1984,"33:08","08:27"],
    [64,"",9,"","","","","","",212,"Filgas Jan","Stará Ves nad Ondřejnicí",1973,"33:09","08:28"],
    [65,44,"","","","","","","",25,"Schreier Jan","Neplachovice",1992,"33:10","08:29"],
    [66,45,"","","","","","","",110,"Stöcker Richard","Team LightBike",1979,"33:17","08:36"],
    [67,"",10,"","","","","","",203,"Dziekaniik Libor","JoABONE",1974,"33:25","08:44"],
    [68,46,"","","","","","","",14,"Havlík Ondřej","MISUMI",1981,"33:26","08:45"],
    [69,47,"","","","","","","",92,"Sobek Dominik","Ruming team Řepiště",1995,"33:29","08:48"],
    [70,48,"","","","","","","",188,"Rek Filip","Tobi sport Frenštát",1978,"33:31","08:50"],
    [71,"",11,"","","","","","",27,"Rudický Radovan Raduz","SK Oceláci Ostrava",1969,"33:40","08:59"],
    [72,49,"","","","","","","",149,"Zecha Jakub","AO Slavia Havířov",1996,"33:41","09:00"],
    [73,"",12,"","","","","","",208,"Kaláb Dalibor","Eurofoam",1972,"33:41","09:00"],
    [74,50,"","","","","","","",67,"Šustek Pavel","HO Start Ostrava",1979,"33:43","09:02"],
    [75,"","",8,"","","","","",157,"Šnevajs Radomír","KHB Radegast",1963,"33:56","09:15"],
    [76,"",13,"","","","","","",48,"Šimeček Radim","Midar Příbor",1969,"34:03","09:22"],
    [77,51,"","","","","","","",54,"Blahuta Tomáš","Biatlon klub Poruba",1992,"34:05","09:24"],
    [78,"",14,"","","","","","",159,"Přibyl Jaromir","",1974,"34:07","09:26"],
    [79,"","",9,"","","","","",62,"Nováček Petr ","HO Start Ostrava",1959,"34:17","09:36"],
    [80,52,"","","","","","","",45,"Pokluda Jiří","PJR",1979,"34:24","09:43"],
    [81,"","","",1,"","","","",111,"Najdek Bohumír ","Racing Olešná",1955,"34:26","09:45"],
    [82,53,"","","","","","","",31,"Sedlář Robin ","",1983,"34:40","09:59"],
    [83,54,"","","","","","","",85,"Březina Martin","SDH Metylovice",1988,"34:47","10:06"],
    [84,55,"","","","","","","",164,"Švacha Marek","",1997,"34:48","10:07"],
    [85,"","","","","","","",5,229,"Hapalová Iva","Iva",1985,"34:50","10:09"],
    [86,"","","","","","","",6,26,"Přádková Hanka","SK Ocelaci",1978,"34:53","10:12"],
    [87,"","","","","","","",7,88,"Kocichová Eva","",1978,"34:54","10:13"],
    [88,56,"","","","","","","",41,"Fiala David","",1991,"34:55","10:14"],
    [89,57,"","","","","","","",147,"Jirka Jakub","Abadžikra",1979,"34:56","10:15"],
    [90,"","",10,"","","","","",141,"Sýkora Josef","",1963,"34:57","10:16"],
    [91,58,"","","","","","","",96,"Baciák Pavel","nechutná společnost",1977,"34:59","10:18"],
    [92,"",15,"","","","","","",105,"Pazdziora Aleš","Tým LightBIKE",1971,"35:00","10:19"],
    [93,"","",11,"","","","","",13,"Groš Štefan","S.K.Valašského Království",1961,"35:01","10:20"],
    [94,59,"","","","","","","",89,"Bukovinský Michal","HO Přírodní vědy",1984,"35:02","10:21"],
    [95,60,"","","","","","","",238,"Mindek Tomáš","přátelé Zleleného údolí",1979,"35:06","10:25"],
    [96,61,"","","","","","","",210,"Žurek Pavel","pavel",1988,"35:17","10:36"],
    [97,62,"","","","","","","",234,"Votýpka Antonín","",1981,"35:20","10:39"],
    [98,63,"","","","","","","",205,"Černý Filip","SK Černé plíce",1985,"35:21","10:40"],
    [99,64,"","","","","","","",121,"Pavliska Jakub","Huisman / BBFM",1987,"35:24","10:43"],
    [100,"",16,"","","","","","",154,"pšenica julius","",1967,"35:25","10:44"],
    [101,65,"","","","","","","",218,"Kubík Jan ","",1986,"35:26","10:45"],
    [102,66,"","","","","","","",49,"Čtvrtečka Roman","Enjoy your limit",1984,"35:27","10:46"],
    [103,67,"","","","","","","",78,"Hoplják Petr","TRIPPERS",1987,"35:35","10:54"],
    [104,68,"","","","","","","",44,"Zela Radek","PJR",1978,"35:37","10:56"],
    [105,"","","","","","",1,"",21,"Rybářová Ludmila","L.A.Ryby",1972,"35:40","10:59"],
    [106,69,"","","","","","","",107,"Mikerásek Radek","Tobi sport team",1986,"35:41","11:00"],
    [107,"",17,"","","","","","",94,"Kudrna Filip","",1973,"35:45","11:04"],
    [108,"",18,"","","","","","",58,"Kratochvíl Michal","HO Start Ostrava",1971,"35:47","11:06"],
    [109,"","","","","","","",8,100,"Řečinská Klára","",1994,"35:49","11:08"],
    [110,70,"","","","","","","",185,"Němec Petr","Ostrava",1977,"35:50","11:09"],
    [111,71,"","","","","","","",161,"Polášek Vít","AO Slavia Havířov",1994,"35:55","11:14"],
    [112,72,"","","","","","","",167,"Šelepa Petr","",1989,"35:56","11:15"],
    [113,"",19,"","","","","","",59,"Kubečka Tomáš","příznivec HO Start Ostrava",1972,"35:58","11:17"],
    [114,73,"","","","","","","",23,"Kohn Tomáš","Melčák Martin",1992,"36:00","11:19"],
    [115,74,"","","","","","","",16,"Jeřábek Kamil","VK Perun Ostrava",1976,"36:02","11:21"],
    [116,75,"","","","","","","",129,"Šimíček Petr","SDH Mniší",1979,"36:07","11:26"],
    [117,"","","","","","","",9,30,"Zelená Marie Zelená","Uherský Brod",1985,"36:09","11:28"],
    [118,76,"","","","","","","",60,"Macháček Jan","příznivec HO Start Ostrava",1993,"36:11","11:30"],
    [119,77,"","","","","","","",7,"Rigo David","Žabák Team :-)",1983,"36:14","11:33"],
    [120,78,"","","","","","","",70,"Zezula Michal","HO Start Ostrava",1985,"36:14","11:33"],
    [121,79,"","","","","","","",28,"Sojka Patrik","Kunčice pod Ondřejníkem",1988,"36:16","11:35"],
    [122,"",20,"","","","","","",42,"Fiala David ","ho baník - ho start - eleven",1970,"36:20","11:39"],
    [123,"","","","","","","",10,220,"Ševčíková Petra","",1991,"36:22","11:41"],
    [124,"",21,"","","","","","",4,"Bílek Pavel","",1970,"36:24","11:43"],
    [125,"",22,"","","","","","",50,"Maliňák Tomáš","Rožnov",1971,"36:27","11:46"],
    [126,"",23,"","","","","","",63,"Polák Aleš","příznivec HO Start Ostrava",1969,"36:33","11:52"],
    [127,80,"","","","","","","",65,"Skřivan Filip","příznivec HO Start Ostrava",1985,"36:38","11:57"],
    [128,"",24,"","","","","","",232,"Halamíaček Marek","Frenštát p.R.",1975,"36:42","12:01"],
    [129,"","","",2,"","","","",35,"Jelínek Petr","AKEZ Kopřivnice",1952,"36:50","12:09"],
    [130,"","","","","","",2,"",84,"Běčáková Dobromila","",1970,"36:55","12:14"],
    [131,"",25,"","","","","","",209,"Muroň Radim","Rungp",1974,"37:00","12:19"],
    [132,"","",12,"","","","","",168,"Šelepa Rudolf","",1964,"37:07","12:26"],
    [133,"",26,"","","","","","",227,"Knesl Martin","Martin",1968,"37:10","12:29"],
    [134,"",27,"","","","","","",20,"Rybář Andrej","L.A.Ryby",1972,"37:13","12:32"],
    [135,"","","","","","","",11,197,"Marková Adléla","Frenštát p.R.",1993,"37:18","12:37"],
    [136,"","",13,"","","","","",83,"Skupieň Josef","",1957,"37:24","12:43"],
    [137,81,"","","","","","","",18,"Novotný Martin","",1988,"37:30","12:49"],
    [138,"","","","","","",3,"",5,"Škrdová Danuše","mk seitl ostrava",1965,"37:37","12:56"],
    [139,"",28,"","","","","","",119,"Zuzaňák Vilém","Biatlon klub Poruba",1968,"37:53","13:12"],
    [140,"","",14,"","","","","",126,"Tomečka Libor","CETRIS Hranice",1962,"37:55","13:14"],
    [141,82,"","","","","","","",74,"Izvorský Jan","SDH Metylovice",1981,"37:57","13:16"],
    [142,"","",15,"","","","","",6,"Bučánek Jiří","",1956,"37:59","13:18"],
    [143,"","","","","","",4,"",192,"Šádková Tereza","SK Oceláci",1973,"38:03","13:22"],
    [144,"",29,"","","","","","",170,"Stošek René","Hlučín",1972,"38:10","13:29"],
    [145,83,"","","","","","","",38,"Wolf Radomír","",1988,"38:24","13:43"],
    [146,"",30,"","","","","","",11,"Král Roman","",1969,"38:25","13:44"],
    [147,"","","",3,"","","","",127,"Chytil Vladimír ","DD Všechovice",1950,"38:32","13:51"],
    [148,"","",16,"","","","","",53,"Blahuta Břetislav","příznivec HO Start Ostrava",1961,"38:37","13:56"],
    [149,84,"","","","","","","",179,"Florian Pavel ","Slušnej",1980,"38:41","14:00"],
    [150,"",31,"","","","","","",124,"Vývoda Zdeněk","SKOB OSTRAVA",1967,"38:44","14:03"],
    [151,"",32,"","","","","","",207,"Vyhlídal Patrik","EUROFOAM",1972,"38:50","14:09"],
    [152,"",33,"","","","","","",97,"Svěchota Milan","SKOB Ostrava",1972,"38:51","14:10"],
    [153,"",34,"","","","","","",15,"Valko Petr","VALKO-Partners",1972,"38:59","14:18"],
    [154,85,"","","","","","","",130,"Hrabovský Tomáš","SDH Mniší",1983,"39:07","14:26"],
    [155,"",35,"","","","","","",102,"Štefanský Pavel","",1968,"39:09","14:28"],
    [156,86,"","","","","","","",112,"Dlouhý Václav","SK Valašského Království ",1989,"39:12","14:31"],
    [157,"","","",4,"","","","",187,"Cypra Zdenek","SK Valašské království",1949,"39:19","14:38"],
    [158,"","",17,"","","","","",171,"Beseda Jaroslav","",1961,"39:40","14:59"],
    [159,87,"","","","","","","",47,"Pop Ondřej","",1994,"39:44","15:03"],
    [160,"",36,"","","","","","",125,"Svoboda Martin","SKOB Frýdek-Místek",1967,"39:55","15:14"],
    [161,"",37,"","","","","","",235,"Hájek Karel","Waldorf Poruba",1974,"39:56","15:15"],
    [162,88,"","","","","","","",134,"Marák Ondřej","SDH Mniší",1991,"39:58","15:17"],
    [163,89,"","","","","","","",40,"Hylš Tomáš","",1982,"40:02","15:21"],
    [164,90,"","","","","","","",3,"Trojan Petr","H.O. Přírodní vědy",1983,"40:04","15:23"],
    [165,"","","","","","","",12,51,"Knězková Jana","",1987,"40:12","15:31"],
    [166,"","","","","","",5,"",169,"Hanzlová Svatava","PJR Frenštát p. R.",1966,"40:24","15:43"],
    [167,"",38,"","","","","","",196,"Skýpala Karel","Frenštát p.R.",1969,"40:25","15:44"],
    [168,"","","","","","","",13,73,"Izvorská Denisa","SDH Metylovice",1986,"41:00","16:19"],
    [169,"","","","","","","",14,37,"Bílková Zuzana","SDH Metylovice",1987,"41:00","16:19"],
    [170,"","","","","",1,"","",219,"Lacinová Kateřina","MUshing team Ostravaa",1998,"41:03","16:22"],
    [171,91,"","","","","","","",93,"Ardielli Jiri","Orientaci",1978,"41:09","16:28"],
    [172,"",39,"","","","","","",106,"Tison Marcel","",1975,"41:11","16:30"],
    [173,92,"","","","","","","",165,"Chmelík Richard","Atletický oddíl Slavia Havířov",1990,"41:14","16:33"],
    [174,93,"","","","","","","",190,"Rybář Matěj","Ksrdio kruháč",1991,"41:15","16:34"],
    [175,"","","","","",2,"","",163,"Fukalová Hana ","příznivec HO Start Ostrava",1998,"41:18","16:37"],
    [176,94,"","","","","","","",133,"Harabiš Václav","SDH Mniší",1993,"41:20","16:39"],
    [177,"",40,"","","","","","",137,"Pecha Roman","VK Perun Ostrava",1966,"41:40","16:59"],
    [178,"",41,"","","","","","",228,"Lobiš Petr","Petr",1973,"41:57","17:16"],
    [179,95,"","","","","","","",240,"Kalmus David","David",1977,"41:59","17:18"],
    [180,"","",18,"","","","","",8,"Giecek Jaromir","HO Start Ostrava",1956,"42:00","17:19"],
    [181,96,"","","","","","","",221,"Frýdl Petr","Frýdlant",1977,"42:01","17:20"],
    [182,"","","","","","","",15,68,"Zagorová Marie","příznivec HO Start Ostrava",1987,"42:04","17:23"],
    [183,"","","","","","","",16,200,"Široká Radka","Radka",1987,"42:23","17:42"],
    [184,97,"","","","","","","",87,"Mildorf Lukáš ","HO Start Ostrava",1979,"42:26","17:45"],
    [185,"","","","","","","",17,9,"Vltavská Zuzana","SK Černé plíce",1992,"42:30","17:49"],
    [186,98,"","","","","","","",1,"Balcar Jaroslav","BeskydSki",1981,"42:31","17:50"],
    [187,"","","","","","","",18,64,"Poláková Šárka","HO Start Ostrava",1976,"42:47","18:06"],
    [188,"","",19,"","","","","",193,"Lysek Miroslsav","Pepa team Frýdek-Místsek",1963,"42:50","18:09"],
    [189,99,"","","","","","","",189,"Matyáš Milan","MM",1980,"42:59","18:18"],
    [190,"","","","","","",6,"",123,"Michalčíková Helena","",1968,"43:07","18:26"],
    [191,100,"","","","","","","",214,"Vávra Adam","HO Start Ostrava",1984,"43:10","18:29"],
    [192,"","","","","","","",19,233,"Bukovská Radka","Radka",1982,"43:33","18:52"],
    [193,101,"","","","","","","",194,"Třaskoš Milan","Trhoši",1979,"43:36","18:55"],
    [194,"","","","","","","",20,117,"Klímová Pavlína","",1982,"43:45","19:04"],
    [195,"","","","","","","",21,202,"Havránková Kateřina","AK Šnek",1986,"43:59","19:18"],
    [196,102,"","","","","","","",178,"Jurik Roman","Roman",1978,"44:08","19:27"],
    [197,"","","","","",3,"","",215,"Švidrnochová Lenka","SKOB OSTRAVA",1999,"44:17","19:36"],
    [198,103,"","","","","","","",90,"Bajgar David","STS Chvojkovice-Brod",1976,"44:20","19:39"],
    [199,"","",20,"","","","","",216,"Maceček Otakar","SKOB Ostrava",1961,"44:30","19:49"],
    [200,"","","","","","","",22,139,"Bartková Daniela","",1987,"44:30","19:49"],
    [201,104,"","","","","","","",184,"Kratochvíl Alexaandr","Alexandr",1994,"44:31","19:50"],
    [202,"","","","","","",7,"",153,"Vričanová Sylva","SKOB Havířov",1967,"44:37","19:56"],
    [203,"","","","","","","",23,43,"Štěpánová Lenka","Ostrava",1987,"44:42","20:01"],
    [204,"",42,"","","","","","",66,"Stecker Marek","HO Start Ostrava",1974,"45:12","20:31"],
    [205,"","","","","","","",24,151,"Kolibová Jana","SDH Metylovice",1984,"45:33","20:52"],
    [206,"","","","","","","",25,122,"Michalčíková Eliška","",1987,"45:47","21:06"],
    [207,"","","",5,"","","","",155,"Kamenec Ivan","InTeS",1943,"46:22","21:41"],
    [208,"","","","","","","",26,72,"fujakova katerina ","skob havirov",1985,"46:34","21:53"],
    [209,"","","","","","","",27,146,"Jirková Petra","Abadžikra",1984,"46:35","21:54"],
    [210,105,"","","","","","","",156,"Muck Pavel","HO Start Ostrava",1978,"47:30","22:49"],
    [211,"","","","","",4,"","",182,"Chýlková Patricie","Tichá",2001,"47:37","22:56"],
    [212,"","","","","","","",28,239,"Iskrytskaya Tamara","přátelé Zleleného údolí",1978,"48:19","23:38"],
    [213,"","","","","","",8,"",162,"Fukalová Radmila","HO Start Ostrava - Poruba",1970,"49:06","24:25"],
    [214,"","","","","","","",29,186,"Fišerová Veronika","VK Perun Ostrava",1982,"50:02","25:21"],
    [215,"",43,"","","","","","",136,"Milkov Marin","VK Perun Ostrava",1966,"50:15","25:34"],
    [216,"","","","","","","",30,237,"Zezulová Lucie","HO Start Ostrava",1986,"50:40","25:59"],
    [217,"",44,"","","","","","",166,"Březík Marek","",1971,"52:13","27:32"],
    [218,"","",21,"","","","","",55,"Ďásek Petr","HO Start Ostrava",1963,"52:17","27:36"],
    [219,"","","","","","","",31,75,"Richterová Nela","",1994,"52:46","28:05"],
    [220,"","","","","","","",32,2,"Balcarová Petra","H. O. Přírodní vědy",1983,"53:12","28:31"],
    [221,"","","","","","",9,"",142,"Pajurková Karla","",1975,"55:02","30:21"],
    [222,106,"","","","","","","",173,"Frank Tomas","",1981,"56:42","32:01"],
    [223,"",45,"","","","","","",138,"Solich Roman","VK Perun Ostrava",1967,"58:12","33:31"],
    [224,"",46,"","","","","","",175,"Vinovský Libor","HO Start Ostrava",1975,"58:18","33:37"]
  ]

%>

<!-- Content -->
<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">


        <h2>Výsledky 46. ročníku</h2>

        <div class="space20"></div>

        <div class="col-md-12 right">
          výsledky ke stažení <a class="more" href="/hlavni_zavod.pdf" target="_blank">hlavni_zavod.pdf</a> a <a class="more" href="/detsky_zavod.pdf" target="_blank">detsky_zavod.pdf</a>
        </div>

        <div class="space10"></div>

        <table class="table table-bordered">
          <thead>
            <tr class="result">
              <th class="v-middle" rowspan="2">#</th>
              <th colspan="5">Muži</th>
              <th colspan="3">Ženy</th>
              <th class="v-middle" rowspan="2">St.<br>číslo</th>
              <th class="v-middle" rowspan="2">Jméno</th>
              <th class="v-middle" rowspan="2">Oddíl</th>
              <th class="v-middle" rowspan="2">Ročník</th>
              <th class="v-middle" rowspan="2">Čas</th>
              <th class="v-middle" rowspan="2">Ztráta</th>
            </tr>
            <tr class="result">
              <th class="w-5">A</th>
              <th class="w-5">B</th>
              <th class="w-5">C</th>
              <th class="w-5">K</th>
              <th class="w-5">J</th>
              <th class="w-5">D</th>
              <th class="w-5">S</th>
              <th class="w-5">Z</th>
            </tr>
          </thead>

          <tbody>

            <% results.each_with_index do |r, index| %>
              <tr class="<%= index%2 == 0 ? 'even' : 'odd' %>">
                  <td class="center"><%= index + 1 %></td>
                  <td class="center w-5"><%= r[1] %></td>
                  <td class="center w-5"><%= r[2] %></td>
                  <td class="center w-5"><%= r[3] %></td>
                  <td class="center w-5"><%= r[4] %></td>
                  <td class="center w-5"><%= r[5] %></td>
                  <td class="center w-5"><%= r[6] %></td>
                  <td class="center w-5"><%= r[7] %></td>
                  <td class="center w-5"><%= r[8] %></td>
                  <td class="center"><%= r[9] %></td>
                  <td><%= r[10] %></td>
                  <td><%= r[11] %></td>
                  <td class="center"><%= r[12] %></td>
                  <td class="center"><%= r[13] %></td>
                  <td class="center"><%= r[14] %></td>
              </tr> 
            <% end %>

          </tbody>
        </table>

      </div>
    </div>
    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->

