<%= render :partial => 'partials/titlebar', locals: {title: 'Výsledky'} %>

<%
  results = [
    ["1", "", "1", "", "", "", "", "", "", "37", "Waloszek Václav", "Innomotics run", "1999", "27:10", "00:00"],
    ["2", "", "2", "", "", "", "", "", "", "114", "Ceniga Peter", "", "1990", "27:40", "00:30"],
    ["3", "", "3", "", "", "", "", "", "", "1", "Radomský Marek", "", "1989", "28:06", "00:56"],
    ["4", "", "", "", "1", "", "", "", "", "113", "Vanko  Miroslav ", "Dom srdca Martin ", "1973", "28:23", "01:13"],
    ["5", "", "", "1", "", "", "", "", "", "22", "Tretera Marek", "Innomotics run", "1980", "28:52", "01:42"],
    ["6", "", "4", "", "", "", "", "", "", "132", "Hradil Pavel", "Titan Trilife", "1998", "29:00", "01:50"],
    ["7", "", "", "", "2", "", "", "", "", "62", "Holiš Martin", "", "1974", "29:07", "01:57"],
    ["8", "", "5", "", "", "", "", "", "", "53", "Škuca Zbyněk ", "Akez /Kopřivnice", "1987", "29:23", "02:13"],
    ["9", "", "6", "", "", "", "", "", "", "69", "Mynarčík Jan", "HS Pustevny", "1993", "30:07", "02:57"],
    ["10", "", "7", "", "", "", "", "", "", "83", "Škoda Kristián", "CK Frenštát p. R.", "1990", "30:11", "03:01"],
    ["11", "", "", "2", "", "", "", "", "", "141", "Filipec Petr", "Prodřeň na dřeň", "1984", "30:14", "03:04"],
    ["12", "1", "", "", "", "", "", "", "", "116", "Matyáštík Max", "Titan Trilife Zlín", "2008", "31:02", "03:52"],
    ["13", "", "8", "", "", "", "", "", "", "115", "Jurečka Tomáš", "", "1996", "31:05", "03:55"],
    ["14", "", "9", "", "", "", "", "", "", "118", "Schüler Petr", "Tři křížky", "1990", "31:12", "04:02"],
    ["15", "", "10", "", "", "", "", "", "", "124", "Pupík Pavel ", "Lokomotiva Trojanovice", "1995", "31:26", "04:16"],
    ["16", "", "11", "", "", "", "", "", "", "103", "Žitník Richard", "HS Pustevny ", "1999", "31:26", "04:16"],
    ["17", "", "", "3", "", "", "", "", "", "120", "Jašek Radovan", "Partia Frenštát", "1980", "31:42", "04:32"],
    ["18", "", "", "", "3", "", "", "", "", "15", "Hartig David", "Burik Running team", "1973", "31:42", "04:32"],
    ["19", "", "", "", "4", "", "", "", "", "11", "Choleva Petr", "Lítací Jelen", "1974", "31:59", "04:49"],
    ["20", "", "", "4", "", "", "", "", "", "43", "Píša  Martin", "TOBI sport Frenštát p.R.", "1982", "32:05", "04:55"],
    ["21", "", "", "5", "", "", "", "", "", "107", "Mikala David", "AKEZ Kopřivnice", "1982", "32:11", "04:01"],
    ["22", "", "12", "", "", "", "", "", "", "148", "Girard Petr", "SK Skialpin Pustevny", "1987", "32:14", "05:04"],
    ["23", "", "", "6", "", "", "", "", "", "145", "Chocholáč Jiří", "Středeční monumenty", "1981", "32:16", "05:06"],
    ["24", "", "13", "", "", "", "", "", "", "66", "Výduch Luděk ", "Tři křížky", "1988", "32:26", "05:16"],
    ["25", "", "14", "", "", "", "", "", "", "64", "Lanča Jakub", "", "1996", "32:30", "05:20"],
    ["26", "", "", "", "5", "", "", "", "", "133", "Řeháček Michael", "Vlčí smečka", "1969", "32:41", "05:31"],
    ["27", "", "", "", "", "", "", "1", "", "109", "Olejníčková  Jana", "OILS TEAM ", "1988", "32:43", "05:33"],
    ["28", "", "", "", "6", "", "", "", "", "150", "Sčerba nMarek", "Labe Tri Klub", "1969", "33:21", "06:11"],
    ["29", "", "", "", "7", "", "", "", "", "147", "Baláž Roman", "Baláž EXTREME-TEAM Frenštát p.R.", "1965", "33:27", "06:17"],
    ["30", "", "", "", "", "", "", "", "1", "139", "Hyvnarová Zuzana", "Pohoda team Kopřivnice", "1984", "33:30", "06:20"],
    ["31", "", "", "7", "", "", "", "", "", "68", "Goláň  Vojta ", "AC Sportguides Rožnov p.R.", "1983", "33:48", "06:38"],
    ["32", "", "", "8", "", "", "", "", "", "34", "Barabáš Jan ", "VK Olomouc", "1976", "33:50", "06:40"],
    ["33", "", "", "9", "", "", "", "", "", "143", "Grigorescu Lubor", "Středeční monumenty", "1981", "33:54", "06:44"],
    ["34", "", "", "10", "", "", "", "", "", "135", "Hrdina Libor", "", "1979", "33:59", "06:49"],
    ["35", "", "15", "", "", "", "", "", "", "71", "Obšil Přemysl", "VHS Brno", "1991", "34:46", "07:36"],
    ["36", "", "", "", "8", "", "", "", "", "90", "Olejník Jaroslav", "", "1967", "34:47", "07:37"],
    ["37", "", "", "", "", "", "", "", "2", "13", "Petrová Soňa", "AKEZ Kopřivnice", "1977", "34:49", "07:39"],
    ["38", "", "", "11", "", "", "", "", "", "134", "Kocurek Jaroslav", "Středeční monumenty", "1981", "34:55", "07:45"],
    ["39", "", "16", "", "", "", "", "", "", "28", "Křístek Petr", "HO VŠB TU Ostrava", "1987", "35:17", "08:07"],
    ["40", "", "", "12", "", "", "", "", "", "119", "Dlouhý Lukáš", "Příbor", "1982", "35:52", "08:42"],
    ["41", "", "17", "", "", "", "", "", "", "73", "Šimon Jozef", "", "1988", "35:56", "08:46"],
    ["42", "", "18", "", "", "", "", "", "", "111", "Burdilák Radek", "Vranov sunday runners", "1985", "35:57", "08:47"],
    ["43", "", "19", "", "", "", "", "", "", "129", "Škorňa Michael", "Active Tour - Stamimax", "1997", "36:00", "08:50"],
    ["44", "", "", "13", "", "", "", "", "", "102", "Bernard Adam", "Pro dřeň na dřeň", "1984", "36:07", "08:57"],
    ["45", "", "", "", "", "", "", "2", "", "151", "Smolková Pavla", "Labe Tri Klub", "1987", "36:09", "08:59"],
    ["46", "", "20", "", "", "", "", "", "", "3", "Novotný  Martin ", "", "1988", "36:11", "09:01"],
    ["47", "", "", "", "", "", "1", "", "", "88", "Kurková  Kateřina ", "AC Sportguides Rožnov pod Radhoštěm ", "2010", "36:15", "09:05"],
    ["48", "", "", "", "9", "", "", "", "", "108", "Jeřábek  Martin ", "AKEZ Kopřivnice ", "1974", "36:15", "09:05"],
    ["49", "", "", "14", "", "", "", "", "", "144", "Zezhulčík Marek", "Středeční monumenty", "1981", "36:17", "09:07"],
    ["50", "", "", "", "", "1", "", "", "", "24", "Pavlík Miroslav", "MOUNTAINTIME.cz", "1964", "36:20", "09:10"],
    ["51", "", "21", "", "", "", "", "", "", "140", "Beneš Jakub", "HK Laši v kaši", "1988", "36:24", "09:14"],
    ["52", "", "", "15", "", "", "", "", "", "46", "Mareš Petr", "HO START Ostrava", "1979", "36:42", "09:32"],
    ["53", "", "22", "", "", "", "", "", "", "106", "Žůrek Pavel", "", "1988", "36:44", "09:34"],
    ["54", "", "", "", "", "", "", "3", "", "82", "Juríčková Marta", "Atletika Nový Jičín", "1994", "36:45", "09:35"],
    ["55", "", "23", "", "", "", "", "", "", "121", "Hanzelka Lukáš", "", "1990", "36:57", "09:47"],
    ["56", "", "", "", "10", "", "", "", "", "149", "Pšenica Julius", "SK Zafar Frenštát", "1967", "37:07", "09:57"],
    ["57", "", "", "", "11", "", "", "", "", "86", "Harabiš Zbyněk", "Titan Trojanovice", "1965", "37:11", "10:01"],
    ["58", "", "", "16", "", "", "", "", "", "126", "Balint Viktor", "The Minions", "1978", "37:15", "10:05"],
    ["59", "", "24", "", "", "", "", "", "", "96", "Marák Jakub", "SDH Mniší", "1994", "37:22", "10:12"],
    ["60", "", "", "", "12", "", "", "", "", "8", "Lipina Tomáš", "Mk Seitl Ostrava", "1966", "37:24", "10:14"],
    ["61", "", "25", "", "", "", "", "", "", "95", "Černošek Tomáš", "SDH Mniší", "1994", "37:28", "10:18"],
    ["62", "", "", "17", "", "", "", "", "", "14", "Kaňovský Ondřej", "Modrá ústřice", "1983", "37:35", "10:25"],
    ["63", "", "", "18", "", "", "", "", "", "12", "Pokluda Jiří", "BBCHŠ", "1979", "38:02", "10:52"],
    ["64", "", "", "19", "", "", "", "", "", "26", "Pupik Vladan", "Lokomotiva Trojanovice", "1983", "38:05", "10:55"],
    ["65", "", "26", "", "", "", "", "", "", "85", "Punge Samuel", "SK Přerov", "2006", "38:06", "10:56"],
    ["66", "", "", "20", "", "", "", "", "", "57", "Maloň Vladimír", "Lokomotiva Trojanovice", "1980", "38:07", "10:57"],
    ["67", "", "", "", "", "", "", "", "3", "125", "Imrichová Dagmar", "-", "1977", "38:10", "11:00"],
    ["68", "", "", "", "13", "", "", "", "", "33", "Maliňák Tomáš", "James", "1971", "38:27", "11:17"],
    ["69", "", "", "", "", "", "", "4", "", "77", "Krčmáriková Veronika", "", "2002", "38:32", "11:22"],
    ["70", "", "", "", "14", "", "", "", "", "84", "Punge Petr", "SK Přerov", "1967", "38:38", "11:28"],
    ["71", "", "27", "", "", "", "", "", "", "7", "Kocián Tomáš", "LM3X", "1987", "38:41", "11:31"],
    ["72", "", "", "", "15", "", "", "", "", "81", "Kubečka Tomáš", "", "1972", "39:00", "11:50"],
    ["73", "", "", "", "16", "", "", "", "", "117", "Magdon Roman", "Duke Corporation", "1970", "39:28", "12:18"],
    ["74", "", "", "", "17", "", "", "", "", "18", "Fiala  David", "", "1970", "39:32", "12:22"],
    ["75", "", "", "21", "", "", "", "", "", "89", "Jaška Marek", "", "1978", "39:33", "12:23"],
    ["76", "", "", "22", "", "", "", "", "", "92", "Jalůvka Robert", "SDH Mniší", "1976", "39:48", "12:38"],
    ["77", "", "", "23", "", "", "", "", "", "136", "Čtvrtečka Roman", "James", "1984", "39:55", "12:45"],
    ["78", "", "", "24", "", "", "", "", "", "98", "Šimíček Petr", "SDH Mniší", "1979", "40:04", "12:54"],
    ["79", "", "28", "", "", "", "", "", "", "94", "Marák Ondřej", "SDH Mniší", "1991", "40:40", "13:30"],
    ["80", "", "", "", "", "2", "", "", "", "63", "Šelepa Rudolf", "", "1964", "40:46", "13:36"],
    ["81", "", "", "", "", "", "", "", "4", "100", "Geryková Helena", "Baláž EXTREME-WOMEN'S TEAM", "1978", "40:51", "13:41"],
    ["82", "", "", "", "", "", "2", "", "", "52", "Juračáková  Judita ", "TJ Trojanovice Bystré ", "2010", "40:52", "13:42"],
    ["83", "", "29", "", "", "", "", "", "", "79", "Třaskoš Štěpán", "Trhoši", "2006", "40:53", "13:43"],
    ["84", "", "30", "", "", "", "", "", "", "44", "Boža Václav", "LowellPro Runing Team", "1996", "40:55", "13:45"],
    ["85", "", "", "", "", "", "", "5", "", "21", "Havránková Katerina", "Fyzioterapie Krmelín", "1986", "41:02", "13:52"],
    ["86", "", "31", "", "", "", "", "", "", "76", "Heralt Jiří", "", "2002", "41:09", "13:59"],
    ["87", "", "32", "", "", "", "", "", "", "31", "Muras Lukáš", "", "1996", "41:23", "14:13"],
    ["88", "", "", "", "18", "", "", "", "", "58", "Ott Radovan", "Frenštát ", "1973", "41:26", "14:16"],
    ["89", "", "", "", "19", "", "", "", "", "75", "Vaněk Roman", "SK Oceláci Ostrava", "1966", "41:30", "14:20"],
    ["90", "2", "", "", "", "", "", "", "", "123", "Káňa Martin", "Káňovci", "2012", "41:30", "14:20"],
    ["91", "", "", "25", "", "", "", "", "", "17", "Berek Stanislav", "Štěpánkovice", "1983", "41:39", "14:29"],
    ["92", "", "", "26", "", "", "", "", "", "49", "Sotolář Petr", "HO START Ostrava", "1982", "41:56", "14:46"],
    ["93", "", "33", "", "", "", "", "", "", "39", "Angyal Michal", "", "1986", "42:01", "14:51"],
    ["94", "", "", "", "20", "", "", "", "", "54", "Kocurek Igor", "", "1971", "42:11", "15:01"],
    ["95", "", "", "", "21", "", "", "", "", "5", "Bezstarosti Milan ", "", "1972", "42:13", "15:03"],
    ["96", "", "", "27", "", "", "", "", "", "105", "Klepl Matěj", "", "1978", "42:22", "15:12"],
    ["97", "", "34", "", "", "", "", "", "", "20", "Hromada Jiří", "", "1986", "42:31", "15:21"],
    ["98", "", "", "28", "", "", "", "", "", "27", "Třaskoš Milan", "Trhoši", "1979", "42:34", "15:24"],
    ["99", "", "", "", "", "3", "", "", "", "61", "Orság  Josef", "Pomalé šípy ", "1964", "42:39", "15:29"],
    ["100", "", "", "", "", "4", "", "", "", "127", "Vávra Petr", "HO Start Ostrava", "1962", "42:44", "15:34"],
    ["101", "", "", "29", "", "", "", "", "", "65", "Moravcik Petr", "James", "1981", "42:47", "15:37"],
    ["102", "", "", "", "22", "", "", "", "", "2", "Olejník Dalibor", "", "1965", "42:48", "15:38"],
    ["103", "", "", "30", "", "", "", "", "", "97", "Holub Svatopluk", "SDH Mniší", "1977", "43:16", "16:06"],
    ["104", "", "", "31", "", "", "", "", "", "101", "Guber Roman", "(Pod)vodníci", "1978", "43:17", "16:07"],
    ["105", "", "", "32", "", "", "", "", "", "35", "Filip Honza", "Praha 10", "1976", "43:37", "16:27"],
    ["106", "", "35", "", "", "", "", "", "", "137", "Zigmund Kristian", "", "1995", "43:46", "16:36"],
    ["107", "", "36", "", "", "", "", "", "", "10", "Slavík Jiří", "Klub běhu po rovině, Olomouc", "1987", "43:46", "16:36"],
    ["108", "", "", "", "23", "", "", "", "", "87", "Slíva Pavel", "Pomalé šípy Kopřivnice", "1971", "43:52", "16:42"],
    ["109", "", "", "33", "", "", "", "", "", "99", "Jurečka Libor", "SDH Mniší", "1980", "44:07", "16:57"],
    ["110", "", "37", "", "", "", "", "", "", "104", "Stražovec Tomáš ", "SK ZaFaR Frenštát p.R ", "1988", "44:13", "17:03"],
    ["111", "", "", "", "", "", "", "", "5", "6", "Korčeková Ivana", "", "1982", "44:16", "17:06"],
    ["112", "", "", "", "", "", "", "6", "", "42", "Bestová Monika", "", "1992", "44:16", "17:06"],
    ["113", "", "", "34", "", "", "", "", "", "138", "Zápeca Miroslavc", "Leskové", "1978", "44:19", "17:09"],
    ["114", "", "38", "", "", "", "", "", "", "36", "Skýpala Jakub", "", "1997", "44:24", "17:14"],
    ["115", "", "", "", "", "", "", "7", "", "80", "Mikulenková Erika", "", "1989", "44:34", "17:24"],
    ["116", "", "", "", "", "", "", "8", "", "72", "Obšilová Eliška", "VHS Brno", "1993", "44:52", "17:42"],
    ["117", "", "", "", "", "5", "", "", "", "128", "Fikáček Ivo", "", "1956", "44:57", "17:47"],
    ["118", "", "", "", "", "", "", "", "6", "19", "Fialová  Hana ", "", "1972", "45:06", "17:56"],
    ["119", "3", "", "", "", "", "", "", "", "142", "Choleva Gabriel ", "Lítací jelen", "2012", "45:11", "18:01"],
    ["120", "", "", "", "", "6", "", "", "", "59", "Groš Štefan", "SK ZaFaR Frenštát p.R", "1961", "45:24", "18:14"],
    ["121", "", "", "", "", "7", "", "", "", "91", "Hájovský Tomáš", "Hlučín", "1964", "45:37", "18:27"],
    ["122", "", "39", "", "", "", "", "", "", "25", "Kahánek Václav", "Stopaři PRO team", "1992", "45:37", "18:27"],
    ["123", "", "", "35", "", "", "", "", "", "74", "Káňa Tom", "Kanovci", "1976", "45:49", "18:39"],
    ["124", "", "", "", "", "", "", "", "7", "131", "Lacigová Simona", "Trojanovice", "1962", "45:49", "18:39"],
    ["125", "", "", "36", "", "", "", "", "", "93", "Holub Štěpán", "SDH Mniší", "1981", "46:09", "18:59"],
    ["126", "", "", "", "24", "", "", "", "", "16", "Král Roman", "", "1969", "46:31", "19:21"],
    ["127", "", "", "", "", "", "", "9", "", "41", "Kleinová  Jaroslava ", "", "1985", "46:33", "19:23"],
    ["128", "", "", "", "", "", "", "", "8", "110", "Horutová Simona", "", "1976", "46:44", "19:34"],
    ["129", "", "", "", "", "", "", "", "9", "67", "Gregořicová Jitka", "Azimut", "1977", "46:47", "19:37"],
    ["130", "", "40", "", "", "", "", "", "", "70", "Heralt Michal", "", "2003", "47:02", "19:52"],
    ["131", "", "41", "", "", "", "", "", "", "38", "Mandúr Šimon", "", "2002", "47:13", "20:03"],
    ["132", "", "42", "", "", "", "", "", "", "55", "Sedlák Marek", "Lokomotiva Trojanovice", "1986", "48:19", "21:09"],
    ["133", "", "", "", "", "", "", "", "10", "112", "Pěšalová Petra", "Anděl na horách", "1979", "48:44", "21:34"],
    ["134", "", "", "", "", "8", "", "", "", "29", "Bučánek Jiří ", "", "1956", "48:45", "21:35"],
    ["135", "", "", "", "", "", "", "", "11", "32", "Škrdová Danuše", "", "1965", "48:45", "21:35"],
    ["136", "", "", "", "", "", "", "", "12", "60", "Drhová Štefanova Marie", "SK ZaFaR Frenštát p.R", "1970", "48:46", "21:36"],
    ["137", "", "43", "", "", "", "", "", "", "23", "Murárik Radim", "MK Seitl Ostrava", "1992", "48:47", "21:37"],
    ["138", "", "", "", "", "", "", "", "13", "9", "Palagyiová  Martina", "", "1981", "50:31", "23:21"],
    ["139", "", "44", "", "", "", "", "", "", "56", "Kowboj Kowboj", "", "1988", "50:32", "23:22"],
    ["140", "", "", "", "", "9", "", "", "", "78", "Martinák Zdeněk", "", "1960", "51:28", "24:18"],
    ["141", "", "", "", "", "10", "", "", "", "130", "Janák Karel", "Trojanovice", "1956", "52:11", "25:01"],
    ["142", "", "", "37", "", "", "", "", "", "30", "Nejedlý Tomáš", "", "1979", "52:25", "25:15"],
    ["143", "", "", "", "25", "", "", "", "", "122", "Skýpala Karel", "Frenštát p.R.", "1969", "53:06", "25:56"],
    ["144", "", "", "", "", "11", "", "", "", "45", "Ďásek Petr", "HO START Ostrava", "1963", "58:53", "31:43"]
  ]
%>

<!-- Content -->
<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <div class="space20"></div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#actual" aria-controls="actual" role="tab" data-toggle="tab">Aktuální ročník</a></li>
          <li role="presentation"><a href="#older" aria-controls="older" role="tab" data-toggle="tab">Starší ročníky</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <!-- aktualni rocnik -->
          <div role="tabpanel" class="tab-pane active" id="actual">
            <h2>Výsledky 54. ročníku</h2>

            <div class="space20"></div>
            <div class="col-md-12 right">
              výsledky ke stažení <a class="more" href="/hlavni_zavod.pdf" target="_blank">hlavni_zavod.pdf</a> a <a class="more" href="/detsky_zavod.pdf" target="_blank">detsky_zavod.pdf</a>
            </div>

            <div class="space10"></div>

            <table class="table table-bordered">
              <thead>
                <tr class="result">
                  <th class="v-middle" rowspan="2">#</th>
                  <th colspan="5">Muži</th>
                  <th colspan="3">Ženy</th>
                  <th class="v-middle" rowspan="2">St.<br>číslo</th>
                  <th class="v-middle" rowspan="2">Jméno</th>
                  <th class="v-middle" rowspan="2">Oddíl</th>
                  <th class="v-middle" rowspan="2">Ročník</th>
                  <th class="v-middle" rowspan="2">Čas</th>
                  <th class="v-middle" rowspan="2">Ztráta</th>
                </tr>
                <tr class="result">
                  <th class="w-5">J</th>
                  <th class="w-5">A</th>
                  <th class="w-5">B</th>
                  <th class="w-5">C</th>
                  <th class="w-5">D</th>
                  <th class="w-5">ZJ</th>
                  <th class="w-5">ZA</th>
                  <th class="w-5">ZB</th>
                </tr>
              </thead>

              <tbody>

                <% results.each_with_index do |r, index| %>
                  <tr class="<%= index%2 == 0 ? 'even' : 'odd' %>">
                      <td class="center"><%= index + 1 %></td>
                      <td class="center w-5"><%= r[1] %></td>
                      <td class="center w-5"><%= r[2] %></td>
                      <td class="center w-5"><%= r[3] %></td>
                      <td class="center w-5"><%= r[4] %></td>
                      <td class="center w-5"><%= r[5] %></td>
                      <td class="center w-5"><%= r[6] %></td>
                      <td class="center w-5"><%= r[7] %></td>
                      <td class="center w-5"><%= r[8] %></td>
                      <td class="center"><%= r[9] %></td>
                      <td><%= r[10] %></td>
                      <td><%= r[11] %></td>
                      <td class="center"><%= r[12] %></td>
                      <td class="center"><%= r[13] %></td>
                      <td class="center"><%= r[14] %></td>
                  </tr> 
                <% end %>

              </tbody>
            </table>

          </div>

          <!-- starsi rocniky -->
          <div role="tabpanel" class="tab-pane" id="older">

            <div class="row">

              <div class="col-md-4">
                <h3>53. ročník - 2023</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2023.pdf" target="_blank">hlavni_zavod_2023.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2023.pdf" target="_blank">detsky_zavod_2023.pdf</a>
                </ul>   
              </div>

              <div class="col-md-4">
                <h3>52. ročník - 2022</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2022.pdf" target="_blank">hlavni_zavod_2022.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2022.pdf" target="_blank">detsky_zavod_2022.pdf</a>
                </ul>   
              </div>

              <div class="col-md-4">
                <h3>50. ročník - 2019</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2019.pdf" target="_blank">hlavni_zavod_2019.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2019.pdf" target="_blank">detsky_zavod_2019.pdf</a>
                </ul>   
              </div>

            </div>

            <div class="row">

              <div class="col-md-4">
                <h3>49. ročník - 2018</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2018.pdf" target="_blank">hlavni_zavod_2018.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2018.pdf" target="_blank">detsky_zavod_2018.pdf</a>
                </ul>   
              </div>

              <div class="col-md-4">
                <h3>48. ročník - 2017</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2017.pdf" target="_blank">hlavni_zavod_2017.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2017.pdf" target="_blank">detsky_zavod_2017.pdf</a>
                </ul>   
              </div>

              <div class="col-md-4">
                <h3>47. ročník - 2016</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2016.pdf" target="_blank">hlavni_zavod_2016.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2016.pdf" target="_blank">detsky_zavod_2016.pdf</a>
                </ul>   
              </div>

            </div>

            <div class="row">

              <div class="col-md-4">
                <h3>46. ročník - 2015</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2015.pdf" target="_blank">hlavni_zavod_2015.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2015.pdf" target="_blank">detsky_zavod_2015.pdf</a>
                </ul>   
              </div>

            </div>


          </div>
        </div>

      </div>
    </div>
    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->

