<%= render :partial => 'partials/titlebar', locals: {title: 'Výsledky'} %>

<%
  results = [
      [1,"",1,"","","","","","",201,"Grebik Radim","Titian Trilife",2001,"24:36","00:00"],
      [2,"",2,"","","","","","",111,"Hradil Pavel","TITAN TRILIFE",1998,"26:01","01:25"],
      [3,"","",1,"","","","","",234,"Holiš Martin","Běžecký areál Pustevny",1974,"26:14","01:38"],
      [4,"",3,"","","","","","",230,"Bednarský Václav","Titan trilife",2001,"26:24","01:48"],
      [5,"",4,"","","","","","",255,"Václavík Filip","TITAN TRILIFE",1995,"26:41","02:05"],
      [6,"",5,"","","","","","",26,"Kunčický Jan","AK Šnek",1999,"26:54","02:18"],
      [7,"",6,"","","","","","",280,"Wurst Milan","HOREDOLE",1982,"26:56","02:20"],
      [8,"",7,"","","","","","",289,"Poklop Martin","SK Severka Šumperk",1988,"27:00","02:24"],
      [9,"",8,"","","","","","",184,"Waloszek Václav","AK Havířov",1999,"27:14","02:38"],
      [10,"",9,"","","","","","",63,"Fousek Jan","Mk Seitl Ostrava",1991,"27:29","02:53"],
      [11,"",10,"","","","","","",288,"Mudrák Štěpán","Natkemp legends",1996,"27:58","03:22"],
      [12,"",11,"","","","","","",290,"Schuster Marek","Natkemp legends",1993,"28:23","03:47"],
      [13,"",12,"","","","","","",183,"Ožana Lukáš","AK Havířov",1997,"28:57","04:21"],
      [14,"",13,"","","","","","",101,"Škoda Kristián","CK Continental Frenštát p. R.",1990,"29:12","04:36"],
      [15,"",14,"","","","","","",1,"Radomský Marek","",1989,"29:18","04:42"],
      [16,"",15,"","","","","","",220,"Blaha Ondřej","Hutisko-Solanec",1986,"29:27","04:51"],
      [17,"",16,"","","","","","",17,"Kimla Jan","",1984,"29:29","04:53"],
      [18,"",17,"","","","","","",188,"Čáň Daniel","VivatSport",1993,"30:00","05:24"],
      [19,"",18,"","","","","","",76,"Kramoliš Jiří","AKEZ Kopřivnice",1991,"30:07","05:31"],
      [20,"",19,"","","","","","",56,"Střalka Radek","Lokomotiva Trojanovice",1995,"30:10","05:34"],
      [21,"","",2,"","","","","",162,"Mazánek Vladimír","HO START",1979,"30:14","05:38"],
      [22,"","",3,"","","","","",272,"Šták Daniel","Baník Ostrava",1976,"30:22","05:46"],
      [23,"",20,"","","","","","",150,"Filgas Ondřej","HO Vítkovice",1981,"30:37","06:01"],
      [24,"",21,"","","","","","",6,"Střalka Tomáš","Lokomotiva Trojanovice",1990,"30:38","06:02"],
      [25,"",22,"","","","","","",39,"Kvita Jiří","",1987,"30:46","06:10"],
      [26,"","",4,"","","","","",92,"Choleva Petr","Lítací Jelen",1974,"30:50","06:14"],
      [27,"","","",1,"","","","",80,"Olejník Jaroslav","SK Rozvíjej se poupátko",1967,"30:53","06:17"],
      [28,"","",5,"","","","","",22,"Prouza Robert","Trojanovice",1977,"31:04","06:28"],
      [29,"",23,"","","","","","",211,"Glogar Jaroslav","",1993,"31:17","06:41"],
      [30,"",24,"","","","","","",174,"Marak Jakub","SDH Mniší",1994,"31:20","06:44"],
      [31,"","","","","","",1,"",70,"Srníčková Veronika","Veřovice",1990,"31:24","06:48"],
      [32,"","","",2,"","","","",228,"Baláž Roman","Baláž EXTREME-TEAM Frenštát p.R.",1965,"31:28","06:52"],
      [33,"",25,"","","","","","",163,"Tabach Richard","Kozlovice",1997,"31:29","06:53"],
      [34,"",26,"","","","","","",37,"Bordovsky Lukas","Lokomotiva Trojanovice",1988,"31:38","07:02"],
      [35,"",27,"","","","","","",97,"Mikala David","AKEZ Kopřivnice",1982,"31:48","07:12"],
      [36,"",28,"","","","","","",46,"Křístek Petr","HO VŠB-TU Ostrava",1987,"31:49","07:13"],
      [37,"",29,"","","","","","",236,"Jasek Radovan","",1980,"31:52","07:16"],
      [38,"","","","","","",2,"",253,"Svobodová Tereza","TITAN TRILIFE",2000,"32:03","07:27"],
      [39,"",30,"","","","","","",58,"Šimůnek Petr","",1998,"32:08","07:32"],
      [40,1,"","","","","","","",281,"Feranec Adam","SSK Vítkovice",2002,"32:12","07:36"],
      [41,"","","",3,"","","","",36,"Pšenica Julius","Solne-Ivor",1967,"32:14","07:38"],
      [42,"","","","","","",3,"",275,"Vašinová Petra","Nutrend team",1990,"32:19","07:43"],
      [43,"","",6,"","","","","",269,"Grycman Kazymir","Polsko",1972,"32:21","07:45"],
      [44,"","",7,"","","","","",218,"Raška Radek","AKEZ Kopřivnice",1976,"32:25","07:49"],
      [45,"","",8,"","","","","",120,"Klimánek Lukáš","HO START Ostrava",1979,"32:26","07:50"],
      [46,"","","",4,"","","","",206,"Porwisz Jiří","RUN99 Havířov",1966,"32:34","07:58"],
      [47,"","",9,"","","","","",59,"Hanke David","AKEZ Kopřivnice",1971,"32:34","07:58"],
      [48,"","","","","","","",1,145,"Quittová Lenka","",1974,"32:35","07:59"],
      [49,"",31,"","","","","","",157,"Řezáč Martin","Mushing Team Ostrava",1982,"32:42","08:06"],
      [50,2,"","","","","","","",7,"Sokol Marek","Atletika Poruba",2002,"32:43","08:07"],
      [51,"","",10,"","","","","",61,"Plhoň Jakub","KČT SOPTÍCI Bystřice p.H.",1978,"32:43","08:07"],
      [52,"",32,"","","","","","",29,"Kazárik Jiří","",1984,"32:51","08:15"],
      [53,"",33,"","","","","","",296,"Grigorescu Lubor","Středeční monumenty",1981,"32:53","08:17"],
      [54,"","","",5,"","","","",245,"Mynář Jura","MTB ONDŘEJNÍK",1965,"32:58","08:22"],
      [55,"",34,"","","","","","",167,"Jurek Jan","PRO DŘEŇ NA DŘEŇ",1984,"33:01","08:25"],
      [56,"","","",6,"","","","",248,"Pavlík Miroslav","MOUNTAINTIME team",1964,"33:04","08:28"],
      [57,"",35,"","","","","","",77,"Bernard Adam","PRO DŘEŇ NA DŘEŇ",1984,"33:07","08:31"],
      [58,"",36,"","","","","","",68,"Pupík Pavel","Lokomotiva Trojanovice",1995,"33:12","08:36"],
      [59,"",37,"","","","","","",165,"Wolf Tomáš","",1996,"33:13","08:37"],
      [60,"","",11,"","","","","",121,"Mareš Petr","HO START Ostrava",1979,"33:19","08:43"],
      [61,"","",12,"","","","","",30,"Petřek Libor","TJ Gumárny Zubří",1971,"33:25","08:49"],
      [62,"","",13,"","","","","",237,"Jeziorski Piotr","Caramba Team",1978,"33:29","08:53"],
      [63,"","",14,"","","","","",223,"Cigánek Martin","",1979,"33:31","08:55"],
      [64,"","","","","","",4,"",242,"Miklišová Lucie","TITAN TRILIFE",2001,"33:32","08:56"],
      [65,"","","",7,"","","","",34,"Lipina Tomáš","MK Seitl Ostrava",1966,"33:37","09:01"],
      [66,"",38,"","","","","","",74,"Vavřík Tomáš","SKOB Ostrava",2000,"33:40","09:04"],
      [67,"","",15,"","","","","",160,"Filgas Jan","",1973,"33:50","09:14"],
      [68,"",39,"","","","","","",99,"Blahuta Tomáš","Biatlon Ostrava",1992,"34:07","09:31"],
      [69,"","",16,"","","","","",25,"Gilar Lukáš","Tichá",1976,"34:16","09:40"],
      [70,3,"","","","","","","",227,"King Samuel","Wichterlovo Gymnázium",2006,"34:17","09:41"],
      [71,"","","","",1,"","","",266,"Mück Arnošt","Hranice",1959,"34:24","09:48"],
      [72,"","","","","","","",2,198,"Kovařčíková Helena","Poličná",1978,"34:26","09:50"],
      [73,"","",17,"","","","","",91,"Chýlek Patrik","",1973,"34:33","09:57"],
      [74,"",40,"","","","","","",267,"Bukovan Martin","",1989,"34:34","09:58"],
      [75,"",41,"","","","","","",292,"Kocián Daniel","Hupnakolo",1987,"34:39","10:03"],
      [76,"",42,"","","","","","",100,"Chromečka Jan","",1994,"34:44","10:08"],
      [77,"","",18,"","","","","",123,"Šustek Pavel","HO START Ostrava",1979,"34:47","10:11"],
      [78,"","",19,"","","","","",66,"Kubečka Tomáš","",1972,"34:57","10:21"],
      [79,"","","","",2,"","","",215,"Barbořák Bohuš","TJ Liga 100 Olomouc",1959,"35:04","10:28"],
      [80,"","",20,"","","","","",86,"Šubert Pavel","Neběžecký kroužek",1974,"35:06","10:30"],
      [81,"","","",8,"","","","",212,"Mrklovský Petr","AKEZ Kopřivnice",1966,"35:09","10:33"],
      [82,"","",21,"","","","","",217,"Veselý Antonín","ČHS",1976,"35:17","10:41"],
      [83,"","","","",3,"","","",283,"Orlicki Stanislav","Orzel-Rudze",1959,"35:24","10:48"],
      [84,"",43,"","","","","","",48,"Machnik Vojtěch","",1983,"35:26","10:50"],
      [85,"",44,"","","","","","",257,"Žůrek Pavel","",1988,"35:26","10:50"],
      [86,4,"","","","","","","",3,"Káňa Filip","Káňovci",2006,"35:29","10:53"],
      [87,"","",22,"","","","","",197,"Knotek Jan","TOBI Sport Frenštát p.R.",1972,"35:35","10:59"],
      [88,"","",23,"","","","","",45,"Lapáček Marek","Prosenice",1976,"35:41","11:05"],
      [89,"","",24,"","","","","",43,"Maliňák Tomáš","James, Rožnov",1971,"35:47","11:11"],
      [90,"",45,"","","","","","",271,"Böhm Lukáš","TJ Sokol Frenštát pR",1993,"35:50","11:14"],
      [91,"",46,"","","","","","",2,"Novotný Martin","",1988,"35:51","11:15"],
      [92,5,"","","","","","","",252,"Sedlařík David","TITAN TRILIFE",2003,"35:55","11:19"],
      [93,"",47,"","","","","","",293,"Beneš Daniel","Sintesi racing",1981,"35:56","11:20"],
      [94,"",48,"","","","","","",83,"Merta Miroslav","Abadzikra",1984,"36:00","11:24"],
      [95,"","",25,"","","","","",90,"Wilczyński Petr","Alpsport/Ježek na kopci",1976,"36:11","11:35"],
      [96,"","",26,"","","","","",5,"Bílek Pavel","",1970,"36:12","11:36"],
      [97,"",49,"","","","","","",175,"Černošek Tomáš","SDH Mniší",1994,"36:15","11:39"],
      [98,"","",27,"","","","","",54,"Volný Petr","TJ Gumárny Zubří",1979,"36:24","11:48"],
      [99,"","","",9,"","","","",103,"Zátopek Jiří","AK EZ Kopřivnice",1960,"36:41","12:05"],
      [100,"",50,"","","","","","",263,"Murárik Radim","",1992,"36:45","12:09"],
      [101,"",51,"","","","","","",258,"Přemysl Obšil","SK Skialpin Pustevny",1991,"36:46","12:10"],
      [102,"",52,"","","","","","",173,"Zabenský Stanislav","SDH Mniší",1991,"36:47","12:11"],
      [103,6,"","","","","","","",138,"Heralt Jiří","",2002,"36:48","12:12"],
      [104,"",53,"","","","","","",38,"Melnar Alois","",1994,"36:52","12:16"],
      [105,"","","","","","","",3,14,"Gregořicová Jitka","Azimut",1977,"36:55","12:19"],
      [106,"","",28,"","","","","",204,"Kocurek Igor","",1971,"36:58","12:22"],
      [107,"","",29,"","","","","",262,"Pokluda Jiří","PJR",1979,"36:59","12:23"],
      [108,"","","","","","","",4,108,"Rybářová Lidka","L.A.RYBY",1972,"37:00","12:24"],
      [109,"","",30,"","","","","",60,"Kolouch David","",1976,"37:01","12:25"],
      [110,"","",31,"","","","","",264,"Procházka Libor","SK Skialpin Pustevny",1977,"37:03","12:27"],
      [111,"","",32,"","","","","",239,"Kocián Jan","V3t",1977,"37:09","12:33"],
      [112,"",54,"","","","","","",180,"Hupšil Radim","VHS Brno",1984,"37:10","12:34"],
      [113,"","","",10,"","","","",221,"Burget Miloslav","1.MtB Opatovice",1961,"37:17","12:41"],
      [114,"","","",11,"","","","",154,"Šimeček Radim","Midar Příbor",1969,"37:20","12:44"],
      [115,"","",33,"","","","","",127,"Kaluža Radim","příznivec HO START Ostrava",1976,"37:21","12:45"],
      [116,"",55,"","","","","","",172,"Marak Ondřej","SDH Mniší",1991,"37:21","12:45"],
      [117,"","","","","","","",5,219,"Kocichová Eva","",1978,"37:26","12:50"],
      [118,"","","",12,"","","","",95,"Šelepa Rudolf","R+P",1964,"37:30","12:54"],
      [119,"",56,"","","","","","",122,"Sotolář Petr","HO START Ostrava",1982,"37:37","13:01"],
      [120,"","","",13,"","","","",179,"Mikunda Miloš","Rožnov pod Radhoštěm",1964,"37:39","13:03"],
      [121,"","","","","","",5,"",82,"Bublíková Dominika","",1989,"37:41","13:05"],
      [122,"","",34,"","","","","",177,"Šimíček Petr","SDH Mniší",1979,"37:42","13:06"],
      [123,"","",35,"","","","","",199,"Kovařčík Daniel","Poličná",1979,"37:45","13:09"],
      [124,"",57,"","","","","","",51,"Moravcik Petr","James, Roznov",1981,"37:50","13:14"],
      [125,"","",36,"","","","","",205,"David Tomáš","",1975,"37:52","13:16"],
      [126,"","","","","","","",6,110,"Sedláčková Petra","S.K. ZaFaR Frenštát p. R.",1971,"37:56","13:20"],
      [127,"",58,"","","","","","",222,"Maloň Vladimír","Lokomotiva Trojanovice",1980,"38:03","13:27"],
      [128,"","","",14,"","","","",10,"Olejník Dalibor","Ostrava - Poruba",1965,"38:05","13:29"],
      [129,"",59,"","","","","","",131,"Ďásek Karel","příznivec HO START Ostrava",1992,"38:06","13:30"],
      [130,"",60,"","","","","","",203,"Kawulok Martin","Hrádek ve Slezsku",1984,"38:11","13:35"],
      [131,"","","",15,"","","","",284,"Kubáň Radomír","Pohodáři",1965,"38:16","13:40"],
      [132,"","","",16,"","","","",276,"Krzyžanek Dušan","Gumárny Zubří",1966,"38:18","13:42"],
      [133,"","","",17,"","","","",124,"Vávra Petr","HO START Ostrava",1962,"38:19","13:43"],
      [134,"",61,"","","","","","",244,"Mynarčík Petr","HO VSK VŠB TU Ostrava, Družba_krú",1985,"38:23","13:47"],
      [135,"","","","","","","",7,134,"Giergielová Markéta","SKIBIKECENTRUM.CZ team",1979,"38:25","13:49"],
      [136,"",62,"","","","","","",196,"Březina Martin","Běžecký klub Kubánkov",1988,"38:30","13:54"],
      [137,"",63,"","","","","","",274,"Frank Tomáš","Abadzikra",1982,"38:34","13:58"],
      [138,"","","","",4,"","","",79,"Kvita Josef","a. k.emila zatopka",1951,"38:35","13:59"],
      [139,"","","","","","",6,"",114,"Němčíková Jana","Biatlon Ostrava z.s.",2000,"38:43","14:07"],
      [140,"",64,"","","","","","",85,"Neumann Břetislav","",1983,"38:45","14:09"],
      [141,"","","",18,"","","","",193,"Salawa Jiří","Hlučín",1967,"38:48","14:12"],
      [142,"","","","",5,"","","",69,"Přívětivý Miroslav","Příbor",1953,"38:51","14:15"],
      [143,"",65,"","","","","","",71,"Čtvrtečka Roman","James",1984,"38:56","14:20"],
      [144,"",66,"","","","","","",117,"Latečka Roman","HO START Ostrava",1983,"38:59","14:23"],
      [145,"","","","",6,"","","",146,"Fikáček Ivo","---",1956,"39:04","14:28"],
      [146,"","","",19,"","","","",187,"Janyška František","",1969,"39:08","14:32"],
      [147,"",67,"","","","","","",286,"Jandura Roman","Orlová",1992,"39:09","14:33"],
      [148,"","","",20,"","","","",55,"Sýkora Josef","",1963,"39:11","14:35"],
      [149,"","","","","","",7,"",102,"Jírová Kateřina","Opava",1981,"39:16","14:40"],
      [150,"","","",21,"","","","",41,"Groš Štefan","S.K.  ZaFaR Frenštát p.R",1961,"39:24","14:48"],
      [151,"","","",22,"","","","",21,"Pernica Pavel","Tj Gumárny Zubří",1965,"39:26","14:50"],
      [152,"","","","","","","",8,84,"Škrdová Danuše","",1965,"39:31","14:55"],
      [153,"",68,"","","","","","",50,"Kaňovský Ondřej","Modra ustrice",1983,"39:38","15:02"],
      [154,"",69,"","","","","","",136,"Pivoňka Josef","",1987,"39:46","15:10"],
      [155,"",70,"","","","","","",35,"Dvorský Jan","Nový Jičín",1981,"39:52","15:16"],
      [156,"","",37,"","","","","",109,"Rybář Andrej","L.A.RYBY",1972,"39:56","15:20"],
      [157,"","","","","","",8,"",57,"Marková Nikola","TOBI Sport Frenštát p.R.",1996,"39:57","15:21"],
      [158,"",71,"","","","","","",112,"Pop Ondřej","",1994,"39:57","15:21"],
      [159,"","","","","","",9,"",273,"Štáková Kateřina","Baník Ostrava",1981,"39:59","15:23"],
      [160,"","","","","","",10,"",297,"Hapalová Iva","AC sport guides Rožnov p.R.",1985,"40:02","15:26"],
      [161,"","",38,"","","","","",171,"Holub Svatopluk","SDH Mniší",1977,"40:04","15:28"],
      [162,"",72,"","","","","","",11,"Štývar Jiří","",1989,"40:39","16:03"],
      [163,"","",39,"","","","","",300,"Zela Radek Čert","Cowboy",1978,"40:41","16:05"],
      [164,"",73,"","","","","","",287,"Burdilák Radek","",1985,"40:42","16:06"],
      [165,"","",40,"","","","","",209,"Slíva Pavel","Pomalé šípy Kopřivnice",1971,"40:51","16:15"],
      [166,"","","","","","",11,"",73,"Procházková Anežka","HO VSK VŠB TU Ostrava, Družba_krú",1997,"40:52","16:16"],
      [167,"",74,"","","","","","",191,"Michálek Pavel","",1988,"40:56","16:20"],
      [168,"","",41,"","","","","",16,"Jeřábek Kamil","VK Perun Ostrava",1976,"40:58","16:22"],
      [169,"",75,"","","","","","",142,"Makový Roman","",1984,"41:03","16:27"],
      [170,"","",42,"","","","","",285,"Dobšík Lubomír","BeskydSki",1978,"41:16","16:40"],
      [171,"","","",23,"","","","",106,"Orság Josef","Pomalé šípy Kopřivnice",1964,"41:18","16:42"],
      [172,"",76,"","","","","","",169,"Kašpárek Radim","",1988,"41:23","16:47"],
      [173,"",77,"","","","","","",254,"Tylich Milan","Hurtis Gym",1984,"41:33","16:57"],
      [174,"","","","","",1,"","",229,"Balážová Anna","Baláž EXTREME-TEAM Frenštát p.R.",2006,"41:33","16:57"],
      [175,"","","",24,"","","","",181,"Němec Zdeněk","",1963,"41:38","17:02"],
      [176,"",78,"","","","","","",195,"Pavel Jakub","KPVJ",1980,"41:41","17:05"],
      [177,"","","","","","","",9,151,"Richterová Věra","Pomalé šípy",1968,"41:42","17:06"],
      [178,"","","","","","",12,"",202,"Pupíková Markéta","Lokomotiva Trojanovice",1993,"41:45","17:09"],
      [179,"",79,"","","","","","",210,"Nečas Aleš","Ani za nic",1982,"41:48","17:12"],
      [180,"","","",25,"","","","",152,"Richter LIbor","Pomalé šípy",1962,"41:48","17:12"],
      [181,"","","","",7,"","","",78,"Bučánek Jiří","",1956,"41:51","17:15"],
      [182,"",80,"","","","","","",298,"Pavliska Jakub","Huisman / BBFM",1987,"41:55","17:19"],
      [183,"","","",26,"","","","",33,"Král Roman","",1969,"41:57","17:21"],
      [184,"","","","",8,"","","",265,"Chytil Vladimír ","DD Všechovice",1950,"42:08","17:32"],
      [185,"","",43,"","","","","",261,"Herman Adam","HO Start",1976,"42:11","17:35"],
      [186,"","","",27,"","","","",268,"Solich Cezary","Bojanow",1967,"42:11","17:35"],
      [187,"","",44,"","","","","",278,"Bezstarosti MIlan ","Kopřivnice",1972,"42:24","17:48"],
      [188,"","",45,"","","","","",189,"Stošek René","Hlučín",1972,"42:31","17:55"],
      [189,"","","","","","",13,"",75,"Benáčková Marta","",1982,"42:37","18:01"],
      [190,"","",46,"","","","","",96,"Nosek Michal","SK Oceláci Ostrava",1979,"42:48","18:12"],
      [191,"",81,"","","","","","",277,"Holuša Marek","Alpsport",1982,"42:51","18:15"],
      [192,"","",47,"","","","","",28,"Kolář Petr","",1973,"42:55","18:19"],
      [193,"","","","",9,"","","",89,"Skupieň Josef","Slavíč",1957,"42:57","18:21"],
      [194,"","",48,"","","","","",279,"Maléř Martin","Pomalé šípy",1973,"42:59","18:23"],
      [195,"",82,"","","","","","",208,"Glogar Petr","SemTamBěh",1981,"43:03","18:27"],
      [196,"","","","",10,"","","",27,"Kunčický Jan","AK Šnek",1958,"43:24","18:48"],
      [197,"","",49,"","","","","",282,"Frýdl Petr","",1977,"43:30","18:54"],
      [198,"","",50,"","","","","",164,"Koleček Čestmír","Zubří",1974,"43:31","18:55"],
      [199,"","","",28,"","","","",194,"Hájovský Tomáš","",1964,"43:34","18:58"],
      [200,"","",51,"","","","","",147,"Filip Jan","VK Perun Ostrava",1976,"43:38","19:02"],
      [201,"","","","","","","",10,32,"Máchová Monika","Pomalé šípy",1972,"43:51","19:15"],
      [202,"","","","","","",14,"",118,"Bolcková Monika","HO START Ostrava",1984,"44:04","19:28"],
      [203,"","",52,"","","","","",4,"Káňa Tom","Káňovci",1976,"44:14","19:38"],
      [204,"","","",29,"","","","",149,"Pecha Roman","VK Perun Ostrava",1966,"44:17","19:41"],
      [205,"","","","","","",15,"",19,"Svěchotová Natálie","SKOB Ostrava",1997,"44:19","19:43"],
      [206,"","",53,"","","","","",190,"Mikulenka Tomáš","",1970,"44:30","19:54"],
      [207,"","","","","","","",11,67,"Hanzlová Svatava","PJR Frenštát p. R.",1966,"44:36","20:00"],
      [208,"",83,"","","","","","",132,"Růžička Adam","příznivec HO START Ostrava",1990,"44:46","20:10"],
      [209,"","","","","","",16,"",294,"Stránská Lucia","Pomalé šípy",1984,"44:53","20:17"],
      [210,"",84,"","","","","","",295,"Hruška Tomáš","",1986,"44:53","20:17"],
      [211,"","","","","","","",12,94,"Kurková Martina","Běhat nás baví",1963,"44:54","20:18"],
      [212,"",85,"","","","","","",135,"Svoboda Petr","",1989,"45:09","20:33"],
      [213,7,"","","","","","","",225,"Třaskoš Štěpán","Trhoši",2006,"45:11","20:35"],
      [214,"","","","","","",17,"",125,"Skřivanová Marie","HO START Ostrava",1987,"45:13","20:37"],
      [215,"","",54,"","","","","",224,"Třaskoš Milan","Trhoši",1979,"45:17","20:41"],
      [216,"","","","","",2,"","",185,"Pavlíčková Veronika","SVČ fokus NJ",2005,"45:18","20:42"],
      [217,"","","",30,"","","","",105,"Vavřík Jaroslav","",1960,"45:19","20:43"],
      [218,"",86,"","","","","","",9,"Odstrčilík Zdeněk","Bojanovice!",1981,"45:21","20:45"],
      [219,"",87,"","","","","","",170,"Hrabovský Tomáš","SDH Mniší",1983,"45:31","20:55"],
      [220,"","","","","","","",13,144,"Hříbková Kamila","",1974,"45:36","21:00"],
      [221,"","","","","","",18,"",88,"Brázdilová Kateřina","",1990,"45:56","21:20"],
      [222,"",88,"","","","","","",104,"Pícha Jan","",1985,"45:57","21:21"],
      [223,"","","","","","",19,"",200,"Šnapková Petra","FRIEND Ostrava",1985,"45:59","21:23"],
      [224,"","","","","","",20,"",65,"Polochová Markéta","",1990,"46:03","21:27"],
      [225,8,"","","","","","","",130,"Urbaník Petr","příznivec HO START Ostrava",2008,"46:11","21:35"],
      [226,"","","","","","","",14,64,"Perůtková Šárka","Studénka",1975,"46:18","21:42"],
      [227,"",89,"","","","","","",24,"Polášek Roman","",1988,"46:24","21:48"],
      [228,"","","","","","",21,"",107,"Korčeková Ivana","",1982,"46:28","21:52"],
      [229,"","","",31,"","","","",139,"Blahuta Břetislav","příznivec HO START Ostrava",1961,"46:37","22:01"],
      [230,"","","",32,"","","","",270,"Jersák Milan","HO Nový Jičín",1960,"46:49","22:13"],
      [231,"","","","","","",22,"",137,"Kožušníková Iva","",1992,"46:51","22:15"],
      [232,"",90,"","","","","","",62,"Sedlák Marek","Lokomotiva Trojanovice",1986,"46:56","22:20"],
      [233,"",91,"","","","","","",250,"Pupík Vladan","Lokomotiva Trojanovice",1983,"46:57","22:21"],
      [234,"",92,"","","","","","",166,"Wolf Radomír","",1988,"47:16","22:40"],
      [235,"","",55,"","","","","",31,"Kunz Martin","",1973,"47:18","22:42"],
      [236,"","","","",11,"","","",72,"Trombik Emil","Český Těšín",1946,"47:23","22:47"],
      [237,"","","","",12,"","","",168,"Daniel Imrich","HO START",1957,"47:23","22:47"],
      [238,"","","","","","",23,"",23,"Hudečková Hana","",1984,"47:32","22:56"],
      [239,"",93,"","","","","","",12,"Herot Lukáš","",1984,"47:33","22:57"],
      [240,"","","","","","","",15,42,"Drhová Marie","S.K. ZaFaR Frenštát p.R",1970,"47:34","22:58"],
      [241,"","","","","","","",16,40,"Kociánová Naďa","",1966,"47:39","23:03"],
      [242,"","","","","","",24,"",156,"Kelnerová Kamila","-",1982,"48:15","23:39"],
      [243,"","","","","","",25,"",53,"Bája Bája","Klub přátel Velkého Javorníku !",1981,"48:45","24:09"],
      [244,"","","","","","",26,"",140,"Bambuchová Markéta","",1992,"48:46","24:10"],
      [245,"","","","","","","",17,259,"Janyšková Jolana","Červená hvězda",1970,"49:38","25:02"],
      [246,"","",56,"","","","","",133,"Stecker Marek","HO START Ostrava",1974,"50:20","25:44"],
      [247,"",94,"","","","","","",126,"Skřivan Filip","HO START Ostrava",1985,"51:57","27:21"],
      [248,"","","","","",3,"","",113,"Němčíková Adéla","Biatlon Ostrava z.s.",2004,"51:58","27:22"],
      [249,"",95,"","","","","","",161,"Zavičák Petr","",1980,"51:58","27:22"],
      [250,"",96,"","","","","","",260,"Káňa Josef","Tým Spočni",1987,"53:21","28:45"],
      [251,"","","","","","",27,"",207,"Glogarová Kateřina","SemTamBěh",1983,"53:46","29:10"],
      [252,"","","",33,"","","","",98,"Platzek Jiří","Hlučín",1964,"54:02","29:26"],
      [253,"",97,"","","","","","",128,"Zámostný Jan","příznivec HO START Ostrava",1982,"54:08","29:32"],
      [254,"","","","",13,"","","",81,"Giecek Jaromír","",1956,"54:15","29:39"],
      [255,"","","","","","","",18,299,"Kožuszniková Andrea","",1977,"54:44","30:08"],
      [256,"","","",34,"","","","",148,"Milkov Marin","VK Perun Ostrava",1966,"55:18","30:42"],
      [257,"","","",35,"","","","",119,"Ďásek Petr","HO START Ostrava",1963,"56:17","31:41"],
      [258,"","","","","","",28,"",251,"Richterová Nela","",1994,"57:47","33:11"],
      [259,"","","","","","",29,"",143,"Giecková Kateřina","",1990,"57:48","33:12"],
      [260,"",98,"","","","","","",52,"Ďábel Ďábel","Klub přátel Velkého Javorníku !",1981,"59:47","35:11"],
      [261,"","","","",14,"","","",291,"Karban Jiří","Rožnov p.R.",1953,"78:55","54:19"]    ]
%>

<!-- Content -->
<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <div class="space20"></div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#actual" aria-controls="actual" role="tab" data-toggle="tab">Aktuální ročník</a></li>
          <li role="presentation"><a href="#older" aria-controls="older" role="tab" data-toggle="tab">Starší ročníky</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <!-- aktualni rocnik -->
          <div role="tabpanel" class="tab-pane active" id="actual">
            <h2>Výsledky 50. ročníku</h2>

            <div class="space20"></div>

            <div class="col-md-12 right">
              výsledky ke stažení <a class="more" href="/hlavni_zavod.pdf" target="_blank">hlavni_zavod.pdf</a> a <a class="more" href="/detsky_zavod.pdf" target="_blank">detsky_zavod.pdf</a>
            </div>

            <div class="space10"></div>

            <table class="table table-bordered">
              <thead>
                <tr class="result">
                  <th class="v-middle" rowspan="2">#</th>
                  <th colspan="5">Muži</th>
                  <th colspan="3">Ženy</th>
                  <th class="v-middle" rowspan="2">St.<br>číslo</th>
                  <th class="v-middle" rowspan="2">Jméno</th>
                  <th class="v-middle" rowspan="2">Oddíl</th>
                  <th class="v-middle" rowspan="2">Ročník</th>
                  <th class="v-middle" rowspan="2">Čas</th>
                  <th class="v-middle" rowspan="2">Ztráta</th>
                </tr>
                <tr class="result">
                  <th class="w-5">J</th>
                  <th class="w-5">A</th>
                  <th class="w-5">B</th>
                  <th class="w-5">C</th>
                  <th class="w-5">D</th>
                  <th class="w-5">ZJ</th>
                  <th class="w-5">ZA</th>
                  <th class="w-5">ZB</th>
                </tr>
              </thead>

              <tbody>

                <% results.each_with_index do |r, index| %>
                  <tr class="<%= index%2 == 0 ? 'even' : 'odd' %>">
                      <td class="center"><%= index + 1 %></td>
                      <td class="center w-5"><%= r[1] %></td>
                      <td class="center w-5"><%= r[2] %></td>
                      <td class="center w-5"><%= r[3] %></td>
                      <td class="center w-5"><%= r[4] %></td>
                      <td class="center w-5"><%= r[5] %></td>
                      <td class="center w-5"><%= r[6] %></td>
                      <td class="center w-5"><%= r[7] %></td>
                      <td class="center w-5"><%= r[8] %></td>
                      <td class="center"><%= r[9] %></td>
                      <td><%= r[10] %></td>
                      <td><%= r[11] %></td>
                      <td class="center"><%= r[12] %></td>
                      <td class="center"><%= r[13] %></td>
                      <td class="center"><%= r[14] %></td>
                  </tr> 
                <% end %>

              </tbody>
            </table>

          </div>

          <!-- starsi rocniky -->
          <div role="tabpanel" class="tab-pane" id="older">

            <div class="row">

              <div class="col-md-4">
                <h3>49. ročník - 2018</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2018.pdf" target="_blank">hlavni_zavod_2018.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2018.pdf" target="_blank">detsky_zavod_2018.pdf</a>
                </ul>   
              </div>

              <div class="col-md-4">
                <h3>48. ročník - 2017</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2017.pdf" target="_blank">hlavni_zavod_2017.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2017.pdf" target="_blank">detsky_zavod_2017.pdf</a>
                </ul>   
              </div>

              <div class="col-md-4">
                <h3>47. ročník - 2016</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2016.pdf" target="_blank">hlavni_zavod_2016.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2016.pdf" target="_blank">detsky_zavod_2016.pdf</a>
                </ul>   
              </div>

            </div>



            <div class="row">

              <div class="col-md-4">
                <h3>46. ročník - 2015</h3>

                <div class="space10"></div>

                <ul class="list-a">
                  <li><a class="more" href="/hlavni_zavod_2015.pdf" target="_blank">hlavni_zavod_2015.pdf</a>
                  <li><a class="more" href="/detsky_zavod_2015.pdf" target="_blank">detsky_zavod_2015.pdf</a>
                </ul>   
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->

