<div class="col-md-10">
  <div class="row space70"></div>
    <nav id="nav" role="navigation">
      <a href="#nav" title="Show navigation">Show navigation</a>
      <a href="#" title="Hide navigation">Hide navigation</a>
      <ul class="clearfix" style="padding-left: 0px !important;">
<% if false %>
        <li class="<%= 'active' if params[:action].eql?('home') %>"><%= link_to 'Úvod', home_page_url %></li>
<% end %>
        <li class="<%= 'active' if params[:action].eql?('programme') %>"><%= link_to 'Propozice', programme_page_path %></li>
        <li class="<%= 'active' if ['new', 'create'].include?(params[:action]) %>"><%= link_to 'Přihláška', new_entrant_path %></li>
        <li class="<%= 'active' if params[:action].eql?('index') %>"><%= link_to 'Seznam přihlášených', entrants_path %></li>
<% if true %>
        <li class="<%= 'active' if params[:action].eql?('results') %>"><%= link_to 'Výsledky', results_page_path %></li>
        <li class="<%= 'active' if params[:action].eql?('gallery') %>"><%= link_to 'Galerie', gallery_page_path %></li>
<% end %>
      </ul>
    </nav>
  </div> 
</div> 
