<%= render :partial => 'partials/titlebar', locals: {title: 'Seznam přihlášených'} %>

<!-- Content -->
<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <%= render 'partials/covid' %>

        <h2>Seznam registrovaných závodníků</h2>

        <ul class="list-a">
          <li>
            V případě, že Vám do jednoho dne od přihlášení nepřijde e-mail s informacemi k zaplacení startovného, prosíme, kontaktujte nás na e-mailu <a class="more" href="mailto:behdovrchu@email.cz">behdovrchu@email.cz</a>.
          </li>
          <li>
            Číslo na začátku řádku <b>NENÍ</b> startovní číslo
          </li>
        </ul>

        <div class="space20"></div> 

        <%= render(:partial => "partials/flash", :locals => { :flash => flash }) %>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="col-md-1">#</th>
              <th class="col-md-2">Jméno</th>
              <th class="col-md-3">Příjmení</th>
              <th class="col-md-3">Oddíl</th>
              <th class="col-md-1">Rok</th>
              <th class="col-md-1">Horolezec</th>
              <th class="col-md-1">Zaplaceno</th>
            </tr>
          </thead>
          <tbody>

            <% @entrants.each_with_index do |entrant, index| %>
              <tr class="<%= index%2 == 0 ? 'even' : 'odd' %>">
                <td class="center"><%= index + 1 %></td>
                <td><%= entrant.first_name %></td>
                <td><%= entrant.surname %></td>
                <td><%= entrant.club %></td>
                <td class="center"><%= entrant.year %></td>
                <td class="center"><%= entrant.climber ? 'ANO' : 'NE' %></td>
                <td class="center <%= entrant.paid ? '' : 'un' %>paid"><%= entrant.paid ? 'ANO' : 'NE' %></td>
              </tr>  
            <% end %>

          </tbody>
        </table>

      </div>
    </div>

    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->
