<%= render :partial => 'partials/titlebar', locals: {title: 'Přihláška'} %>

<!-- Content -->
<div id="content">
  <div class="container">

    <!-- Hlavni zavod -->
    <div class="row">
      <div class="col-md-12">
        <h2>Přihláška</h2>

        <div class="space20"></div> 

        <%= render :partial => "partials/errors", :locals => {:object => @entrant} %>

        <%= form_for @entrant, :html=>{:class=>'form form-comment'} do |f| %>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Jméno *</label>
                <%= f.text_field :first_name, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Příjmení *</label>
                <%= f.text_field :surname, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Email *</label>
                <%= f.text_field :email, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Datum narození (formát dd.mm.yyyy) *</label>
                <%= f.text_field :birthday, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Oddíl</label>
                <%= f.text_field :club, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Adresa</label>
                <%= f.text_field :address, class: "form-control" %>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-4">
              Pole označená hvězdičkou (*) jsou povinná!
            </div>
            <div class="col-md-8">
              <%= button_tag( :class => "btn f-right") do %>
                <i class="icon-ok"></i> Přihlásit
              <% end %>
            </div>
          </div>

        <% end %>

      </div>
    </div>

    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->
